[2017-05-05 21:40] cvan commented on #1271
I'd like to work on this. Especially when videos take a while to load (which is pretty much always), having a black screen while the video loads (or having to manually apply an image texture yourself), it's just not ideal default behaviour.

The HTML5 `<video>` tag already supports the [`poster` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-poster) (not just used

[2017-05-05 23:00] cvan commented on #2577
Thanks for looking into this. A-Frame already injects these `<meta>` tags for Safari/WebKit for iOS.

If you load your phone in landscape mode, the "pseudo-fullscreen mode" won't trigger. But, if you turn your phone back to portrait mode and then back to landscape mode, the "pseduo-fullscreen mode" _will_ trigger. I looked in the [`webvr-polyfill`](https://github.com/googlevr/webvr-polyfill), but

[2017-05-05 23:05] cvan commented on #2598
(I assume this is the same issue, but correct me if I'm wrong.) Loading the Inspector from Docs doesn't work https://aframe.io/docs/0.5.0/guides/:

![screen shot 2017-05-05 at 4 02 35 pm](https://cloud.githubusercontent.com/assets/203725/25767255/8a5bebee-31ac-11e7-9899-a0a35b83f926.png)
![screen shot 2017-05-05 at 4 02 46 pm](https://cloud.githubusercontent.com/assets/203725/25767257/8a607326-31a

[2017-05-05 23:06] cvan commented on #2605
@caseyyee is this the same bug you were talking about?

[2017-05-05 23:07] cvan commented on #2614
@machenmusik, @caseyyee, or @mkeblx (!) – someone who has a functional Oculus Browser device: can you take a looksie?

(I'm waiting on a new Samsung Gear VR case)

[2017-05-06 05:48] BhuvanaMeenakshi commented on #2651
I want to work on this

[2017-05-06 05:49] BhuvanaMeenakshi commented on #2354
I want to work on this

[2017-05-06 05:50] BhuvanaMeenakshi commented on #2287
I want to work on this

[2017-05-06 05:51] BhuvanaMeenakshi commented on #2635
I want to work on this

[2017-05-06 17:45] caseyyee commented on #2605
Seems to work for me.   The user height issue was resolved a few weeks ago, and was due to stageParameters returning null.

[2017-05-07 10:32] derhuebiii commented on #2349
+1, still getting the same error...

[2017-05-07 16:18] derhuebiii commented on #2351
Worth to mention that callibrating the sensor on my Galaxy S7 just did wonders. I thought it was laggy fps-wise but then I figured it was running quite smoothly without the gyrosensor.

Callibration on S7 is making this "8" with the phone, Google has a good explanation here:
https://support.google.com/maps/answer/6145351?hl=de

[2017-05-07 16:29] derhuebiii commented on #2577
Yes, that's correct, didn't realize that before. If this workaround would be implemented a "pop-up"/modal like we get when entering the VR mode in portrait mode that a turn to portrait and back helps would also help for that problem. Of course not optimal, but the best we might get currently with iOS...

[2017-05-08 11:55] shaunmnemonic opened #2659 "GearVR Oculus Browser - Hides VR Button, but fails to enter VR"
**Description:**

When loading in the Oculus browser the 'EnterVR Goggles' get hidden because the `auto-enter.js` file tries to auto-enter-vr, but requires a user interaction and the goggles don't re-appear.

- A-Frame Version: 0.5.0
- Platform / Device: GearVR, Oculus Browser
- Reproducible Code Snippet or URL: Any of the Aframe.io Examples

[2017-05-08 21:14] starwaver opened #2660 "Distortion at top and bottom of 360 images"
There's distortion on the top and bottom of the 360 image

Here's the screenshots from the A-frame demo:
http://imgur.com/a/0Fd0K

Any idea how to fix it?

[2017-05-08 22:41] dmarcos commented on #2660
That distortion in the poles is an artifact of the consumer cameras used to capture 360 panoramas. Usually 2 fish-eye lenses on opposite sides that capture 180 degrees. The only way to fix that is using multi camera rigs that minimize distortion across the whole sphere. (e.g https://shop.gopro.com/virtualreality/omni---all-inclusive/MHDHX-006.html). There's nothing we can do on the aframe side.

[2017-05-08 22:46] starwaver commented on #2660
Hi,

The distortion isn't caused by an artifact of the camera. The reason is because the experience we are building uses 360 rendered images, and have being reproduced on another viewer (made with Unity) with no artifact.

Here are the comparison:
viewer built with Aframe with artifact:
![image](https://cloud.githubusercontent.com/assets/7750800/25828518/8dabff90-341e-11e7-9b2b-1175ea62e0c9.png)

[2017-05-08 23:04] cvan commented on #2577
Though not ideal, this is a good idea - thanks for the suggestion. (FYI, we also have #1239, which is somewhat related.) I'll repurpose this issue to address that. I'll grab this one; if you want to contribute a PR too, I can help review it. (Don't feel blocked on me, if you need this fixed, is what I'm saying.) Thanks for your help again 👍

[2017-05-09 00:20] mkeblx commented on #2659
This doesn't occur on master.

[2017-05-09 00:49] mkeblx commented on #2614
Will do.

[2017-05-09 01:04] #2405 closed

[2017-05-09 01:55] mkeblx commented on #2635
BhuvanaMeenakshi this should be fixed in #2647

[2017-05-09 03:12] cvan commented on #2614
thanks, @mkeblx. I'll debug it once I get my new Samsung Gear VR; if you (or someone else) can get to it before then, sweet!

[2017-05-09 10:02] jues opened #2661 "Big size ply model won't load"
Hi, how can I load the model like this?
[world - old.ply.zip](https://github.com/aframevr/aframe-boilerplate/files/986207/world.-.old.ply.zip)

- A-Frame Version: 0.5.0
- Platform / Device: edge or chrome with gtx 1060
- Reproducible Code Snippet or URL:

[code]

[2017-05-09 14:00] cvan commented on #2653
Can we reconsider adding this? I think it's a common enough question to warrant sticking an answer in the FAQ.

[2017-05-09 17:22] NNskelly opened #2662 "INSPECTOR BROKEN - 'asset' type schema property objects being re-parsed as URLs"
**Description:**
As of ~11:30CST May 9, the latest a-frame inspector min.js as retrieved from unpkg.com e.g. by the A-Painter demo is now throwing errors whenever an entity is selected which has a material component with a src or other map (or asset?) property.  The error manifests as a "e.match is not a function" js error in an obscurely nested minified block in which e appears to be the actual p

[2017-05-09 18:28] NNskelly commented on #2662
a variety of other issues, likely related, also show up, some suggesting a corrupted/misfiled canvas context, others that sound like somewhere that _is_ expecting a valid parsed object are instead getting some earlier state e.g. a raw string, although I am having difficulty isolating deterministic repro steps.  Clicking between entities with different types of shader, or with and without materials

[2017-05-10 01:04] machenmusik commented on #2660
which versions/commits do we see this problem with?  0.5.0?  latest master?

[2017-05-10 01:14] dmarcos commented on #2660
Can you share a link to a working demo that reproduces the problem? The distortion at the poles is a common effect of equirectangular projected 360 images. There's less information per pixel. You can see how any 360 photo on flicker you display also presents the same issues:

https://www.flickr.com/groups/360degrees/pool/

[2017-05-10 01:34] wjhtinger opened #2663 "Do aframe can support play 360 live stream video?"
I want to play 360 live stream video come from webrtc client, how?

[2017-05-10 01:36] starwaver commented on #2660
@machenmusik We are using 0.5.0 for this project.

@dmarcos Here's the link to our test demo we are building
https://beta.babylonvr.ca/viewer

For comparison, here's the exact same image we used but with react VR, they somehow fixed the problem
http://test1.babylon360.com/vr/

[2017-05-10 02:00] bryik commented on #2660
I think Pannellum gets around this kind of distortion by ["using an exact mathematical mapping from an equirectangular image to a rectilinear view"](https://github.com/mpetroff/pannellum/issues/142). Implementing [this](https://github.com/mpetroff/pannellum/blob/master/doc/pannellum-equirectangular-projection-reference.pdf) looks pretty difficult...cube maps are an easier solution.

[2017-05-10 03:33] machenmusik commented on #2660
I see what you mean about distortion

but I don't recall this happening in prior versions, wondering if it is dimensions distortion (effectively clipping the picture which is bad for equirect) or insufficient sphere tesselation

it is certainly possible to deal with entirely in shader (compute texture coordinates based on observed long/lat regardless of shape) which is probably along the lines of

[2017-05-10 03:37] donmccurdy commented on #2661
Hi! Posted a reply on the [other issue](https://github.com/donmccurdy/aframe-extras/issues/148). Going to close this issue out, since the `ply-model` component is only in aframe-extras.

Thanks,
Don

[2017-05-10 03:37] #2661 closed

[2017-05-10 13:53] cvan commented on #2663
thanks for the interest. if you're referring to HLS video streaming (which iOS uses), see PR #2597. if you're referring to just normal video streaming, browsers handle that fine as is. if you're referring to DASH video support? that can be easily supported in WebGL/three.js, but nobody has written a third-party A-Frame component for it yet, but one could be easily written to support DASH video str

[2017-05-10 15:19] wjhtinger commented on #2663
Thank you detail feedback. A quesiton, what your "normal video streaming" mean? I just want to play live 360 stream by Webrtc, I dont know how to use aframe to render that 360 video.

[2017-05-10 16:29] cvan commented on #2663
I think what you want is `navigator.getUserMedia` + WebRTC.

1. Go to https://gurivr.com/, and click on the "Augmented Reality" demo
2. Check out the `aframe-passthrough` component [demo](https://flysonic10.github.io/aframe-passthrough/basic/) ([source](https://github.com/flysonic10/aframe-passthrough))
3. Check out [this demo](https://s3.amazonaws.com/cassell-webvr/webvr-soccer-stadium-multiplex/

[2017-05-10 16:58] donmccurdy opened #2664 "material.wireframeLinewidth has no effect"
Per [MeshStandardMaterial docs](https://threejs.org/docs/#api/materials/MeshStandardMaterial), the wireframeLinewidth is expected to be ignored on Windows. But I'm not seeing linewidth having any effect in OS X either, which is unexpected.

[code]

<img width="560" alt="screen shot 2017-05-10 at 9 56 55 am" src="https://cloud.githubusercontent.com/assets/1848368/25910964/08284410-3567-11e7-90c7-df

[2017-05-10 17:38] machenmusik commented on #2663
what needs to be done is to get what you want playing as a video element, then you can reference that video element by selector for A-Frame to use it.  I believe @jesstelford had a component a while back that may serve as an easy to use example

[2017-05-10 18:54] machenmusik commented on #2660
so far, looks like the default geometry settings for sphere used by a-sky have insufficient detail and exhibit visible distortion... increasing detail mitigates

http://codepen.io/machenmusik/pen/PmQLyR

[2017-05-10 20:36] caseyyee commented on #2664
This is a open issue with three using Chrome with OSX: https://github.com/mrdoob/three.js/issues/10357

It does work with Firefox though.

Doesn't seem like something we can resolve with A-Frame unless we emulate the line-effect using geometry.

[2017-05-11 06:15] donmccurdy commented on #2664
Ah ok, thanks. I don't see an especially strong case for mesh-lines in core; `<a-tube/>` can already do that easily, and hasn't been used all that much. Fine with me to track it in three.js and close this issue.

[2017-05-11 06:15] #2664 closed

[2017-05-11 07:24] cvan commented on #2663
ah, you mean his [`aframe-video-billboard` component](https://github.com/jesstelford/aframe-video-billboard)? [here's a demo.](https://jesstelford.github.io/aframe-video-billboard/switch-source/)

yeah, that completely slipped my mind; that's likely a good one to use 👍

[2017-05-11 14:25] machenmusik commented on #2660
@starwaver can you confirm that increasing detail of playback surface fixes for you? (see codepen)

@dmarcos should we consider increasing default detail?

[2017-05-11 15:51] starwaver commented on #2660
@machenmusik The codepen uses a video as a source, which seem to work, but I can't get it working with a photo even at higher detail

[2017-05-11 16:08] machenmusik commented on #2660
@starwaver do you have a CORS-friendly URL of an example image to do in a codepen?

[2017-05-11 16:39] donmccurdy opened #2665 "HTML shader recommended in FAQ is out of date"
Still based on A-Frame 0.1.1, and doesn't work with 0.5.0 I am hearing.

Since that's a common enough use case to need an entry in the FAQ, maybe we should try to fix the shader for 0.5.0 or recommend another component if it's no longer maintained.

https://aframe.io/docs/0.5.0/introduction/faq.html#how-do-i-display-lt-iframe-gt-s-or-render-html-in-a-frame

[2017-05-11 16:49] starwaver commented on #2660
@machenmusik
I tried it with a flickr 360 photo
http://codepen.io/starwaver/pen/MmVQKp

[2017-05-11 16:59] starwaver commented on #2660
Here's the same photo uploaded on facebook with the distortion fixed
https://www.facebook.com/starwaver/posts/10211510609455389

[2017-05-11 18:46] machenmusik commented on #2660
@starwaver so it turns out that for your codepen, the problem is this: whereas videos automatically set the non-power of two flag, apparently images don't, and so you get distortion from the resampling the browser does.  the magic missing piece is `material="npot:true"`

http://codepen.io/machenmusik/pen/wdmjQb

so there are two pieces to this:
(1) default geometry for a-sky and a-videosphere are

[2017-05-11 19:07] #2634 closed

[2017-05-11 22:05] ngokevin commented on #2665
Thanks. I'll try to get around to updating that component or something else can as well.

[2017-05-11 22:48] dmarcos commented on #2660
@machenmusik I'm ok with increasing the sphere segments.
People should be submitting power of two textures. Not sure if that should be enabled.

[2017-05-11 22:52] dmarcos commented on #2659
@shaunmnemonic Please reoopen if you can reproduce on master

[2017-05-11 22:52] #2659 closed

[2017-05-11 22:55] starwaver commented on #2660
@dmarcos
Many consumer cameras take non-power of 2 photos which I think is problem for apps that are photo galleries. I think it would be helpful to enable it.

[2017-05-11 22:56] dmarcos commented on #2663
We use issues for bugs and feature requests. As @cvan pointed out I encourage using StackOvervlow or our aframe Slack (https://aframe.io/community/) for questions

[2017-05-11 22:56] #2663 closed

[2017-05-11 23:21] dmarcos commented on #2605
I'm going to close this. Please reopen if someone can still reprodude

[2017-05-11 23:21] #2605 closed

[2017-05-11 23:24] dmarcos opened #2666 "Revisit if antialias should be enabled by default on mobile"
We have to first determine if the performance is acceptable in the range of devices we support.

[2017-05-11 23:24] dmarcos commented on #685
We now always enable antialias by default on desktop systems. it remains disabled on mobile. We can revisit that decisions if we determine that performance is acceptable after testing. Closing this in favor of https://github.com/aframevr/aframe/issues/2666

[2017-05-11 23:24] #685 closed

[2017-05-11 23:28] dmarcos commented on #1219
I have not seen this in a long time. Closing and I'll keep en eye if I see it again

[2017-05-11 23:28] #1219 closed

[2017-05-11 23:29] dmarcos commented on #1277
I'm ok on how budo is working now and nobody else seems to have been complaining.

[2017-05-11 23:29] #1277 closed

[2017-05-11 23:33] dmarcos commented on #1488
I'm no able to reproduce this. @justvova please reopen if you can provide a test case that illustrates the problem.

[2017-05-11 23:33] #1488 closed

[2017-05-11 23:41] dmarcos commented on #1778
I don't see how to make a  generic `merge` attribute have any sort of predictable behavior. Some entities might have geometries others won't... What happens in that case? In the context of a geometry at least the user is explicitly saying what she wants. Generic merging and grouping could be better implemented in higher level tools. I'm going to close this and please reopen if someone has any good

[2017-05-11 23:41] #1778 closed

[2017-05-11 23:57] dmarcos commented on #1801
I cannot reproduce any of the problems described above. The only message I still get is three instances of `Error: WebGL warning: texImage2D: Conversion requires pixel reformatting.` on Firefox. It seems that the textures are following a slow path in Firefox:

![slow path](https://d3vv6lp55qjaqc.cloudfront.net/items/0m1B062X362H1E3o3C1C/Image%202017-05-11%20at%204.50.30%20PM.png?X-CloudApp-Visitor

[2017-05-11 23:57] #1801 closed

[2017-05-12 00:02] dmarcos commented on #1884
This also reproduces on Firefox Nightly

[2017-05-12 00:04] dmarcos commented on #1894
I cannot reproduce this on A-Frame 0.5.0 and iOS 10.3.1. Please reopen if this is still an issue.

[2017-05-12 00:04] #1894 closed

[2017-05-12 00:10] dmarcos commented on #2222
@nikolas7892 I'm going to close this issue. Please reopen if you can provide additional info

[2017-05-12 00:10] #2222 closed

[2017-05-12 00:13] dmarcos commented on #2299
There were several changes in both the model and the `vive-controls` and this does not seem to reproduce anymore. Please reopen if it's still a problem

[2017-05-12 00:13] #2299 closed

[2017-05-12 00:29] dmarcos commented on #2487
yeah. probably look-controls is a better place for that logic

[2017-05-12 00:39] dmarcos commented on #2508
In Firefox Nightly i see AFRAME.utils.checkHeadsetConnected() return `true` with a DK2 connected and using the following demo https://aframe.io/aframe/examples/showcase/anime-UI/.
Please reopen if this is still an issue.

[2017-05-12 00:39] #2508 closed

[2017-05-12 01:10] starwaver commented on #2660
We tried it and apparently uploading a power of 2 photo doesn't help, but adding npot:true does seem to fix it.

Also sphere segment doesn't seem to affect it much, but higher segment does drop the performance quite a bit.

[2017-05-12 01:13] machenmusik commented on #2660
yes most distortion for images is npot / resampling / mipmap, i think -- there are more fidelity gains to be had by slightly more detailed sphere, but rapidly diminishing tradeoffs beyond 64 segments, IMO

[2017-05-12 01:15] machenmusik commented on #2660
thanks @cvan for reopening!
@dmarcos unless one of you gets to it first, I will do a PR that enables npot by default for images, and maybe bumps up segments for default spheres (will need to do a little testing to see what works best)

[2017-05-12 01:18] machenmusik commented on #2660
The reality is that requiring power of two almost never really works in practice, as very very few devices hve native power of two capture resolutions, and the quality loss from resampling is demonstrably worse than mipmap / interpolation compromises... thus this issue exists :-)

[2017-05-12 01:46] bryik commented on #2660
Nice catch @machenmusik, `npot:true` is a significant improvement!

![npot](https://cloud.githubusercontent.com/assets/12419712/25978884/1a9f4c88-3693-11e7-82b6-654295b2fc0d.jpg)

[2017-05-12 01:51] machenmusik commented on #2660
@bryik yup, now I remember why I did a PR for that parameter! ;-)

[2017-05-12 02:09] cuitingcheng commented on #2660
@machenmusik but why npot:true also significantly improve this issue on a 4096x2048 image. Is it already a power of 2 image?

[2017-05-12 02:20] machenmusik commented on #2660
I think what is happening is that `npot:true` also disables mipmap (which is another potential source of resampling which ends up looking like distortion)

[2017-05-12 08:14] cvan commented on #1801
yeah, it appears fixed.

FWIW, there are a lot more warnings on Mac:

<img width="1261" alt="screen shot 2017-05-12 at 1 12 59 am" src="https://cloud.githubusercontent.com/assets/203725/25989248/33206996-36b0-11e7-925d-d712812f1f21.png">

I assume either WebGL bugs caused by three.js or just underlying platform bugs in Gecko.

[2017-05-12 08:32] dmarcos commented on #1801
Those are legit use of extensions that for whatever reason are not available on Firefox for Mac. Those should be fixed on the gecko side

[2017-05-12 13:54] machenmusik commented on #2487
look-controls is used for more than just cameras, which is why i think carving off the mutating portion into a separate component may be safer...

[2017-05-12 13:56] machenmusik commented on #2487
to me, look-controls should only apply the orientation, and if there is some auto user height offset logic, that should be a separate component that can be used for that purpose (e.g. if someone wanted geometry or text to auto adjust to eye level)

[2017-05-12 14:44] machenmusik commented on #2660
looks MUCH better now, I think we can close this?
http://codepen.io/machenmusik/pen/ZKoWLe
http://codepen.io/machenmusik/pen/pPVyNE (@starwaver now we can see the underlying stitch errors from your camera rig that @dmarcos meant originally)

[2017-05-12 22:07] machenmusik commented on #1416
There is now support merged into latest master for HLS on iOS 10 with Mobile Safari.

Unfortunately my understanding is that said support will not work on earlier versions (e.g. iOS 9) and no further work is planned there.

Should we close this one now?

[2017-05-13 13:43] pandapondering commented on #1577
I think it'll be useful to allow users without a headset to swipe up and down to look up and down. Is there a way to enable that ?

[2017-05-13 22:56] gordonbrander opened #2669 "(master) Touching Daydream trackpad causes "TypeError cannot read property 'length' of undefined""
**Description:**

Touching Daydream touchpad causes `TypeError cannot read property 'length' of undefined`. Because of this TypeError, I also seem not to get `axismove` or `trackpadmoved` events.

This is apparently a bug that @dmarcos is familiar with because I was able to [find a fix he landed to try to work around it](https://github.com/aframevr/aframe/blob/2827f9c49934e9b11206bb8bdf1bcb0a82d61

[2017-05-13 23:20] machenmusik commented on #2669
yes, there is actually a PR to aframe polyfill to fix this already, but perhaps it hasn't been merged into the version you are using.  @dmarcos do you recall where this stands?

[2017-05-13 23:21] gordonbrander commented on #2669
@machenmusik just a heads-up... I am using a-frame master from just a couple hours ago.

[2017-05-14 00:15] machenmusik commented on #2669
looks like this isn't merged / used yet
https://github.com/aframevr/webvr-polyfill/pull/4

the specific change is
https://github.com/chenzlabs/webvr-polyfill/commit/87130ae1ffb8d5c33fe78dc10ea4a0da279eb173

which should be built into
`chenzlabs/webvr-polyfill#avoid-touchstart-collision`

[2017-05-14 00:17] gordonbrander commented on #2669
@machenmusik note this change wont fix it, since `touches` is still referenced without a check below https://github.com/chenzlabs/webvr-polyfill/commit/87130ae1ffb8d5c33fe78dc10ea4a0da279eb173#diff-4c2e10343ad71eef9d298507c2d3dcadR48

[2017-05-14 01:03] machenmusik commented on #2669
so the odd part is that it had fixed it at least at one point, but clearly it won't now.  would you like to submit your change as separate PR, and I can close that one?

[2017-05-14 01:31] gordonbrander commented on #2669
@machenmusik oh oops, looks like we both just created a PR https://github.com/googlevr/webvr-polyfill/pull/228

[2017-05-14 01:35] gordonbrander commented on #2669
@machenmusik should I also submit a PR to aframevr/webvr-polyfill?

[2017-05-14 01:36] machenmusik commented on #2669
LOL I closed googlevr/webvr-polyfill#229 in favor of yours, but I left mine in aframevr/webvr-polyfill for now just in case you didn't base yours on the commit at which aframevr and googlevr diverged (and thus you might run into the problem I did with dragging in other changes unintentionally)

[2017-05-14 01:37] gordonbrander commented on #2669
@machenmusik oh dang, good point. I'm ok to go with either PR. If yours will produce a cleaner merge history then so much the better.

[2017-05-14 01:37] machenmusik commented on #2669
@gordonbrander if you can submit that to aframevr as well, and it doesn't drag in a bunch of other changes from googlevr, let me know and I will close mine

[2017-05-14 01:39] gordonbrander commented on #2669
@machenmusik let's just use yours if it has the cleaner commit history.

[2017-05-14 01:39] machenmusik commented on #2669
@gordonbrander just rebase yours on this commit and you'll be all set

https://github.com/googlevr/webvr-polyfill/commit/4787fe5546e33bb82b9a3981245f39d9e1e136ba

[2017-05-14 01:54] machenmusik commented on #2669
ok, closing my aframevr polyfill PR as well so you can do yours, thanks welcome aboard @gordonbrander !

[2017-05-14 03:30] darioodiaz opened #2670 "<a-text> entity dont show correctly on Chrome and Chrome Canary for Android"
Dont show the text on Chrome in Android 4.4.2 (my phone) but also on iOS S6, on Firefox for Android works!

- A-Frame Version: 0.5
- Platform / Device: Chrome and Chrome Canary on Android 4.4.2
- Reproducible Code Snippet or URL:

<a-scene stats>
     <a-entity position="0 6 4" rotation="0 180 0">
            <a-camera>
                <a-text value="Hello" color="black" position="0 1.5 -3" scale=

[2017-05-14 04:18] dmarcos commented on #2670
Can you point to an example that reproduces the issue? Thanks

[2017-05-14 04:29] darioodiaz commented on #2670
https://s3.amazonaws.com/dariodiazbucket/chrome-issue.html

On chrome desktop works! on Chrome for Android the geometry-text works but the <a-text> dont

[2017-05-14 11:54] machenmusik commented on #2670
@darioodiaz can you provide more information on the specific model of phone that exhibits the problem?  my suspicion is that it does not support a OpenGLES extension the default font's text shader is using.  Can you also try one or more of the non-default stock fonts like kelsonsans?

[2017-05-14 15:09] darioodiaz commented on #2670
Yes, it's a LG G3 D693-AR which runs Android 4.4.2 with 3.4.67 kernel version, I have Chrome version 58. I test it with all the documentation stock fonts but it didn't work I'll test if that Chrome version or my Android version has OpenGLES and comment here, thanks for your time!

[2017-05-14 16:27] machenmusik commented on #2670
of specific interest: `GL_OES_standard_derivatives`

[2017-05-14 16:45] bryik commented on #2670
[Related?](https://github.com/bryik/aframe-bmfont-text-component/issues/28) The phones in both of these issues have similar GPUs (Mali-400). I thought the cause might be the use of highp precision in the SDF shader because [MDN says highp may not work on old phones](https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/WebGL_best_practices).

[2017-05-14 19:41] dmarcos commented on #2670
Any errors on console like in the lines of `extension XXX not supported`?

[2017-05-15 10:19] morandd opened #2671 "inactive cameras with look-controls always respond to mouse movement"
When a camera is set to active=false, it should call pause() on itself.

Currently a camera with look-controls will still move in response to mouse movements even when it is not the active camera.  This can be strange/problematic because then when you switch back to the look-control'ed camera it will be pointing in some random direction, since it's been controlled according to onscreen mouse movem

[2017-05-15 10:53] HeinPauwelyn opened #2672 "Missing icon font inside inspector"
**Description:**

- A-Frame Version: 0.5.0
- Visual inspector: 0.3.0
- Platform / Device: Windows 10
- Browser: Chromium
- Reproducible guideline: Just open the visual inspector on a computer where the icon font is not installed.

On the top on the right side, I could see three buttons for translate, rotate and scale. But I couldn't see the icons. I've seen that the inpector using this code:

[cod

[2017-05-16 00:19] #2660 closed

[2017-05-16 00:49] gordonbrander commented on #2669
Interesting... just pulled up webvr.yoga on Daydream and I don't get the same TouchPanner touchstart TypeError.

webvr.yoga is using https://github.com/ryanbetts/aframe-daydream-controller-component rather than the daydream-controls component in `master` so there are likely to be differences.

[2017-05-16 01:21] machenmusik commented on #2669
The issue stems from how `tracked-controls` handles events.  daydream-controller doesn't use `tracked-controls` but instead runs its own copy of that functionality.  @dmarcos @ngokevin perhaps we should change the internal event names to avoid collision, at the risk of breaking some existing usage?

[2017-05-16 01:29] dmarcos commented on #2669
@machenmusik what collision are you talking about? I cannot tell by the previous conversation.

[2017-05-16 01:47] machenmusik commented on #2669
IIRC `tracked-controls` emits events named `touchstart` and `touchend` that clash with the actual mobile events, and mobile Chrome does not appear to allow CustomEvent to set the `touched` array which lies outside event detail.

[2017-05-16 08:57] robinnorth commented on #1416
Nice work, @machenmusik. Really happy to see this make it into core! I think this can be closed now, as iOS 9 support doesn't seem possible

[2017-05-16 12:35] frankymacster commented on #2640
[code]

[2017-05-16 13:21] frankymacster commented on #2640
`Texture.dispose()` didn't seem to work for me. I seemed to still be getting a memory leak. I ended up doing something like this instead:

[code]

I noticed that `THREE.TextureLoader` creates a new `THREE.Texture` object every time `el.setAttribute('src', src)` is called. This was creating a leak on the GPU as `gl.texImage2D` were accumulating. It's for this reason, I guess, that we need to call `

[2017-05-16 15:27] NNskelly commented on #2662
Just found the inspector's independent github.  Would it be worth closing this out here and re-opening it there, or is it already being ingested for action?

[2017-05-16 19:17] #2329 closed

[2017-05-16 22:59] ngokevin commented on #2665
Working on it at https://github.com/mayognaise/aframe-html-shader/pull/12

[2017-05-17 19:25] dmarcos commented on #2672
I believe this should be filed against the inspector not aframe. @fernandojsg

[2017-05-17 22:03] ngokevin commented on #2646
I might do that. The awkward thing I need to resolve is that our current crop of 3dof controllers primarily have `trackpaddown` for clicking, and 6dof controllers have `triggerdown` for clicking. I wish I could set the cursor to just listen to both events, but there's a event collision: 6dof controllers have their own `trackpaddown` events.

I could do cursor -> gaze-cursor | controller-cursor. ga

[2017-05-17 22:04] dmarcos commented on #2646
What about `gaze-controls` and `laser-controls` as analog of `hand-controls` ?

[2017-05-17 22:06] ngokevin commented on #2646
`-controls` have meant controllers or code to handle pose. The cursor stuff is more of an attachment onto the controllers for interactivity.

[2017-05-17 22:09] dmarcos commented on #2646
I see `laser-controls` pretty similar to `hand-controls`. They all use `daydream-controls`, `vive-controls`... under the hood? gaze-controls they have also tracking associated to it but it's the headset / camera.

[2017-05-17 22:15] ngokevin commented on #2646
The `-controls` family of components handles effecting the position/rotation of entities and the family of tracked-controls/daydream-controls/gearvr-controls/vive-controls/oculus-touch-controls/hand-controls follow a pattern and build on top of each other.

The cursor components don't necessarily depend on any of those. They just attach interactivity/state on top of events that may come. So I woul

[2017-05-17 22:22] dmarcos commented on #2646
I think that at least `laser-controls` should do more than just interactivity / state. It will position the laser on the correct position based on the controller available and will map the buttons to emit `click` events on other entities? I don't think it's much different than `hand-controls`
[code]
That gives you a consistent laser regardless of the specific hardware or number of DOF.

[2017-05-17 22:36] ngokevin commented on #2646
I could get on board with that. That way would be to make the `cursor` component smarter and do controller (or lack of controller) detection) and automatically set everything. If I had my own custom controller, I could configure the position/rotation of the controller. The slight downside is increased complexity in the component to make things more magic (controller detection and auto-configuratio

[2017-05-17 22:41] dmarcos commented on #2646
Well... `laser-controls` would control the entity the same as `hand-controls`, `daydream-controls`, `vive-controls` do. The `laser-controls` I had in mind is pretty similar to `hand-controls` but in this case the model is just a line and it scales across 3DOF and 6DOF. `laser-controls` can make use of another component `cursor="type: laser, position: 0 0 0"` that can be reused by custom controls

[2017-05-17 22:55] ngokevin commented on #2646
OK.

We'll have `laser-controls` which sets all the proper configurations for each controls we support. If someone does a custom controller, they can configure the `cursor`/`raycaster` component. Maybe the `cursor` can handle drawing the line based on the `raycaster`'s far/origin/direction.

Maybe `cursor` can default to `gaze` configuration so we don't have to create another component.

We can al

[2017-05-17 23:20] ngokevin commented on #2646
Thinking about this API.

## laser-controls

Works with 3DoF and 6DoF.

Configures `cursor.downEvents`, `cursor.upEvents`, `raycaster.origin`, `raycaster.direction` based on which controller is active.

No properties.

## gaze-controls

Works with 0DoF.

Enable `cursor.fuse` and disable `cursor.laserEnabled`

No properties.

## cursor

| property |
| ---------- |
| fuse        |
| fuseTimeout |
|

[2017-05-18 00:45] pdnellius commented on #1906
Hm. I'm still not able to get this working using the following:

[code]

[2017-05-18 01:43] cvan commented on #1906
try converting your video codes. you can use `ffmpeg` to do that:

[code]

[2017-05-18 02:37] donmccurdy commented on #2646
If I understand correctly, this is the chain of components injecting other components:

![img_5228](https://cloud.githubusercontent.com/assets/1848368/26184174/1697af28-3b38-11e7-88f2-ac19378253bb.JPG)

I'm a bit concerned that the existing `-controls` components expose nearly-similar APIs without actually sharing any code... if I want to use a custom model, I'm left doing this:

[code]

That's a

[2017-05-18 03:16] machenmusik commented on #2646
What I typically do these days is in a codepen here:
http://codepen.io/machenmusik/pen/gWdgMy

You can see a set of components - `controller-cursor` (translate controller events to down/up/click), `controller-model-if-present` (think `hand-controls` abstraction of which controller, but using the native controller model instead of the low-poly hands), `controller-with-cursor-if-present` (which incl

[2017-05-18 03:49] donmccurdy commented on #2646
@machenmusik very nice! That looks quite helpful.

Your `controller-cursor` matches my suggestion on `laser-cursor` I think, in the sense that it isn't responsible for adding controls itself. Although I hadn't thought of the need to manually call `onMouseDown()` on the cursor.

[2017-05-18 03:56] dmarcos commented on #2646
I'm not fan of components with conditionals in their name. they define logic which is the opposite of declarative

[2017-05-18 03:59] dmarcos commented on #2646
I see from the point of view of the user. The same as `hand-controls` I want a single component `laser-controls` that gives me a nice laser interface with the model of the platform I'm using so I just care about hooking up the events to my application logic. I'm sure we can have something that will work out of the box for 90% of the cases.

[2017-05-18 03:59] ngokevin commented on #2646
<img width="602" alt="screen shot 2017-05-17 at 8 55 20 pm" src="https://cloud.githubusercontent.com/assets/674727/26185974/2e9bcb08-3b43-11e7-9ac5-b385b2e58a87.png">

I had the same concerns about the towering abstraction stack, but I think of `laser-controls` as a convenience layer. For The `responsive-controls-toggler` isn't really a proposal for inclusion. Just something we can provide or link

[2017-05-18 04:01] dmarcos commented on #2646
The current implementation of `hand-controls` is pretty simple and I would use it as a starting point for `laser-controls`

[2017-05-18 04:02] dmarcos commented on #2646
What @ngokevin says :)

[2017-05-18 04:43] donmccurdy commented on #2646
As a convenience layer, I would find `laser-controls` most helpful if it did not inject any other controls. This comes back to bite users who want to have custom controls, because they now have to re-implement the laser too. And it pre-supposes that all future `<device>-controls` components will be part of A-Frame core.

If the idea (from `cursor="laserEnabled: true"`) is that the actual laser-rel

[2017-05-18 04:47] ngokevin commented on #2646
The actual laser logic would be in `cursor/raycaster`. The extra behavior needed is to automatically line up the laser appropriate to the controller models + map which button event triggers down/up, depending on which controller is connected.

[2017-05-18 04:48] machenmusik commented on #2646
@dmarcos I was not proposing to add names with if-present to core, I just use that to distinguish that they are expected to do nothing until the controller connects - my pet peeve with hand-controls is that they default to visible even if no controllers are present, so you end up with a pair of hand models permanently stuck at origin

[2017-05-18 04:50] dmarcos commented on #2646
`laser-controls` would also position the origin of the raycaster depending on the model. Components that are sintatic sugar are ok to me. A different topic: primitives is something we want to deprecate due to
side effects when combined with mixins and confusion when a component is both set on the entity and the primitive (you might have several attributes in the entity that refer to the same thing

[2017-05-18 04:52] machenmusik commented on #2646
@ngokevin you can definitely add the controller-cursor behavior into cursor, although then you need to know if it is a controller-cursor or a gaze-cursor, not sure that is worth trying to jam into same component as opposed to having them separate.  However, IMO there should be a way to (1) provide custom appearance for ray/line (2) have the ray/line stop at intersection as opposed to tunneling str

[2017-05-18 04:55] ngokevin commented on #2646
@dmarcos Let's not start a different topic in this issue.

@machenmusik Yeah, that's doable. Not much logic needed to differentiate gaze vs controller. You can just attach both types of events and they won't interfere. The laser can be customized through various properties, or really, you can disable the laser and provide your own mesh. And stopping the laser or projecting on the intersection poin

[2017-05-18 04:55] donmccurdy commented on #2646
Ok cool. That, or as @dmarcos said in Slack, if `laser-controls` uses `laser-cursor` for the laser behavior, that is similarly fine.

The point on primitives makes sense.

If possible, it would be preferable for `laser-controls` to not have specific knowledge of each `<device>-controls` component model for determining offsets, but to get that through some component or system API. Let's not plan on

[2017-05-18 04:59] machenmusik commented on #2646
@ngokevin  w.r.t. Laser customization of appearance - at some point you realize that the entity with controllers and model is related to but distinct from the ray/line indicating the laser with its own position and orientation offsets, they can't be the same entity... If the idea is to force people to make their own mesh, it is complicated by the need to understand the underlying object hierarchy

[2017-05-18 05:02] machenmusik commented on #2646
As an example, maybe I want the ray to be thin and lower opacity until it is intersecting with something at which point it starts pulsing and appearing to be more solid... which along the lines of cursor could be done as animation if things were structured properly

[2017-05-18 05:05] machenmusik commented on #2646
Maybe laser-pointer should juat be the ray/line, and cursor can auto-switch if it sees controller connected event, which should never happen if attached to camera to be a gaze cursor?

[2017-05-18 05:07] donmccurdy commented on #2646
Brainstorming here:

[code]

I don't think I have a good sense of how to allow users full control over the line... seems like they will need to re-implement at least one component there. Ideally we can limit that case to only re-implementing a single component.

[2017-05-18 05:11] ngokevin commented on #2646
I don't think we need a separate `laser-cursor` component. Potential confusion vs. cursor or laser-controls, and not much meat to separate from cursor.

Possible ways to configure a line, just provide your own mesh. You can still offset it with `mesh.position` or `mesh.rotation`.

[code]

Alternatively, the default laser mesh is accessible through something like `getObject3D('cursorlaser')`.

[2017-05-18 05:12] machenmusik commented on #2646
Cursor/raycaster need to be dormant if no controller at all right?  (Else you have stuck raycaster permanently firing from origin)

[2017-05-18 05:13] ngokevin commented on #2646
`laser-controls` could attach the cursor only once a controller is connected.

[2017-05-18 05:13] machenmusik commented on #2646
The big nuisance I see at the moment is having to repeatedly specify the objects property for raycaster - once for gaze and then twice more for each controller

[2017-05-18 05:16] ngokevin commented on #2646
Not just twice? One for gaze-based and one for controller-based? I don't think it's much work to define twice, but that's also where mixins can come in.

[2017-05-18 05:19] machenmusik commented on #2646
it's not just defining,  you have to gather the list of THREE objects multiple times which is wasteful.

if you can't share raycasters, and you want to be able to select things with either hand, then you need three.  if you implement the ping-pong between controllers based on which one was used last -- which is sometimes good and sometimes incredibly annoying -- then you need two

[2017-05-18 05:21] machenmusik commented on #2646
so did you guys want to start prototyping the changes in a different branch (feel free to grab whatever you like from the codepen if it is useful), we can see how it feels to use and whether it makes our apps easier to write, and once happy can PR and merge?

[2017-05-18 05:23] ngokevin commented on #2646
That's why I wanted to have some toggler-type component somewhere so there's not duplicate raycasters. But the three.js object querying is as expensive/frequent as the actual intersection tests.

Yeah, I'm working on it at the moment. Diego needs a cursor for his link traversal demo.

[2017-05-18 05:26] machenmusik commented on #2646
once you start down that path, you realize there is a whole bunch of stuff you really only want once a controller (with the correct hand property) is connected.

ok, feel free to steal liberally from codepen if helpful.  it felt really good / convenient to be able to just say
`<a-entity controller-with-cursor-if-present="right"></a-entity>` -- naming issues aside -- and I'd encourage efforts to si

[2017-05-18 05:31] ngokevin commented on #2646
Thanks, I'll check it out. I'm not as opposed to having a general utility toggler components like that (A-Blast has a component that toggles the controllers off if not VR), but for now, I think I'll just code in the one event listener into the component.

[2017-05-18 05:31] donmccurdy commented on #2646
That's fair. Even if it's `laser-controls`, the goal should be to let users add their own `<device>-controls` component without re-implementing the whole stack.

[2017-05-18 05:49] ngokevin opened #2673 "firefox grab cursor stuck to grabbing"
**Description:**

A typo in the CSS reported by Liubov Lozhkina in Slack (@liubov). `-moz-grabbing` -> `-moz-grab`.

[2017-05-18 14:23] eng1neer opened #2675 "Ability to autosize text container"
It would be great to have a way to render a text on a background with some padding around it.

I’ve tried an example from docs, however, it seems that auto width mode actually sets the maximum width of the container, leaving the gap on the right:

<img width="616" alt="screen shot 2017-05-18 at 14 31 53" src="https://cloud.githubusercontent.com/assets/1079094/26206794/cc6a5788-3bf6-11e7-9c35-2aa39

[2017-05-18 16:56] eng1neer commented on #1819
I wonder what is the reason a-animation does not respond to updates? Will this be fixed or is it so by design?

[2017-05-18 18:28] ngokevin commented on #1819
I've been trying to maintain https://github.com/ngokevin/kframe/tree/master/components/animation more, but I haven't fully finished my most recent update.

[2017-05-18 18:33] ngokevin commented on #2166
Have the `src/systems/material.js` keep a running count of usage for each texture. When a material component detaches, it'll call the system's `unregisterMaterial`. In that system's method, check how many other entities are using that texture. If there are none, then call `texture.dispose` on it.

[2017-05-18 18:38] ngokevin commented on #2675
`text="align: center"`

Also https://github.com/mayognaise/aframe-html-shader/pull/12 is an option for rendering HTML/CSS as a texture. Slightly expensive to compute, but perhaps cheaper than pulling in and rendering glyphs?

[2017-05-18 18:39] ngokevin commented on #2671
The camera doesn't handle any of that logic. `active` just refers to the user's camera, but a camera can be inactive but still controlled. You can `.removeAttribute('look-controls')` temporarily.

[2017-05-18 18:39] #2671 closed

[2017-05-18 18:40] ngokevin commented on #2672
Moved to https://github.com/aframevr/aframe-inspector/issues/475

[2017-05-18 18:40] #2672 closed

[2017-05-18 18:41] ngokevin commented on #2662
Yes, can you please re-file there? Thanks!

[2017-05-18 18:41] #2662 closed

[2017-05-18 18:43] ngokevin commented on #2616
Can we convert the model to glTF?

[2017-05-18 18:43] ngokevin commented on #2598
Inline example/inspector has been removed from docs since.

Moving to https://github.com/aframevr/aframe-inspector/issues/129

[2017-05-18 18:43] #2598 closed

[2017-05-18 18:44] ngokevin commented on #2535
Fixed!

[2017-05-18 18:44] #2535 closed

[2017-05-18 18:51] donmccurdy commented on #2646
To summarize, in case this is blocking anyone, I think we are agreed on adding optional laser functionality to the `cursor` component? I assume that is the bulk of the work, here.

I think dummy examples of using the `laser-controls` convenience wrapper would be helpful to understand that API.

[2017-05-18 18:53] caseyyee opened #2677 "daydream-controls doesn't work"
`daydream-controls` doesn't work:
[code]

Looks like `isControllerPresent()` is returning false in `tracked-controls.js`

Daydream controller is confirmed to be working on webvr.info/samples

This happens with both Chrome Canary and regular Chrome.   I think this _may_ have been due to the controller update I received last week since nothing in the controls seems to have changed.

- A-Frame Versio

[2017-05-18 18:55] ngokevin commented on #2646
Working on it at the moment. There's not so much laser functionality, more like laser appearance, which is just creating a line. Doesn't look like there's actually much code to change, perhaps the hardest part is being able to offset the raycaster, which isn't too bad.

[2017-05-18 18:56] ngokevin commented on #2677
Cool, will also check it out. I wonder if the Gamepad ID changed.

[2017-05-18 19:00] donmccurdy commented on #2646
Great! In case it's helpful, new PR on three.js: https://github.com/mrdoob/three.js/pull/11349

[2017-05-18 19:15] eng1neer commented on #2675
@ngokevin `align: center` has nothing to do with auto sizing, it will render container with the same width

[2017-05-18 19:19] dmarcos commented on #2677
Does `navigator.getGamepads()` return anything when presenting? If it does what is the `id` of the gamepad returned? We're expecting `Daydream Controller`. Has that changed in Chrome / Canary?

[2017-05-18 19:22] dmarcos commented on #2677
The webvr.info examples don't filter by id but take whatever first gameapd they encountered. If I have to bet Chrome just changed the `id` string and we just have to update it here: https://github.com/aframevr/aframe/blob/master/src/components/daydream-controls.js#L10

[2017-05-18 19:29] ngokevin commented on #2675
I suppose `text.padding` wouldn't be too bad.

[2017-05-18 19:34] machenmusik commented on #2675
The text auto width was intended to size the text width to the geometry, not the geometry to the text width - you can't automatically size both height and width, you need to pick something as a FRAME of reference.  Is it a more common case to want arbitrary width based upon fixed height, rather than arbitrary height (including line wrap) based upon fixed width?  If so, perhaps we should add some s

[2017-05-18 19:36] donmccurdy commented on #2616
Probably yes. If so, the animations can work similarly. Is upgrading to three.js r85 planned for 0.6.0, or waiting until next release?

[2017-05-18 19:37] ngokevin commented on #2616
I think it could wait, perhaps while post-processing support improves.

[2017-05-18 20:40] caseyyee commented on #2532
I'm getting the same issue here.  The component updates, so the tests don't fail, but the scene doesn't update.  cc @dmarcos

[2017-05-19 17:44] jsantell commented on #2677
With the latest controller update, the ID string is still "Daydream Controller", and works on the webvr.info examples -- the glitch link above doesn't have any results in `navigator.getGamepads()` and some errors with loading the DPDB that can be traced back to ONLINE_DPDB_URL [being a cached JS object](https://github.com/aframevr/webvr-polyfill/commit/75324f14c201d71610ec5a3f9988393c64757ac8) rat

[2017-05-19 17:51] jsantell commented on #2670
On Chrome 58 on a Pixel, this is the result for me
![screenshot from 2017-05-19 10 49 31](https://cloud.githubusercontent.com/assets/641267/26260139/fcf2c338-3c80-11e7-80d5-5e7931ed13f3.png)

[2017-05-19 17:58] dmarcos commented on #2677
mmmh... `navigator.getGamepads()` should return something

[2017-05-19 18:41] caseyyee commented on #2677
![image](https://cloud.githubusercontent.com/assets/1560884/26261998/1b9f6780-3c88-11e7-91bf-eae586afd4f6.png)

[2017-05-19 19:43] caseyyee commented on #2677
It appears that `controller.pose` isn't returning anything.  Also cloned down the examples on webvr.info/samples and those don't work either.  Only seems to work on the webvr.info/samples site.

[2017-05-19 19:48] dmarcos commented on #2677
@caseyyee is that an `origin-trials` side effect? Maybe you have to go and enable webvr on `chrome://flags/`?

[2017-05-19 19:51] caseyyee commented on #2677
Yeah, don't know.  I've also been using https to make sure that's a non issue as well.

[2017-05-19 20:23] ngokevin commented on #2673
https://github.com/aframevr/aframe/pull/2680

[2017-05-19 20:23] #2673 closed

[2017-05-19 21:12] caseyyee commented on #2677
OK interesting.  If I let it sit for a while, it will start to work.  Not sure why there is a delay.  Definetly some kind of weird inconsistency.

[2017-05-19 21:25] #2635 closed

[2017-05-19 21:59] weddingdj opened #2685 "Text component: adding a "padding" property"
**Description:**
What about adding a padding property to the text component?

A padding defines the space around a text. So any text would look better when using the text component with a plane primitive with a material colour.

- A-Frame Version: 0.5.0
- Platform / Device:
- Reproducible Code Snippet or URL:

[2017-05-19 22:02] ngokevin commented on #2685
dupe https://github.com/aframevr/aframe/issues/2675

[2017-05-19 22:02] #2685 closed

[2017-05-19 22:17] weddingdj commented on #2675
+1 for text padding

[2017-05-19 23:17] ngokevin commented on #567
Going to close. Switching from the DRE polyfill is something we can do in the future when Custom Elements spec is widely supported and we switch to the native API. Else, A-Frame is reliant on the quirks of the current polyfill

[2017-05-19 23:17] #567 closed

[2017-05-19 23:17] ngokevin commented on #666
`material="alphaTest: 0.5"` seems to magically help in most cases.

[2017-05-20 01:54] cvan commented on #2677
Order does matters. I'm not sure how things are staggered, but this is the explicit order: query for `VRDisplay`s [or `VRDisplay`events], and then query for `Gamepad`s:

[code]

Let me know if that works.

[2017-05-20 02:26] #2166 closed

[2017-05-20 08:22] FateRiddle opened #2687 "How to overlay (partially transparent) <a-sky />, like doing that to <img />?"
**Description:**

- A-Frame Version: lastest
- Platform / Device:  web

We are building a tool for 3D view of home decoration, customers can click on a sofa and it will show or hide in the 3D view.

They provide me panorama images of the home background, and a sofa image of the same size but transparent except the sofa part.

I tried:
[code]
expecting them to overlay. But sofa image block the back

[2017-05-20 09:11] ngokevin commented on #2687
Support questions should be asked at http://stackoverflow.com/questions/tagged/aframe, you will need to provide even more information that what was filed here in order for us to help.

[2017-05-20 09:11] #2687 closed

[2017-05-20 13:24] chenhaoact commented on #2347
Encountered the same problem，how to triggers enter VR presentation?

[2017-05-20 16:52] chahhat opened #2688 "360 video is not working"
hi cavin

 my 360 video is not working as well as which ever video path you provide only
that is working can you tell why

thanking you
Janavee

[2017-05-20 16:58] ngokevin commented on #2688
Support questions should go to http://stackoverflow.com/questions/tagged/aframe and please provide more information

https://aframe.io/docs/0.5.0/introduction/faq.html#why-does-my-video-not-play-on-mobile

[2017-05-20 16:58] #2688 closed

[2017-05-20 17:49] BhuvanaMeenakshi commented on #2280
I want to work on this

[2017-05-20 17:56] BhuvanaMeenakshi commented on #2280
this.el.setAttribute('mixin', this.data.mixin);

Hope this can resolve?

[2017-05-20 21:44] darioodiaz commented on #2670
@dmarcos

THREE.WebGLRenderer: OES_texture_float extension not supported.
THREE.WebGLRenderer: OES_texture_float_linear extension not supported.
THREE.WebGLRenderer: OES_texture_half_float extension not supported.
THREE.WebGLRenderer: OES_texture_half_float_linear extension not supported.
THREE.WebGLRenderer: ANGLE_instanced_arrays extension not supported.
THREE.WebGLRenderer: OES_element_index_ui

[2017-05-20 22:43] dmarcos commented on #2280
@BhuvanaMeenakshi Thanks for the interest. Can you open a PR with a test case fixing the issue?

[2017-05-21 03:01] machenmusik commented on #2677
If truly required, this explicit order is a little troubling, since it is perfectly reasonable for an experience to provide gamepad functionality outside VR, as well as inside

[2017-05-22 16:10] jsimonson2013 opened #2691 "Broken link on angle npm page."
**Description:**

Following links on the web to create a component, I landed on the [angle npm page](https://www.npmjs.com/package/angle). About halfway down the page, there is a link to the writing a component documentation that is broken. The link reads "how to write a component".

**Suggestion:**

The link should be replaced with this `https://aframe.io/docs/0.5.0/introduction/writing-a-compone

[2017-05-22 17:35] ngokevin commented on #2691
fixed

[2017-05-22 17:35] #2691 closed

[2017-05-22 21:44] cvan commented on #2677
I 100% agree. I'd look at these spec issues: w3c/webvr#184 and w3c/webvr#30 (and its follow-up issue: w3c/webvr#194). Feel free to chime in as well; developer ergonomics are important to address in these specs before these APIs' implementations ship to users.

[2017-05-22 21:46] cvan commented on #2347
A-Frame used to display text in a tooltip upon `:hover` of the "Enter VR" (icon of VR headset). I suggest we add some helpful text or graphic (à la the [Facebook example above](https://github.com/aframevr/aframe/issues/2347#issuecomment-277435874)).

[2017-05-23 08:24] #2546 closed

[2017-05-23 08:45] ngokevin opened #2692 "WASD controls + mouse-drag look controls jittery after getAttribute memory change"
**Description:**

Open up a scene. Use WASD in conjunction with mouse-drag to move + look around. The camera gets locked and mouse-drag doesn't work well and is jittery. The look-controls or wasd-controls probably need to be updated to reflect that getAttribute doesn't clone anymore?

- A-Frame Version: master

[2017-05-23 08:50] #2692 closed

[2017-05-23 10:38] ngokevin commented on #2180
https://github.com/aframevr/aframe/pull/2475 should fix

[2017-05-23 10:38] #2180 closed

[2017-05-23 13:19] machenmusik commented on #2677
Should try to fix for 0.6.0 yes?  If the timing issue is indeed the culprit, then do we need to ensure that getVRDisplays has returned before we allow the tracked-controls system to actually call getGamepads?  If so, is there any reliable way to tell whether that has been done (e.g. scene property) ?

[2017-05-23 13:22] takahirox commented on #2616
I'd like to bump Three.js to the latest revision right after 0.6.0 release, before Three.js supports VR + Post-Processing. (Maybe we can't do that for 0.6.0 due to the last minute for the release)

Because I want to update `GLTF2Loader` as soon as possible, and I think it still takes a time til Three.js's post-processing support.

BTW I don't think I followed the discussion above. Would we convert

[2017-05-23 13:30] machenmusik commented on #2670
If there is a good way to determine whether the shader should use highp or mediump this might be straightforward to fix, but I don't have anything to test it with

[2017-05-23 18:32] bryik commented on #2158
I think it's back. Adding `raycaster` to an entity with `vive-controls` causes Nightly to crash with A-Frame 0.5.0.

[Example](https://codepen.io/bryik/pen/BRMjxB).

Console dump:

![image](https://cloud.githubusercontent.com/assets/12419712/26369957/466d0636-3fc4-11e7-857f-33285031a153.png)

[2017-05-23 18:33] ngokevin commented on #2158
Regression from probably non-recursive raycaster changes, checking it out.

[2017-05-23 18:44] machenmusik commented on #2158
@ngokevin did you see this while working on laser-controls PR?  I assume you were using vive -- trying to understand if it is a core issue or an interaction with other components folks are using

[2017-05-23 18:48] ngokevin commented on #2158
Yes. In the `examples/cursor-projection/` that loads an OBJ model. Errors on 2D desktop too.

[2017-05-23 19:14] ngokevin commented on #2616
Yeha, we can do that. Ideally, we could get rid of blend-character-model, even buy in on an animation mixer component.

[2017-05-23 19:25] donmccurdy opened #2693 "Upgrade plans for glTF 2.0"
I think GLTF2Loader will be ready for A-Frame v0.7.0, but I'm not sure COLLADA2GLTF and the Blender exporter will be updated to glTF2.0 quickly enough. We may not want to bump `gltf-model` until the workflows are stabilized. There is also a tool for upgrading glTF1.0 assets to glTF2.0, so if that's reliable then maybe we don't have to wait on other stuff. We could also have both `gltf-model` and `

[2017-05-23 19:26] donmccurdy commented on #2616
+1

Let's start a new issue to discuss how/when we want to make this transition. Opened #2693.

+1 for moving `blend-character-model` out of core if we can. Adding `animation-mixer` to core is fine by me, although we don't really need it for just hand controls.

[2017-05-23 21:13] #2464 closed

[2017-05-23 21:58] bryik commented on #2158
That example CodePen I posted earlier does not crash when [master is used instead of 0.5.0](https://codepen.io/bryik/pen/VbgmXw). Fixed by [this PR](https://github.com/aframevr/aframe/pull/2696), I take it.

Thanks @ngokevin!

[2017-05-23 22:05] bryik commented on #2319
This [sounds familiar](https://github.com/aframevr/aframe/issues/2158).

@ngokevin Is it the same issue except for collada instead of obj?

[2017-05-23 22:22] ngokevin commented on #2319
The CodePen model 404s. I don't think this should be an issue? The collada-model should be waiting until its loaded before it tries to set any mesh for the raycaster to pick up.

[2017-05-23 23:43] takahirox commented on #2616
OK, got it.
Let's close this issue when we remove `blend-character-model`.

[2017-05-24 00:09] machenmusik commented on #2319
Maybe we should fix raycaster too?

[2017-05-24 00:50] scott-plutovr commented on #2425
We have an a-entity with a number of children that we are trying to re-parent to the left or right Vive controller based on the menu pressed. When doing so we receive an TypeError from index.js:270 that states, "position is undefined"

We have tried the flushToDOM() call on the entity prior to the appendChild() that you recommend above. We have also tried the initial list of stuff above where we c

[2017-05-24 04:20] AngelFQC opened #2698 "A-Frame demos crashing in Firefox for Android"
**Description:**
Testing the A-Frame demos with a Sony Z3C, Firefox for Android 53.0.2 crash with VR effect
Testing the demos from the WebVR polyfill, same Firefox works nice. The VR effect from original polyfill looks great in FF for Android

- A-Frame Version:
v0.5.0
- Platform / Device:
Firefox For Android in Sony Z3 Compact
- Reproducible Code Snippet or URL:
A-Frame demos

[2017-05-24 09:04] LiZheGuang opened #2699 "你好可以出 中文文档吗"

[2017-05-24 09:08] dmarcos commented on #2699
We would love to help. Could you also provide an English version?

[2017-05-24 13:15] dmarcos commented on #2699
I translated this in Google translate and it seems it's a request to have docs in Chinese. @ngokevin Who do we know in the Chinese community that could help?

[2017-05-24 19:01] ngokevin commented on #2699
We know a lot in Taiwan.

@besteric from Ali translated some of the A-Frame site to Chinese a while back, but there's work involved on how to host that.

[2017-05-24 21:49] jsantell commented on #2385
@cvan and I have been working on syncing up @thoragio's initiative at [webvrrocks/webvr-polyfill-dpdb](https://github.com/WebVRRocks/webvr-polyfill-dpdb) which publishes the DPDB at https://dpdb.webvr.rocks/dpdb.json instead of the no-longer-updated https://storage.googleapis.com/cardboard-dpdb/dpdb.json. The latest version of [webvr-polyfill](https://github.com/googlevr/webvr-polyfill) is in sync

[2017-05-24 21:49] pdnellius commented on #1906
@cvan ,

Sorry, should've put that in my original post. This is an issue on Safari on both desktop 10.1.1 and iOS 10.3.2.

I tried converting as you suggested above, but even after pinning it to the homescreen, I'm still getting black boxes.

[2017-05-24 21:52] jsantell commented on #815
This appears to be still an issue: https://github.com/googlevr/webvr-polyfill/issues/201

If anyone can follow up there with more info (what are the timestamps? are they not updated or too small/large?), I'll check it out

[2017-05-24 21:53] cvan commented on #1906
@pdnellius can you link me to your video source so I can take a look?

[2017-05-24 22:06] pdnellius commented on #1906
@cvan ,

So to gut-check myself, I just ran this on a live server (on a real, public domain), rather than locally, and it works. For anyone moving forward - if you check this on macOS using a PHP -S server, it will not work.

[2017-05-24 23:30] cvan commented on #1906
oh, yeah, you're probably hitting this [CORS bug on WebKit/Safari](https://bugs.webkit.org/show_bug.cgi?id=135379). I've got some code that I'll be making a PR to `aframe` for that works, but, again, it's just a workaround. it is a known, and unfortunate, WebKit bug.

[2017-05-25 00:23] besteric commented on #2699
Yeah, multi-language docs need integrates into the docs

[2017-05-25 00:48] takahirox commented on #2699
If we also have docs in Japanese, I'll help.

[2017-05-25 01:15] ngokevin commented on #2699
There's some at http://www.a-framer.com/. I'll look into it after the 0.6.0 release.

[2017-05-25 01:16] ngokevin commented on #2699
Moving to https://github.com/aframevr/aframe-site/issues/380

[2017-05-25 01:16] #2699 closed

[2017-05-25 01:42] ngokevin opened #2701 "hide hand-controls model by default, only show model once controller connected"
**Description:**

Wait for `controllerconnected` event and check the `evt.detail.name` matches `vive-controls` or `oculus-touch-controls`.

I think we can wait until `controllerconnected` to start the XHR for the hand-model OBJ/MTL.

[2017-05-25 01:49] machenmusik commented on #2701
I would strongly suggest that in the data schema there should be an array of strings that are component names to both attach initially and respond to upon controller connected, that defaults to whatever you like (here, vive-controls and oculus-touch-controls)

[2017-05-25 01:52] machenmusik commented on #1906
That CORS workaround is only functional for MP4, not HLS for example (and may force entire MP4 loading rather than streaming, which may be problematic in some cases?)

[2017-05-25 02:31] ngokevin opened #2702 "component.attrValue gets clobbered on every setAttribute"
**Description:**

component.attrValue gets clobbered/rewritten when doing a setAttribute. This will make `getDOMAttribute` only reflect the most recent `setAttribute`, making it impossible to determine what was explicitly set vs what was a default/mixin/etc.

In console:

[code]

I'd expect the second `.getDOMAttribute` to return `{color: 'red', shader: 'flat'}`

- A-Frame Version: master
- Reprod

[2017-05-25 03:46] cvan commented on #1906
@machenmusik have you tried using MPEG-DASH instead of HLS? it's supported on iOS Safari. HLS is going to be deprecated anyway.

[2017-05-25 05:04] machenmusik commented on #1906
Last I tried (not super recently) DASH did not play with iOS 10 mobile safari... do you have a working example?

[2017-05-25 09:43] cutec-chris commented on #2614
How is it possible to debug this ?
Does entering VR work for someone ? For me the Oculus Browser only shows an Window with the Scene.

[2017-05-25 19:57] eng1neer opened #2705 "Performance problems when rotating camera"
I've set up two simple test cases:

1) 1000 planes are rendered via `a-plane` tag
2) 1000 plane geometries are added via `new THREE.Mesh(new THREE.PlaneGeometry(1, 1))` and then `scene.add(plane)`

On my PC performance in roughly the same when the camera is still ~ 80 fps. However when I start dragging the mouse to rotate the camera the 1st test case shows a performance drop to 15fps, while the 2n

[2017-05-25 20:34] ngokevin commented on #2705
Thanks. I made a Glitch https://glitch.com/~abrasive-orchid for this

[2017-05-25 20:37] ngokevin commented on #2705
I don't get issues with 1000 `<a-plane>`s on my laptop or desktop. Can you check the Glitch and see if you reproduce or see what needs to be changed?

[2017-05-25 20:39] devpaul opened #2706 "TypeScript support"
I've written [ambient declarations](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html) for a-frame in order to provide type support for TypeScript. I created a ticket a few months ago (DefinitelyTyped/DefinitelyTyped#11696) to track interest and recently I've been asked to merge these typings in to a standard place for consumption.

It would be great to include TypeS

[2017-05-25 20:40] devpaul commented on #2706
I forgot to mention, if people would like to experiment w/ current ambient declarations there's a boilerplate here: https://github.com/devpaul/ts-dojo-aframe-boilerplate

[2017-05-25 20:49] ngokevin commented on #2706
Thanks for filing. I'd rather this be maintained outside since it benefits a smaller number of users but adds more maintenance to the project. A-Frame's API is also primarily through the DOM and already has a type system with component schemas so the benefit seems minimal.

[2017-05-25 20:52] eng1neer commented on #2705
@ngokevin Thank you, actually, the issue is connected to react or aframe-react which I'm using, I will file an issue in the proper place

[2017-05-25 20:52] #2705 closed

[2017-05-25 21:14] pdnellius commented on #1906
Has anyone been able to trigger audio?

If I remove the `muted` attribute from the `<video>` element, I am unable to play the video. Adding an `onclick` trigger (via a cube or something), with `videoName.play()` gives an error in iOS 10.

[2017-05-25 21:16] donmccurdy commented on #2706
I think the point is less that A-Frame's API especially needs a type system, than that A-Frame users may want to use TypeScript in their own applications (for whatever reason), and doing so is extremely painful if your dependencies do not have correct typings.

For the question of whether those typings should be in A-Frame's repo or not:

1) If typings were in the repo, how are they served? Is the

[2017-05-25 22:18] devpaul commented on #2706
I think this is the key point. If there's sufficient community support then it's worthwhile to add typings as part of A-Frame. If support and upkeep may be an issue then it's OK as a separate project. The biggest drawback to this is the release of typings wouldn't be tied to A-Frame, which isn't huge if the community isn't yet there.

I love A-Frame's usage of the DOM. Typings would lower the barr

[2017-05-25 23:27] dmarcos commented on #2706
I'm in favor to keep it separate as well, keep an eye on adoption and reevaluate in the future. I don't know much about TypeScript but for those that want to develop their own components, is there space for a`ts-aframe-boilerplate`? That bundles the `t.ds` for you with your components? Is there anything actionable in this issue? Can we close / archive? Thanks for giving a Typescript perspective us

[2017-05-26 00:18] cvan commented on #1906
What error do you see on iOS? The CORS error in the console, or something different?

[2017-05-26 14:37] pdnellius commented on #1906
Markup:
[code]
Error:
`SecurityError (DOM Exception 18): The operation is insecure.`

[2017-05-26 16:55] machenmusik commented on #1906
you need user gesture to trigger media playback that has audio when using mobile safari, and gaze selection doesn't count as a user gesture to the browser, you need touch event or touch-generated click

[2017-05-26 16:59] weddingdj commented on #2614
I tested aframe.io in the new Gear VR 2017 and the VR enter button disappears even before I can click on it to enter VR. The site loads, the button is visible for a brief moment, then it disappears. Mabye it has something to do with the mobile version / css of aframe.io

[2017-05-26 17:17] machenmusik commented on #2614
I wonder if the old code to auto-enter VR (by necessity) for Carmel Developer Preview is trying and failing with Oculus Browser.  But previously for me pages were loading in 2D with enter-VR button visible just fine with Oculus Browser.  Did this just change recently?

[2017-05-26 17:18] dmarcos commented on #2614
Can we test with 0.4.0?

[2017-05-26 17:26] machenmusik commented on #2614
On the assumption that most will be using Oculus browser now, maybe we should remove auto-enter-vr from default scene components, and those that need can add manually? @dmarcos if you like that approach I can do quick PR

[2017-05-26 19:32] weddingdj commented on #1155
`<a-assets>`
`<a-asset-item id="model-obj" src="the-source..."></a-asset-item>`
`<a-asset-item id="model-mtl" src="another-source..."></a-asset-item>`
`</a-assets>`

`document.querySelector('#model-obj').addEventListener('loaded', function() {`
`   console.log('loaded');`
`});`

In my case the loaded event is never triggered in 0.5.0

[2017-05-27 20:07] gordonbrander opened #2708 "Raycaster only updates target objects when elements added/removed"
**Description:** Raycaster component caches raycatching objects by querying for them, then storing them on a property. However, this cache is [only updated/invalidated when an element is added/removed](https://github.com/aframevr/aframe/blob/6511a237a9c762347fbc65c3bcf98b2772691c24/src/components/raycaster.js#L41).

 I ran into this corner case when adding/removing the classname I'm using to mark

[2017-05-27 20:09] gordonbrander commented on #2708
Also, stray thought: we should be able to filter out entities with `visible: false` by default, right?

[2017-05-27 20:10] ngokevin commented on #2708
Refreshing the objects involved query selector and processing through the objects. If you want to refresh the raycaster for corner cases such as these, you can call el.components.raycaster.refreshObjects on demand

[2017-05-27 20:10] #2708 closed

[2017-05-27 20:11] ngokevin commented on #2708
I think the raycaster filters out objects with material.visible = false by default

[2017-05-27 20:29] gordonbrander commented on #2708
That seems reasonable. Thanks!

[2017-05-28 03:52] richardanaya opened #2709 "Support Metalness and Roughness from Texture"
The physical based rendering of A-Frame is limited because these values can only come from integers. Popular physical based pipelines like Substance Designer generate texture maps for diffuse, roughness, metalness, and normal.

[2017-05-28 04:05] richardanaya opened #2710 "Support a Mouse-Locked Look Mode to Support Desktop Experiences"
For development and testing of experiences seen through the Desktop this would help a lot to have this as an option.  There appears to be some 3rd party creations of this, but they seem to be flaky or un-maintained.

Dragging around the cursor on desktop just doesn't seem ideal ;)

[2017-05-28 04:27] #2710 closed

[2017-05-28 04:27] richardanaya commented on #2710
Dupe of this found

[2017-05-28 04:29] richardanaya commented on #2625
I like this idea and think this really should be in by default.  It's painful to develop by dragging the mouse cursor around and really doesn't provide that great of an experience for desktop users checking out aframe experiences.

[2017-05-28 11:40] donmccurdy commented on #2709
Hi @richardanaya — Do you have a particular workflow in mind, for bringing PBR materials in from Substance Designer? We could certainly add support for `material.roughnessMap` and `material.metalnessMap`, but I'm not sure that specifying 3-4 textures in your markup is the ideas way to go about it. Also note that the `material` component doesn't necessarily work with external models; it's most ofte

[2017-05-28 15:04] richardanaya commented on #2709
I think it could still be valueable having it available for primitives and non-exported, here's why.

Even though i'm artist who's capable of using blender3d and exporting fancy models with fancy maps, a more simpler VR artist may only know how to use primitives and seamless repeatable textures.  Having roughnessMap and metalnessMap could allow seamless PBR textures for less skilled artists to cre

[2017-05-28 19:32] dmarcos commented on #2709
@richardnaya Is there any easy to use tool out there to create those roughness / metalness maps without being a skilled artist? I would like to play with one and see if I can get something pretty. I guess there's also value on reuse maps created by real skilled artist like yourself right?

[2017-05-29 00:52] dmarcos commented on #2698
@AngelFQC Can I ask you to click through the three.js examples and see if you see any crashes (https://threejs.org/examples/)? I would like to discard that it's not a problem with the particular GPU / drivers that your phone has.

[2017-05-29 01:13] AngelFQC commented on #2698
I'm trying with the three.js examples, but I see a message saying my broswer does'nt support WebVR for the webvr section examples. There's no crashes
With the Google's WebVR polyfill examples, FF for android works very nice. There's no crashes
The VR effect works fine from A-Frame demos in Chrome

So... there is this bug filed Mozilla's Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1340876

[2017-05-29 02:05] dmarcos commented on #2698
@AngelFQC what about no WebVR exampless? Can you click trough all of them and see if there's any crashes? I would like to see if the are any WebGL incompatibilites with your phone regardless of WebVR.

[2017-05-29 02:14] AngelFQC commented on #2698
All the no webvr examples works, no crashes :-)

[2017-05-29 16:33] richardanaya commented on #2709
@dmarcos Yes sir.  Imagine an artist creating a library of PBR material sets (leather, rough metal, concrete, etc.)  Places like this exist already somewhat: http://freepbr.com/

Here's the program I personally use that is simplest, it allows you to drop on an image of a material, make it seamless, and adjust values to get correct roughness and metalness:

https://www.allegorithmic.com/products/bi

[2017-05-30 05:02] UXVirtual opened #2711 "Make GearVR controller arm parameters exposed so they can be modified"
When the ` gearvr-controls` component is used and tested on actual hardware, the controller model rotates around a point in space outside the models geometry. I haven't tested with another model yet to determine if it's an issue with the GearVR controller model itself or if it's an a-frame bug or polyfill issue.

- A-Frame Version: master (70875d8fef84ac754b465d506dfe64ad62e68f29)
- Platform / Dev

[2017-05-30 06:08] HAZARDU5 commented on #2646
It'd be interesting to see something like `aframe-crawling-cursor` implemented at the point of intersection. This would make it easier to target geometry in 3D space as the size of the laser pointer dot would change depending on the distance from the camera: https://github.com/jujunjun110/aframe-crawling-cursor

[2017-05-30 06:27] ngokevin commented on #2646
That's currently in the PR https://github.com/aframevr/aframe/pull/2678

[2017-05-30 06:34] rob-lindman commented on #2709
I agree that building with primitives is a good start as a gateway to working with Blender and more sophisticated modelling tools.

I think there is a lot of room for expansion of basic primitive parameters in AFRAME, perhaps some sort of more universal primitive component would be valuable.

If you are looking for ‘all of the effects’, what I think would be most interesting is if it was possible

[2017-05-30 08:03] HAZARDU5 commented on #2646
Great - I'll take a look and will give it a test!

[2017-05-30 14:24] machenmusik commented on #2711
Since the Gear VR Controller is 3DOF, its positional information is approximated using a simplistic arm model, which you can see at https://github.com/aframevr/aframe/blob/master/src/components/tracked-controls.js.  By specific request during PR discussion, the parameters of the arm model were removed from the component schema, so unfortunately it is not as easy as one would like to tweak or turn

[2017-05-30 18:08] machenmusik commented on #2711
@HAZARDU5 so I believe the behavior you are describing is the correct functionality of the arm model for 3DOF and not a bug.  Are you making a request to make the arm model parameters accessible (or capability to turn off the arm model) ?  If so, we should probably change the issue title.

[2017-05-30 18:37] HAZARDU5 commented on #2711
Yeah I guess so - could we expose the arm model parameters?

[2017-05-30 18:55] eng1neer opened #2712 "Raycaster component to react on attribute updates"
I have a use case where an object is switching from selectable to a non-selectable state. I do this by changing the class name from 'screen selectable' to just 'screen' (raycaster is set up with '.selectable' selector).

It appears that the raycaster component does not react to class name changes, it only detects a change when an element is added or removed from DOM.

- A-Frame Version: 0.5.0 and

[2017-05-30 19:11] ngokevin commented on #2712
This was filed a couple days ago. Closed with solution at https://github.com/aframevr/aframe/issues/2708

[2017-05-30 19:11] #2712 closed

[2017-05-30 19:43] machenmusik commented on #2711
@dmarcos thoughts re: exposing controls for 3DOF arm model?  goes back to prior PR discussions a bit, I know you and @ngokevin preferred keeping private, but unless they will be maintained as part of core, may be better to open up or perhaps componentize

[2017-05-30 20:10] eng1neer commented on #2712
@ngokevin I just think that this is not a corner or a rare case - changing a class name of an element so that it triggers (or does not trigger) a selector match. Why not do an extended check in the raycaster component (maybe just reacting on "class" attribute changes)? Is it a performance consideration?

[2017-05-30 20:17] ngokevin commented on #2712
It's expensive. Better to call the refresh method on demand rather than hacking in mutation observers and running selector refreshes 90 times per second.

[2017-05-30 20:18] ngokevin commented on #2712
If you really want to do it, you can create a component that force refreshes the raycaster on your desired interval.

[2017-05-30 22:06] richardanaya commented on #2709
Absolutely agree @rob-lindman

[2017-05-30 22:14] ngokevin commented on #2709
It would be nice, and we're already currently supporting some of the other types of maps. But they don't get much usage, there's not much of an audience. For someone that is new enough to be relying on basic shapes, but is knowledgable enough to know about or how to use roughness or metalness maps.

So I say this is sort of an assumption that people would pick it up versus using like glTF. Somethi

[2017-05-30 22:27] richardanaya commented on #2709
I think one opportunity for A-frame is to make powerful features accessible to people who may only know HTML.  Having people use gltf, three.js materials, and even just the amount of time to break open a 3d editor to make something simple is pretty non-trivial for a large number of people.  Even myself, sometimes I just want to take a shortcut and use a simple primitive instead of busting open ble

[2017-05-30 23:35] donmccurdy commented on #2709
I do understand the challenge of getting started with 3D modeling software, but A-Frame cannot be a gateway to Blender. Declarative HTML is great for composing a scene, and adding interactivity, but polygon-based modeling is a whole different ballgame.. Better to have realtime interactivity for that, not an edit/refresh cycle. Even three.js doesn't attempt to support that, and there are libraries

[2017-05-31 02:48] HAZARDU5 commented on #2711
Customizing the arm model could be useful in instances where you want the controller's gyro sensors to directly control an object in a scene and have the controller rotate around a point at 0,0,0 inside the model. E.g. I use the laser pointer to take a model toy off a shelf then it switches to a zoomed in view of the model that follows the camera and allows the toy to follow the rotation of the co

[2017-05-31 21:29] ngokevin commented on #2632
I don't think there's anything to fix. If you have a technical question, you can head to http://stackoverflow.com/questions/tagged/aframe and clarify the question a bit.

[2017-05-31 21:29] #2632 closed

[2017-05-31 22:50] jsantell commented on #2405
Seeing [some issues](https://github.com/googlevr/webvr-polyfill/issues/199) here with regard to Chrome with native WebVR API on (via origin trials) where getVRDisplays() hangs and the polyfill does not polyfill.

[2017-06-01 07:46] Kumaresh-Rajalingam opened #2714 "Auto Rotate camera in A-Frame"
I am try to rotate the 360 image using
<a-animation attribute="rotation" fill="both" easing="linear" dur="40000" to="0 500 0" repeat="indefinite"></a-animation> it's working fine
But inside 360 image I am using some of the icons and labels while I try to rotate the image the icons and labels are going out of the environment

**Any one tell me that How to rotate the camera** ? Instead of rotating a

[2017-06-01 20:46] JstnEdr commented on #1463
Is there a solution to getting audio to play in iOS browsers? Audio is working on desktop and Android devices. I saw a similar issue posted here: https://stackoverflow.com/questions/38645716/cant-play-sound-on-ios

[2017-06-01 22:12] JstnEdr commented on #1906
I'm not sure if this is directly related to this issue, but I'm having trouble triggering audio on iOS devices. I'm listening for click events that play audio assets. I'm curious is anyone else is having a similar issue on iOS devices?

[2017-06-02 02:39] nwoltman commented on #2714
Add `id="camera"` to your `<a-camera>` element and do:

[code]

[2017-06-02 02:49] Kumaresh-Rajalingam commented on #2714
Hello nwoltman
The above code is not working it just changes the image direction to "y" the camera is not get rotating
I need an rotation like this https://livetour.istaging.com/57ecd104816dfa005668e914 and as well I need floor plan also how to do
Thanks in advance

[2017-06-02 03:07] nwoltman commented on #2714
@Kumaresh-Rajalingam Yes the code I gave you is an example of how to rotate the camera to a specific rotation. I didn't realize you were asking how to do a rotation animation. Try following the [animations guide](https://aframe.io/docs/0.5.0/core/animations.html) and use an `<a-animation>` inside your `<a-camera>`.

[2017-06-02 03:22] nwoltman commented on #2714
There's also an A-Frame Slack channel where you can get more help: https://aframevr-slack.herokuapp.com/
There's always [Stack Overflow](https://stackoverflow.com/questions/ask) as well.

[2017-06-02 03:22] Kumaresh-Rajalingam commented on #2714
@nwoltman have you check the above link that I sent? I need an rotation like this

[2017-06-02 09:13] morandd commented on #493
@7dir  - any update? Even rough code would be appreciated; save me from re-coding the wheel. Thanks

[2017-06-02 10:24] 7dir commented on #493
@morandd Hi!
I did it for myself but forgot where.
Realease library become too big.

So U need only add ability to load svgPath data from file.

[code]

Remind me tomorow please https://github.com/7dir/aframe-svgfile-component

[2017-06-02 13:12] chenhaoact commented on #2347
I use the last version chrome mobile browser，and it works！it seem to some browser does not support the VR presentation any more.

[2017-06-02 14:49] 7dir commented on #493
updated https://github.com/7dir/aframe-svgfile-component

[2017-06-02 14:50] 7dir commented on #493
@ngokevin ping
update regestry please

[2017-06-02 19:49] ngokevin commented on #2714
[code]

Again, Kumaresh. Please ask on Stack Overflow, provide code to show that you tried, and show what you tried.

[2017-06-02 19:49] #2714 closed

[2017-06-02 21:06] cvan commented on #2347
Which other browsers are you referring to?

[2017-06-03 00:27] pranithkumar opened #2717 "Video upload issue"
How can we upload a video link from youtube in a-frame?
I want to make a youtube video as the background but I am not able to include iframe in a-sky tag.
Can anyone help me out?

[2017-06-03 00:30] dmarcos commented on #2717
This is explain in the FAQ https://aframe.io/docs/0.5.0/introduction/faq.html#can-i-render-youtube-videos-as-a-texture

[2017-06-03 00:30] #2717 closed

[2017-06-03 02:46] alexfuser opened #2718 "Error in HTML file when exporting from visual inspector"
**Description:** The HTML file that the visual inspector exports is wrong when it is opened in the browser. This does not show well the scene that was worked.

- A-Frame Version: 0.5.0
- Platform / Device: Firefox desktop for MAC OX

[2017-06-03 21:38] nwoltman commented on #2652
These don't work either:

[code]

---

Also, if I have an entity that looks like this:

[code]

This works:

[code]

But this doesn't work:

[code]

So it seems like `src` doesn't get removed if the `shader` property doesn't change.

[2017-06-03 23:11] donmccurdy opened #2721 "Ambient occlusion maps require second UV channel"
In the process of testing baked occlusion/roughness/metallic, remembered there's a gotcha with three.js's AO implementation: the occlusion map requires a 2nd set of UVs.

Here's a sample model: [metal-rough-cube.zip](https://github.com/aframevr/aframe/files/1050005/metal-rough-cube.zip)

[code]

The AO doesn't show up (easier to see this if you only have ambient lighting).

I can "fix" that with t

[2017-06-04 02:28] donmccurdy commented on #2709
Hmm I'm having second thoughts. To add some context from #2721, apparently `ambientOcclusionMap` never worked to begin with, and was never reported as a bug.

@richardanaya could you give a concrete example of what a new artist might do with "powerful materials on simple objects"? Ideally including a seamless PBR texture? I'm not opposed to supporting this, but having a hard time convincing myself

[2017-06-04 03:17] richardanaya commented on #2709
@donmccurdy

It's been my observances in VR that many artists tend to go through various phases:

1. building with rough solid colored objects
2. minecrafter types capable of assembling complex objects with basic primitives (guns made from blocks)
3. primitive tweakers who play with complex textures to get an even more detailed object
4. 3d artists who can model, but they don't know how to texture

[2017-06-04 03:41] donmccurdy commented on #2709
Thanks for the detailed response — Concretely though, what sort of a scene could I make with this technique? Can you provide a seamless texture that looks OK on primitive shapes?

For example, something like this:

[code]

![screen shot 2017-06-03 at 8 27 53 pm](https://cloud.githubusercontent.com/assets/1848368/26758744/15d02360-489c-11e7-8970-b10cd64b4c14.png)

I can't think of a real scene wher

[2017-06-04 04:04] richardanaya commented on #2709
The emphasis usually is on seamless textures, alpha masks, texture repeats/offsets, when you have no capability to generate UVs of your models, people on the lower spectrum of 3d modeling capabilities rely upon the UV maps of your default primitives.

There's providers of seamless PBR textures out there and builders tend to learn from each other the tricks of their appropriate skill level.  Here's

[2017-06-05 13:22] takahirox commented on #2693
glTF 2.0 has been released!
https://www.khronos.org/news/press/khronos-releases-gltf-2.0-specification

[2017-06-05 15:20] donmccurdy commented on #2693
Yay!

I think my vote would be:

- Plan to upgrade to three.js r85 for A-Frame 0.7.0.
- Update `gltf-model` from GLTFLoader to GLTF2Loader then, without renaming the component.

Waiting for 0.7.0 also buys some time for the tooling, since COLLADA2GLTF updates haven't been merged yet.

[2017-06-05 20:45] ngokevin opened #2725 "component DOM data is getting clobbered on the second getAttribute"
**Description:**

Most likely from the patch that simplified setAttribute logic.

1. Have a component with DOM data `<a-entity geometry="primitive: box; width: 5">`
2. `setAttribute('geometry', {depth: 10, height: 10})`
3. `setAttribute('geometry', {depth: 20, height: 20})`
4. Width is now reset back to 1

Has something to do with the whole `attrValue` and `previousAttrValue` caching.

[2017-06-05 21:33] timmhayes commented on #1556
I'm still having the same issue in Chrome / Android 6.0 / aframe 0.50 nearly a year after this issue was first reported. Any updates on this? I'd love it if someone could point me to a workaround at the very least.  I can't even get the [official sample](https://aframe.io/examples/showcase/videosphere/) to work correctly.

In my code, I can get the video playing if I force a user-initiated click b

[2017-06-05 21:43] dmarcos commented on #1556
@timmhayes what phone do you have?

[2017-06-05 23:24] timmhayes commented on #1556
@dmarcos - Sorry, I should have included that info. A Samsung Note 5, recently updated to Marshmallow.

[2017-06-06 00:15] #2725 closed

[2017-06-06 01:34] ngokevin commented on #2702
https://github.com/aframevr/aframe/issues/2725

[2017-06-06 01:34] #2702 closed

[2017-06-06 05:48] lmccart commented on #2636
I found a workaround by changing the shader when I set the video src. Not ideal but it triggers an update.
```videosphere.setAttribute('material', 'shader: flat; color: #ffffff; src: '+data.src);```

[2017-06-06 13:40] juho-k opened #2731 "A-Frame cursor crashes when looking at some Collada models"
**Description:**

A-Frame crashes when having a cursor and a Collada model in the same scene, and looking at most parts of the model. For example [this model](https://3dwarehouse.sketchup.com/model/9437690f-9220-4abd-8235-93e2296a0644/Iskren-Marinov-Comp) crashes A-Frame when looking at the paintings. Seems to be the same problem as [here](https://stackoverflow.com/questions/40114053/collada-model

[2017-06-06 16:45] bryik commented on #2731
[Same issue?](https://github.com/aframevr/aframe/issues/2319)

[2017-06-06 16:51] ngokevin commented on #2731
Yeah, duping with that. I'll put an update in that issue.

[2017-06-06 16:51] #2731 closed

[2017-06-06 17:50] ngokevin commented on #2718
Should be filed on https://github.com/aframevr/aframe-inspector, but yeah HTML export is buggy

[2017-06-06 17:50] #2718 closed

[2017-06-06 23:14] superjose opened #2733 "Outdated URLs to Threejs in website and MD files."
**Description:**
_I messed up and created a PR instead of an issue._

Anyways, here's the thing: There are a couple of URLs that point to the docs in the Threejs website that seem to be outdated.

In here:
https://github.com/aframevr/aframe/blob/master/docs/components/material.md
https://aframe.io/docs/0.5.0/components/material.html#standard

Urls have this form:
https://threejs.org/docs/#Referenc

[2017-06-07 01:13] weddingdj commented on #2614
I investigated and it looks like if the exit-vr event is not triggered.

[2017-06-07 07:35] cvan opened #2736 "consider adding file-size badges to README"
https://github.com/ngryman/badge-size

[2017-06-07 16:51] weddingdj opened #2737 "a-asset-item blocks scene loading, even after reaching default timeout of 3s"
**Description:**

- A-Frame Version: master
- Platform / Device: chrome, desktop
- Reproducible Code Snippet or URL: http://dev2.ideaspacevr.org/public/test.html
Can be tested with bandwidth throttling on Chrome.

a-asset-item blocks scene loading, even after reaching default timeout of 3s, and even if I set the timeout to 0 on a-assets.

This behaviour is relevant if you want to create an asset-i

[2017-06-07 19:24] rttomlinson commented on #2733
I'll fix this.

[2017-06-07 20:08] ngokevin opened #2738 "Add `source` path metadata to every relevant doc page to link to source code on GitHub"
**Description:**

Make the path relative to the GitHub root. For example, at top of every doc page:

[code]

I will configure the aframe-site repo to build the URLs depending on the version of the documentation being viewed and show a View Source button.

For example, built URLs:

- **master:** https://github.com/aframevr/aframe/blob/master/src/components/cursor.js
- **0.5.0:** https://github.com/

[2017-06-07 20:30] wizgrav opened #2740 "system.update() not called via the web inspector"
system.update() is not called when system attributes are modified via the web inspector while setAttribute() works as expected.

- A-Frame Version: master
- Platform / Device: All

[2017-06-07 20:46] #2646 closed

[2017-06-07 22:43] ngokevin commented on #2740
Yeah, didn't really expect that to work. You can file at https://github.com/aframevr/aframe-inspector

[2017-06-08 02:23] weddingdj commented on #2614
When loading a scene:
![screen shot 2017-06-07 at 22 18 57](https://user-images.githubusercontent.com/3025886/26909579-b58af476-4bcf-11e7-8c33-a91c1b310402.png)

If I touch the touch pad of the controller:
![screen shot 2017-06-07 at 22 20 27](https://user-images.githubusercontent.com/3025886/26909587-c2d22c9e-4bcf-11e7-981c-3fdf270ba266.png)

No output when entering or leaving VR mode.

[2017-06-08 02:40] dmarcos commented on #2614
@weddingdj thanks for investigating! Is that with current master? `auto-enter` vr was disabled recently.

[2017-06-08 02:50] weddingdj commented on #2614
Yes, it is the current master. I put some debug statements into the exitVR method and it is never called. To me it looks like that the VR controller is exiting VR mode but a-frame still thinks it is in VR. That's why the camera rotation after exiting is the same angle as in VR before, and, of course, no enter VR button is shown.

[2017-06-08 03:01] ngokevin commented on #2614
Entering VR itself works fine though right?

[2017-06-08 03:02] weddingdj commented on #2614
Yes, entering VR works fine.

[2017-06-08 03:03] dmarcos commented on #2614
requestPresent is failing. Is this the Oculus Browser or the Samsung one

[2017-06-08 03:03] weddingdj commented on #2614
The Oculus Browser.

[2017-06-08 03:05] dmarcos commented on #2614
`requestPresent` is clearly failing saying that it requires user gesture. I don't understand how it's entering VR. Is it the polyfill taking over?

[2017-06-08 07:19] ngokevin commented on #2740
Oops, browser inspector.

[2017-06-08 14:13] machenmusik commented on #2614
@dmarcos I don't think you merged #2707, was auto-enter disabled some other way?

[2017-06-08 14:14] machenmusik commented on #2614
Perhaps auto enter is attempted and fails in such a way that messes up subsequent exit after manually entering.  Try with #2707 included maybe?

[2017-06-08 14:34] alwell-kevin commented on #2156
@ngokevin Using the asset management system did not fix the issue.

[code]

Where location.scene_img_ur is an s3 asset with CORS enabled. Issue still remains.

[2017-06-08 17:07] aidanfeay commented on #2636
It appears that changing the `material` attribute (even without the shader property) works while changing the `src` attribute does not.

[code]

[2017-06-08 17:14] machenmusik commented on #2636
@ngokevin is this the typical case of differences between component and primitive behaviors (and perhaps encouragement to use components for more complex cases) ?

[2017-06-08 17:57] dmarcos opened #2745 "Consolidate all component configuration in a single config object"
In discussions over Slack about the need of adding a flag so some components `tick` / `tock` methods have a higher priority made me think. We now have `dependencies`  and `schema` that turn into reserved words. The approach won't scale if we want to keep adding things like the flag mentioned before. We might want to consider consolidating all the fields in a single `config` object:
[code]

[2017-06-08 18:12] wizgrav commented on #2745
I also lean over the consolidation as it will future proof the api. On the other hand it breaks component with dependencies and may also conflict with anyone setting a config property of his own. Maybe you could call on all component writers to consult/prepare them

[2017-06-08 18:13] dmarcos commented on #2745
We can still take the old form and provide a warning message in console for a couple of versions before deprecating.

[2017-06-08 18:30] dmarcos commented on #2745
@donmccurdy @ngokevin what do you think?

[2017-06-08 19:01] donmccurdy commented on #2745
Offhand, I like the idea of having a `config` property, but I'm not sure dependencies and schema should be in it. They feel less like configuration, or at least schema does. Can we think of other properties that make sense? Some ideas:

- `system` name for components that are part of a multi-component system
- `multiple` could be moved into config.

[2017-06-08 19:04] machenmusik commented on #2745
really it's not the component configuration as much as the specification though, right?  when I think of configuration, I think of configuration of an instance of the component (which for public properties is `data`)

[2017-06-08 19:05] wizgrav commented on #2745
@donmccurdy I think the point is to keep prototype pollution to a minimum. The property name could vary, for instance I was thinking of "meta" or something, but it doesn't really make a difference to me at least

[2017-06-08 19:05] machenmusik commented on #2745
sidebar - I don't think a Boolean `priorityTick` will suffice if we have enough complexity to require prioritization

[2017-06-08 19:08] wizgrav commented on #2745
@machenmusik you're right and it probably won't. I did this PR at some point https://github.com/aframevr/aframe/pull/1437 . I lean more for a simple solution right now as it would cover present needs. If more is needed it can be provisioned then on top of the flag which would have minimal impact

[2017-06-08 19:12] wizgrav commented on #2745
@donmccurdy if you mean being able to specify an alternate system name for components, I'm all in for that

[2017-06-08 19:27] machenmusik commented on #2745
@wizgrav w.r.t. `priorityTick` -- if we're talking pre/post-processing, presumably those need ordered chains / graphs, and a Boolean can't represent any but the most trivial ordering - use a number at minimum, at which point you probably want to call it `tickPriority` - or maybe I misunderstand the use case

[2017-06-08 19:42] wizgrav commented on #2745
@machenmusik postprocessing is covered adequately as it is. System always run after components and there can be only one system that finally outputs to canvas. So there are two lanes of order and that's good enough.

The use case for more prioritization would be to have a screenshot system that would always run after the post processing system to record the final frame

[2017-06-08 19:45] frankymacster commented on #2514
I'm observing the same thing. This is what I get in the console:
`Uncaught (in promise) DOMException: play() can only be initiated by a user gesture.`

A-Frame Version: 0.5.0
Platform / Device: LG-D852 (LG G3), Android 6.0.0, Chrome 58.3029.83

[2017-06-08 19:47] machenmusik commented on #2745
@wizgrav there you need to be able to specify ordering of systems right?  e.g. this system needs to go after system X...  Note that there is indeed a screenshot facility in A-Frame, is it not yet accommodated correctly?

[2017-06-08 19:51] wizgrav commented on #2745
@machenmusik the screenshot component basically redraws the scene on its own so it's not very efficient and no post processing. On its good side it can draw into cubemaps and do 360 video.

[2017-06-08 19:54] ngokevin commented on #2745
It sounds okay, but I don't think the prototype is much polluted at the moment, and it's not much work for developers to avoid reserved properties. It does sound like work to migrate the component ecosystem however. The whole component definition is sort of like a config in itself as well.

[2017-06-08 19:57] dmarcos commented on #2745
But as we add more properties it will harder to avoid the collisions. We have components already that add all sort of stuff like `mapping` , `axisLabels` or their own private methods.

[2017-06-08 19:58] machenmusik commented on #2745
maybe when/if we get around to deprecating primitives, this will be more palatable / necessary.
another option, of course, is to keep namespace flat but use a prefix to avoid collisions

[2017-06-08 19:59] dmarcos commented on #2745
Prefixes hurt my eyes. No please

[2017-06-08 20:00] machenmusik commented on #2745
(the traditional thing is to do something like underscore as prefix, not some further camelCase, but I agree that is somewhat less desirable)

[2017-06-08 20:01] ngokevin commented on #2745
It might be pre-emptive as that hasn't been an issue, and even as we add more properties, it's easy to avoid collisions. Also unlikely to hit those collisions as well. Just validate the component prototype and throw errors. A component is likely to try todefine config as the other names. Perhaps if we can batch it with other breaking changes in the future.

[2017-06-08 20:03] machenmusik commented on #2745
yeah I think `config` is maybe not the best choice, but something like `meta`, `spec` / `specification`, `properties`, `definition` would be much less likely to clash (and much more obvious a problem if it happened)

[2017-06-08 23:37] scottlittle commented on #2514
FWIW I updated Android to 7.1.1 and the screen is no longer going to sleep.

[2017-06-09 02:06] weddingdj commented on #2614
I tried with #2707 but still no success. Is it possible that the click on the back button of the Gear VR controller is just not taken into account by a-frame? Any hint where I could debug in the code?

[2017-06-09 02:31] dmarcos commented on #2614
I would look into the `exitVR` button of `a-scene`:

https://github.com/aframevr/aframe/blob/master/src/core/scene/a-scene.js#L229

Is `exitVRSuccess` ever called?

[2017-06-09 02:58] donmccurdy commented on #2745
It's hard to come up with a useful word that means "everything about the component that isn't a method". I was suggesting omitting at least `schema` from the `config`, because it feels conceptually different from primitive configuration values anyway (and something like `tickPriority` does really feel like configuration). I don't think finding a more ambiguous word is helpful — if there are meanin

[2017-06-09 03:58] gregfagan commented on #2651
Hi @BhuvanaMeenakshi, I wasn't sure if you had a chance to take a look at this yet. It was in an area I recently studied so I thought I'd give it a go. Seeking feedback.

[2017-06-09 05:19] pranithkumar opened #2749 "vr motion video"
I want to record a vr motion video of my house.
How can I do it?

[2017-06-09 05:22] dmarcos commented on #2749
We use github issues for bugs and feature requests. For questions please use stackoverflow:

https://stackoverflow.com/questions/tagged/aframe

or our slack channels:

https://aframe.io/community/#slack

[2017-06-09 05:22] #2749 closed

[2017-06-09 05:40] cvan commented on #1906
which audio codec is the sound encoded with? if you're listening for `click` events, the user-gesture requirement should be met. can you share a URL of your project?

[2017-06-09 05:43] BhuvanaMeenakshi commented on #2651
Yes @gregfagan you may proceed!

[2017-06-09 05:47] fuleinist commented on #1556
@timmhayes does this one work for you? https://fuleinist.github.io/aframe-360-video/

[2017-06-09 13:33] weddingdj commented on #2614
No, it is never called. These were my debug statements (non of them were called):

[code]

[2017-06-09 13:42] dmarcos commented on #2614
@weddingdj just curious. do you use a remote console or something to see the logs on GearVR?

[2017-06-09 13:57] weddingdj commented on #2614
Yeah, I use a remote console.

[2017-06-09 15:18] donmccurdy commented on #2749
For posterity: https://stackoverflow.com/questions/44450241/recording-vr-motion-video

[2017-06-09 20:49] weddingdj commented on #2614
@ngokevin should I test your fix?

[2017-06-09 22:55] ngokevin commented on #2614
That'd be helpful! I will be around to test it in an hour.

[2017-06-09 23:25] timmhayes commented on #1556
In Chrome on the Note 5 I see nothing but black - no video. But it plays as expected on Firefox.

[2017-06-09 23:44] machenmusik commented on #1556
Sanity check.  Does this work for you?  https://codepen.io/machenmusik/pen/gRPZqd

[2017-06-09 23:56] timmhayes commented on #1556
I see the image straight off, but since the video does not appear to have any motion I can't tell if it is actually playing.

[2017-06-10 00:30] machenmusik commented on #1556
You can fork the codepen and replace the video URL with whatever you like, as long as it is wide open for CORS

[2017-06-10 01:33] weddingdj commented on #2614
I applied your changes but it did not work.

[2017-06-10 01:35] ngokevin commented on #2614
Yeah, I just tried myself. I guess it means Oculus Browser may not be firing `onvrdisplaydeactivate` as the WebVR API says it should. Asking them now in the PR. Or here. Does Oculus Browser implement `onvrdisplaydeactivate`, or is there another agnostic way to detect exit VR so A-Frame can handle it.

[2017-06-10 02:30] DigiTec commented on #2614
Why would we fire onvrdisplaydeactive? We aren't unmounting. The spec seems pretty clear here.

We are firing or should be firing onvrdisplaypresentchange

[2017-06-10 02:38] ngokevin commented on #2614
Thanks, I'll use that.

[2017-06-10 04:39] machenmusik commented on #2614
Thx Justin

[2017-06-10 08:43] amitsin6h commented on #2738
want to work assign me @ngokevin

[2017-06-10 12:07] tejalavu96 commented on #2733
can you explain the issue clearly please

[2017-06-10 13:06] timmhayes commented on #1556
I replaced your codepen video with the [one from the A-Frame 360 video example](https://ucarecdn.com/bcece0a8-86ce-460e-856b-40dac4875f15/) and it did not work, however I think there may be an issue with that video. It seems to have the correct mime type, but will not play directly in Chrome (using Android & Windows) - it downloads instead. I think that might be the cause of some of my issues.

Th

[2017-06-10 13:32] tejalavu96 commented on #2274
ya i will do it

[2017-06-10 13:38] achukavya commented on #1785
I want to work on this..

[2017-06-10 16:23] superjose commented on #2733
@tejalavu96 Yes. The URL pointing to Threejs in the A0Frame site yield a 404 error when clicked. Threejs has changed "#Reference" from the URL to "#api"

In other words, try clicking any Threejs link in the A-Frame website that refers to Threejs.

[2017-06-10 17:17] machenmusik commented on #1556
Interesting.  Does the A-Frame example video work if you also specify the mime type as part of the video element, rather than only replacing the URL?  Maybe a regression in mime type detection behavior in Chrome?

[2017-06-10 18:44] pjoulot opened #2754 "Preloading sound asset seems buggy on master"
Hello,
I think the sound example in the documentation is broken on master. It works perfectly on the 0.5.0 release but not on the latest commit of the master branch.

- A-Frame Version: master
- Platform / Device: Windows 10 - Firefox Nightly
- Reproducible Code Snippet or URL: https://aframe.io/docs/0.5.0/components/sound.html#preloading-a-sound-asset

When I do the exact same thing from the docu

[2017-06-10 18:57] timmhayes commented on #1556
Nope, not when I specify a `<source/> ` element with proper mime type as seen [here](https://codepen.io/callmetimm/pen/RgaWjW). But like I said, it looks like the mime type is being served.

I looked more into it. The a-frame video is being served with the following header: `content-disposition:attachment; filename=city-4096-mp4-30fps-x264-ffmpeg.mp4`. This is causing the download issue.

[2017-06-11 15:26] the-max0r commented on #2614
Just tested the example from https://aframe-master.glitch.me and now the enter vr button does not disappear. Tested on Samsung Galaxy S7 with Gear VR 2 in Oculus browser.

[2017-06-12 02:39] rabimba commented on #2014
Questions regarding workflow
Is the following is what you have in mind?

- When one clicks on the context the visual inspector script will be injected into the aframe scene
- It then invokes the visual inspector in the editing mode

[2017-06-12 07:23] zubairq opened #2758 "aFrame does not work on Windows 7 IE11"
aFrame does not work on Windows 7 IE11. On a Windows 7 machine on IE11 open up any of the demos from the website. ie:

https://aframe.io/examples/showcase/helloworld/

The first Javascript error in the console is:

 var evt = new CustomEvent(name, data);
  el.dispatchEvent(evt);

But fixing this just leads to several more errors.

- 0.5
- Windows 7 desktop PC
- Reproducible Code Snippet or URL:

h

[2017-06-12 07:43] risbansal commented on #1337
I want to help.

[2017-06-12 09:30] Utopiah commented on #1337
- check path (e.g. relative vs absolute)

[2017-06-12 14:11] #2651 closed

[2017-06-12 15:15] rttomlinson commented on #2701
Is this issue still being worked on?

[2017-06-12 15:53] weddingdj commented on #2614
It does not work when testing https://aframe-master.glitch.me in Oculus browser, Gear VR with controller, Samsung Galaxy S7. The button still disappears and the camera rotation is wrong after leaving VR mode.

[2017-06-12 16:04] donmccurdy commented on #2758
Hi @zubairq, see previous discussion of this here: https://github.com/aframevr/aframe/issues/1475

A-Frame supports Microsoft Edge, but not IE11. There are both feature and performance issues that make supporting IE11 unrealistic for us. If you're going for a simpler (non-VR) 360º pano experience, you may want to consider [VR View](https://developers.google.com/vr/concepts/vrview-web). For VR cont

[2017-06-12 16:50] the-max0r commented on #2614
@weddingdj I tried it yesterday successfully. I also experienced weird caching behavior from the Oculus browser. Try to open the link in a private browser tab to avoid loading a cached version.

[2017-06-12 17:31] ngokevin commented on #2758
Yeah I'd use Microsoft edge. Ie11 would be hard to support well. Very minimum we'd need to include a custom event polyfill just for ie

[2017-06-12 17:31] #2758 closed

[2017-06-12 17:58] the-max0r commented on #2614
@weddingdj You are correct. I misread the issue title. When accessing the a-frame examples from https://a-frame.io (with a-frame 0.5.0) there was no enter vr button on Gear VR2 for me in the first place (couldn't enter vr mode at all).
When using a-frame master as in https://aframe-master.glitch.me, the enter vr button disappears after exiting vr mode (as this issue title suggests). Sorry for the

[2017-06-12 19:22] cuitingcheng opened #2761 "VR mode renders terribly in Firefox Android"
**Description:**
Hi,
I think there is a problem that VR mode is not rendered correctly in Firefox android browser, it has huge amount of aliasing and terrible resolution. the non-VR works fine and Chrome doesn't have this issue. Screenshots were taken with Aframe.io example.
![screenshot_20170612-151101](https://user-images.githubusercontent.com/7551964/27051077-ccaad39a-4f82-11e7-89f8-678bcb816e9

[2017-06-12 19:25] dmarcos commented on #2761
What phone?

[2017-06-12 19:29] cuitingcheng commented on #2761
@dmarcos Samsung Galaxy S7 and Huawei P9

[2017-06-12 19:47] memidgety opened #2762 "Audio/sound currentTime returns 0 even as it is playing"
**Description:**
When using <a-assets>, the <audio> src ('#audiosource') currentTime property does not seem to update. I am currently attaching a sound component to an <a-entity> ('#entity') and printing out the currentTime of the src which plays on init(). The return is always 0 even though the sound is playing.

[code]

- A-Frame Version: 0.5.0

[2017-06-12 21:22] MeditationMatt commented on #1463
I too would lovvvve a solution to this.  Any help out there?

[2017-06-12 23:59] donmccurdy commented on #1337
There is a [3D Models • Troubleshooting](https://aframe.io/docs/0.5.0/introduction/models.html#troubleshooting) section in the documentation now; I think this issue can be closed if we just add a link from the `obj-model` docs.

That said, please feel free to improve these docs with PRs! :)

[2017-06-13 00:03] #1337 closed

[2017-06-13 00:25] memidgety commented on #2762
When referencing to the sound component on the entity, the reference points to an undefined object.

[2017-06-13 00:26] donmccurdy commented on #2762
Ok, so it looks like the `#audiosource` element is no help at all here — presumably the three.js audio system is making its own copy of the sound, in order to do positional audio or something.

Instead, you need to use the element with the sound component attached to it, and then dig into the API a fair bit:

[code]

Here's a demo: https://glitch.com/edit/#!/aframe-sound-demo

Clearly this isn't t

[2017-06-13 00:29] ngokevin opened #2764 "text not updating geometry/layout when text is updated"
**Description:**

Given a text container `<a-entity text geometry="primitive: plane; height: auto" material>`, continually update `text.value` with new lines. The height of the plane should automatically update, but it seems it might be stuck at the initial height of the text.

- A-Frame Version: 0.5.0 + master
- Platform / Device: desktop

[2017-06-13 04:07] cvan commented on #2745
what about accepting a third argument for the config object?

[code]

if there are three arguments, use this format. if there are only two arguments, go with what @dmarcos said and continue to allow that format to work and print a `console` deprecation warning, keeping things backwards compatible until the release of the first A-Frame major version (`1.0.0`).

[2017-06-13 05:51] ngokevin opened #2768 "simple in-vr stats component"
**Description:**

Barebones stats component, all it does is show one number: FPS.

[code]

Most of the implementation:

[code]

[2017-06-13 06:21] donmccurdy commented on #1463
We ought to create an FAQ entry about this, as the question does come up a lot... There is really no way to start an audio clip on iOS without a user interaction. If you want ambient noise or music in the background, you could have a "Begin" button overlaying your screen, prompt users to click that before they enter VR, and kick off VR mode and the audio at the same time.

For sound that would pla

[2017-06-13 06:28] dirkk0 commented on #1463
https://howlerjs.com has Audio Sprites which is pretty much 'skipping around in one file' as far as I understood it, so implementing this might not be as painful. I think one member of the A-Frame community (jostrem) successfully implemented Howler with iOS. If you search for Howler in Slack, you'll find it.

[2017-06-13 06:51] MeditationMatt commented on #1463
i am trying to trigger sounds from within an aframe scene interaction, but it won't work on ios.

Everything says you need a user interaction on ios to play audio, but i can't find a working example of that.

[2017-06-13 07:28] intensr opened #2769 "Daydream controller doesnt work and entering VR mode throws a critical error"
**Description:**
Daydream controller doesnt work and entering VR Mode throws a critical error, somehow it works in custom builds and older versions of Aframe.

- A-Frame Version:
Tried various ones, first ofc the latest one 0.5.0 (master/f850c2f),
then some of the last 2 days 0.5.0 (master/9266cfd) and so on,
then I bundled an A-frame version with an older VR Polyfill (0. which PlayCanvas uses in

[2017-06-13 08:28] feiss commented on #1372
I found the same issue, thought it was an inspector problem:
https://github.com/aframevr/aframe-inspector/issues/462

[2017-06-13 08:30] zubairq commented on #2758
I got the basic stuff in Aframe working now in IE11. I added the following Javascript to my main page:

[code]

And it seems to do the trick. I don't know yet if it will work for complex examples beyond boxes and text though

[2017-06-13 08:31] zubairq commented on #2758
I got the basic stuff in Aframe working now in IE11. I added the following Javascript to my main page:

[code]

And it seems to do the trick. I don't know yet if it will work for complex examples beyond boxes and text though

[2017-06-13 09:24] HAZARDU5 commented on #1463
We've had really good results using howlerjs for some production projects and games. It'd be great to see someone write a component that extends the standard `sound` component to add audio sprite support using howlerjs.

[2017-06-13 12:16] machenmusik commented on #2769
If you are trying to use the recently added core daydream controller support, the component name is `daydream-controls` if I recall correctly - not `daydream-controller`

[2017-06-13 13:10] machenmusik commented on #2769
Does using WebVR API in Chrome on Daydream still need either origin trial token or explicit WebVR feature flag enable?  If so, and you haven't done either, then I would expect requestPresent to fail due to browser denying permission.

[2017-06-13 14:20] intensr commented on #2769
Iam so stupid sorry, you're right both times. I didnt find any deeper description about how to implement the controller because daydream component site is [not ready yet](https://aframe.io/docs/0.5.0/components/daydream-controls.html) (I guess?!) so i ripped it from another repo. I updated the pen however, still not sure if thats the _best_ implementation for testing if the controller works or not

[2017-06-13 14:42] donmccurdy commented on #1463
The problem is that interaction within an A-Frame scene doesn't count. The browser can't tell what's going on inside WebGL, so it has to assume those events are just generated by arbitrary JS. You need an old-fashioned physical `touchstart` or `click` event, triggered by the user's finger (or Cardboard button) and not by a fuse or gaze cursor. Gamepad buttons might also count. I don't know of a li

[2017-06-13 18:01] memidgety commented on #2762
Using `pool` and `audioSource.context` does return the current time of the entity's sound component, however, it continues to increase even then when the sound source has stopped. This maybe because the sound pool object is "playing" even though it has stopped.

[2017-06-13 21:17] machenmusik commented on #2768
hmm, was wondering whether potentially having to re-render glyphs every tick was going to be a performance killer, versus something like the FPS counter on https://webvr.info/samples/02-stereo-rendering.html

[2017-06-13 21:19] ngokevin commented on #2768
That seems like a canvas to texture render? I don't think updating a number has a big performance impact, the log component example I did was thrashing five different logging consoles with lots of text and it seemed fine.

[2017-06-13 22:22] iMerica commented on #1041
For those still seeing this error: Using the full absolute file path to the file `aframe-master.js` in your node_modules should work. For example:

[code]

Tested on:
- "aframe": "^0.5.0"
- "aframe-react": "^4.2.4"
- "webpack": "^1.13.1"

[2017-06-13 22:28] ngokevin commented on #2385
#2700 fixed

[2017-06-13 22:28] #2385 closed

[2017-06-14 00:38] ngokevin commented on #2495
#2700

[2017-06-14 00:38] #2495 closed

[2017-06-14 00:53] cvan opened #2771 "`npm install aframe@5.0.0` fails: fetchPackageMetaData error: pathspec 'a02a8089b' did not match any file(s) known to git."
**Description:**

- A-Frame Version: 0.5.0
- Platform / Device: all
- Reproducible Code Snippet or URL:

Just run this install to `aframe` version `0.5.0`:

[code]

<details>
<pre><code>0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/Cellar/node/8.0.0_1/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'i',
1 verbose cli   'aframe' ]
2 info using npm@5.0.1
3 info usi

[2017-06-14 01:05] dmarcos commented on #2771
I reforked the polyfill on my account: https://github.com/dmarcos/webvr-polyfill/

The hash https://github.com/dmarcos/webvr-polyfill/commit/a02a8089b exists now show npm should fetch it as expected. Just tried and it seems works. Please reopen if the problem persists

[2017-06-14 01:38] cvan opened #2773 "Point to moved dependency in package.json: `@tween/tween.js` (instead of `tween.js`)"
[code]

The output of an `npm install` contains this warning:

[code]

[2017-06-14 01:43] cvan commented on #2771
Thanks! I see that the commit resolves on GitHub, but I cleared my npm cache and it still won't install properly. I tried `npm cache clean`, `rm -rf ~/.npm`, `npm cache verify`,

<img width="1145" alt="screen shot 2017-06-13 at 6 42 29 pm" src="https://user-images.githubusercontent.com/203725/27111887-26faedf4-5068-11e7-86d5-b7f4f0da7a39.png">

Ideas?

[2017-06-14 01:45] dmarcos commented on #2771
That screenshot does not seem related to the polyfill. Try deleting your `node_modules` directory and run `npm install` again.

[2017-06-14 01:51] dmarcos commented on #2771
Below the result in my windows box:

![install](https://d3vv6lp55qjaqc.cloudfront.net/items/2j402d3h2Q450q270N1p/Image%202017-06-13%20at%206.50.39%20PM.png?X-CloudApp-Visitor-Id=402ef9a4b6ed079d2b4c220eb45be353&v=d217e0dd).

[2017-06-14 01:51] ngokevin commented on #1941
Has since been throttled.

[2017-06-14 01:51] #1941 closed

[2017-06-14 01:54] cvan commented on #2771
It says `Command failed: /usr/local/bin/git checkout a02a8089b`.

The commit in question is https://github.com/dmarcos/webvr-polyfill/commit/a02a8089b. So, it seems to still be the `webvr-polyfill` dependency it's fatal-erring on. I'll try on another machine and clearing my cache too. I just hope others aren't encountering the same problem of trying to install `npm install aframe` once and it not

[2017-06-14 05:56] kkruups opened #2774 "Typo in Online Documentation: colon should be semi-colon and vice a versa"
**Description:**
**Documentation Issue**
The paragraph (described below) in section indicated by link below has a typo:
https://aframe.io/docs/0.5.0/introduction/entity-component-system.html#syntax

**Excerpt of passage which needs correction:**

...This syntax takes the form with a **semicolon** (:) separating property names from property values, and a **colon** (;) separating different property

[2017-06-14 06:19] dmarcos commented on #2774
Thanks! Do you want to try opening a pull request to fix it? We can help if you don't know how to

[2017-06-14 07:05] machenmusik commented on #2769
So wait, if you turn OFF WebVR support (and then are presumably using polyfill not Daydream mode) then I don't think the controller will work.  My understanding is that you have to be in Daydream mode (WebVR enabled) for the controller to do its job.

[2017-06-14 08:15] hardiksurana opened #2775 "Caching issue with a-assets. Images are re-downloaded every time."
-**Issue**:
I have a few images in <a-assets>, which are being used as the src for <a-sky>. I am also adding new images to <a-assets> dynamically, using javascript. Initially, when the page loads, all the images are downloaded. When I change the src of <a-sky> to an image which is already downloaded, it re-downloads the image again, instead of loading a cached version of the same. Also, once I add

[2017-06-14 08:47] P00jaT commented on #2591
I want to work on #2591 problem

[2017-06-14 10:07] cvan commented on #2769
@intensr @caseyyee: this appears to be a dupe of issue #2677. we should close one of the bugs and  address this issue.

[2017-06-14 11:07] andreasplesch commented on #2591
The end effect of position, scale and rotation depends on the order in which these are applied. Please verify that the order is indeed scale, then rotation, then position (translation).

[2017-06-14 12:39] machenmusik commented on #2769
A little testing of my own...

After a host of updates to Pixel phone and controller (all now on latest), and using Chrome beta (webvr enabled so no origin trial token dependency) with controller example codepen:
 https://codepen.io/machenmusik/pen/gWdgMy
Once you enter VR and click the track pad, since for security the Gamepad API will not provide controller data until the controller is used, the

[2017-06-14 12:48] machenmusik commented on #2769
@cvan we probably want to work issues with official phone and controller firmware first, then come back to see if that fixes this one

[2017-06-14 13:12] machenmusik commented on #2677
See latest comments from me on #2769, am not seeing errors mentioned

[2017-06-14 15:15] donmccurdy commented on #2774
Here are the steps for updating our docs, if you're interested, @kkruups — https://github.com/aframevr/aframe/blob/master/CONTRIBUTING.md#update-documentation

[2017-06-14 15:19] donmccurdy commented on #2591
That (scale, rotation, position/translation) is the correct order for A-Frame. [Additions to the docs are welcome](https://github.com/aframevr/aframe/blob/master/CONTRIBUTING.md#update-documentation), perhaps on the pages for the `scale`, `rotation`, and `position` pages?

[2017-06-14 15:22] donmccurdy commented on #2775
@hardiksurana caching is managed through A-Frame's asset management system: https://aframe.io/docs/0.5.0/core/asset-management-system.html

If you're using inline URLs instead of `<a-assets/>`, you may be circumventing the caching. If you are already using the asset system, could you:

1. Test on the `master` branch of A-frame — we've already fixed some bugs in this area.
2. Add a Codepen or JSFid

[2017-06-14 15:55] intensr commented on #2769
@cvan Yes its the same problem or at least close to it. I was not sure about it while opening the issue, thanks for the reference.
@machenmusik The thing that confused me with the polyfill is that while the WebVR flag is activated, the polyfill seems to be still active partly. However i tried various chrome browsers (beta, canary, etc.), versions and also Aframe (master) and vrpoly configurations

[2017-06-14 16:02] machenmusik commented on #2769
@intensr the Axon 7 is an official Daydream device, but from original post I understood you were not using the production firmware ("yes its flashed") which I think would be the important Axon variant to support (complicated by the fact that AFAIK no one on current A-Frame team has one).  Using my Pixel that just updated itself and controller to 7.1.2, and Chrome beta with the WebVR flag thrown to

[2017-06-14 16:12] intensr commented on #2769
Ok the flashed OS thing is not much of a difference since my brother has the same phone with original OS and its not working there, too. But sure you are right if no one can debug it since the lack of the hardware it wont work out. *cries deeply*

[2017-06-14 17:00] caseyyee commented on #2769
Hey there, as an extra data point.

Here's my tests and what I saw with the Pixel XL this morning:

https://codepen.io/machenmusik/pen/YQGrWQ
https://iridescent-team.glitch.me/
https://threejs.org/examples/?q=day#webvr_daydream

For all examples:
- Does't work with standard Chrome.  No controller at all.
- Controller only works after interacting or letting it sit for some time (consistent with tes

[2017-06-14 17:03] caseyyee commented on #2769
edit: there seems to be other issues here at play.

I'll post testing summary for just controller issue into 2677

[2017-06-14 17:04] caseyyee commented on #2677
Hey there, as an extra data point.

Here's my tests and what I saw with the Pixel XL this morning:

https://codepen.io/machenmusik/pen/YQGrWQ
https://iridescent-team.glitch.me/
https://threejs.org/examples/?q=day#webvr_daydream

For all examples:

Does't work with standard Chrome. No controller at all.
Controller only works after interacting or letting it sit for some time (consistent with testing

[2017-06-14 17:23] hardiksurana commented on #2775
Thanks, @donmccurdy !
I figured out the error related to caching.

I had another query. I am accessing the same set of images multiple times using <a-sky>. After the initial download, when the images are accessed, another request is being sent to the source of the image, which returns a 304 (not modified) status code. I wanted to know if there is a way in a-frame to keep track of how the requests

[2017-06-14 18:28] donmccurdy commented on #2775
I think the extra requests were fixed here: https://github.com/aframevr/aframe/issues/2472

So, that fix is in the `master` branch, not 0.5.0, and will be released with A-Frame 0.6.0.

A-Frame doesn't give you direct access to the response status codes, but there should be only one request anyway after these fixes. Hope that helps!

[2017-06-14 18:48] ngokevin commented on #2775
I believe the 304 are just browser cache hits?

[2017-06-14 19:34] machenmusik commented on #2677
do you have an origin trials tag on any of those that would enable native WebVR via Daydream?
Codepen is a no.  Frankly, mine are probably expired and I need to update them.
Glitch is probably a no.
Not sure about three.js...

Do you have the flag thrown manually on Canary and Beta?

[2017-06-14 19:36] machenmusik commented on #2677
anyone able to answer questions above in https://github.com/aframevr/aframe/issues/2677#issuecomment-303395005?

[2017-06-14 20:19] machenmusik commented on #2677
I thought that interacting was supposed to be required, for security/privacy purposes.  The fact that "letting it sit for some time" works surprises me, maybe that's the race condition mentioned above

[2017-06-14 20:55] machenmusik commented on #2769
@intense if the page you are using is insecure or lacks origin trial token (which is true for Codepen) I think the WebVR flag must be manually enabled, and you need to touch button on the controller after entering VR for it to appear

[2017-06-14 21:14] intensr commented on #2769
@machenmusik if the page is insecure it usually shows even in vr mode that the page is "not safe", however I tested everything, including the flag/token and without it I also pressed every button multiple times while in stereoscopic view its strange the controller seems to be there codewise but it simply doesnt work. I can confirm that the regular chrome browser does not work in every case, just c

[2017-06-14 21:25] machenmusik commented on #2769
@intensr sorry if this is obvious but just to make sure w.r.t. the WebVR enable flag you have done  https://webvr.rocks/chromium

[2017-06-14 22:38] dmarcos commented on #2769
In Chrome release channel one has to enable the GamepadExtensions in chrome://flags (besides WebVR) in order for the Daydream controller to show up. In Canary this is not necessary. In both cases, Chrome + GampeadExtensions and Canaray the controller shows up consistently on https://webvr.info/samples/XX-vr-controllers.html, https://threejs.org/examples/#webvr_daydream and also aframe laser-contro

[2017-06-15 00:26] kkruups commented on #2774
Thanks i will update.  I 'll first read the docs.

BR/KK

[2017-06-15 00:36] kkruups commented on #2774
Done!

**Pull Request Created:**
Docs: Corrected Typo changed word semicolon to colon and vice-versa **#2777**

[2017-06-15 00:40] ngokevin commented on #2774
Fixed #2777

[2017-06-15 00:40] #2774 closed

[2017-06-15 01:24] hardiksurana commented on #2775
Thanks, @donmccurdy !
I wanted to use the status code to check if an image is already downloaded and to choose whether to show a loader or an animation based on the browser response. If it's downloaded, then I would show an animation for changing the sky, else I would show a loader until the image downloads.
Any idea of how this can be checked and implemented in a-frame?

Also, yes @ngokevin 304 i

[2017-06-15 01:43] ngokevin commented on #2775
You can check `THREE.Cache` to see if it has been fetched or not

[2017-06-15 05:46] #2614 closed

[2017-06-15 07:02] dmarcos commented on #2771
Someone else is observing the issue. Additional info: npm `3.10.X` works but more recent versions `5.X.Y` fail.

[2017-06-15 07:29] calrk commented on #2771
So its an issue on my Windows 10 computer and a coworker's Windows 10, and our Alpine servers running docker.
However it works fine on a coworker's Mac and another Windows 10 computer.
May be related to the new Windows 10 update? but that wouldn't explain your mac or our docker servers...

Fails:
Windows 10 : npm v5.0.0
Windows 10 : npm v5.0.3
Alpine/Linux : npm v3.10.10

Works:
Windows 10 : npm 3

[2017-06-15 07:36] ngokevin commented on #2771
Fails for me on a Windows machine I haven't used in a while. We can cut 0.5.1 on npm, perhaps pointing to a fork on my username to be safe.

[2017-06-15 07:39] ngokevin commented on #2771
A workaround to this issue for anyone running into this today until we fix is `npm install aframevr/aframe@0.5.0`.

[2017-06-15 09:46] calrk commented on #2771
Thanks, been able to work around it using `npm install aframevr/aframe` for now.
It may have to do with the npm cache. I cleared mine earlier and the problem has come up for me, so might be able to replicate it by clearing it. I'll test this tomorrow on a computer that is currently working fine.

[2017-06-15 10:16] morandd opened #2779 "feature request: add vertexColors properties to material component"
Small feature request: expose the vertexColors property in the `material` component. So users can do like
[code]
I'm building several such "myComponentThatGeneratesABufferGeometry" that use vertex coloring e.g. http://https://github.com/morandd/aframe-heatmap3d  It'd be cleaner to re-use the AFrame `material` component, if one is provided, rather than have the user pass in all the material propert

[2017-06-15 11:44] DKvistgaard commented on #2771
I've been testing `npm install aframe` today and I've tried with npm version 3.10 and 4.2 without success. Actually there were no issues to begin with, but as soon as I cleared my npm cache I started getting these errors:

```npm ERR! git rev-list -n1 a02a8089b: fatal: ambiguous argument 'a02a8089b': unknown revision or path not in the working tree.```

So after a lot of testing and searching, I'v

[2017-06-15 12:27] takahirox commented on #2616
Note: Seems like `VRControls` and `VREffect` will be removed from Three.js in r86, r87, or later.
https://github.com/mrdoob/three.js/issues/11301

[2017-06-15 12:50] dirkk0 commented on #1463
I created a prototype, which is working on my 3rd generation iPad.
I'd appreciate if someone with a newer iPhone or iPad could confirm that it
works for them.
http://curious-electric.com/aframe/audiosprite/

On Tue, Jun 13, 2017 at 4:42 PM Don McCurdy <notifications@github.com>
wrote:

[2017-06-15 14:32] donmccurdy commented on #2616
Do we know an ETA on r86?

[2017-06-15 14:41] takahirox commented on #2616
Perhaps soon? I'm asking Ricardo now.

[2017-06-15 15:16] weddingdj opened #2781 "Enter VR button not appearing anymore (Oculus browser), impossible to enter VR"
**Description:**

- A-Frame Version: latest master
- Platform / Device: Gear VR, Oculus browser
- Reproducible Code Snippet or URL: http://aframe-master.glitch.me/

This regression happened after fixing #2614
The enter VR button briefly appears, then disappears.

[2017-06-15 16:14] dmarcos commented on #2781
A PR to fix this landend last night: https://github.com/aframevr/aframe/pull/2751

Can you make sure you're using the very latest master?

[2017-06-15 16:19] ngokevin commented on #2781
The issue is different and mentions that pr

[2017-06-15 16:41] machenmusik commented on #2781
Can someone try #2707 and see if it is the old Carmel auto-enter attempt?

[2017-06-15 16:45] machenmusik commented on #2677
@dmarcos should this be closed like https://github.com/aframevr/aframe/issues/2769#issuecomment-308577969 ?

[2017-06-15 16:47] dmarcos commented on #2677
Closing this because for the reasons explained here:

https://github.com/aframevr/aframe/issues/2769#issuecomment-308577969

[2017-06-15 16:54] CallumMitchellRV opened #2782 "A-frame Random page reloads/refresh"
I've been working on a VR game within A-Frame. When I started testing on devices (iPhone 7/iPhone 7 Plus running Safari, and Samsung Galaxy S6 running Chrome), I began to notice the page would randomly refresh, which is an issue for us, as it restarts the game.

This is happening with the demos on their website, as well as our self-hosted game.

Has anyone experienced this issue, and/or know what

[2017-06-15 17:42] dmarcos commented on #2782
It restarts randomly, while interacting with the scene, in 2D mode, in VR mode?

[2017-06-15 17:48] donmccurdy commented on #2771
Same issue here. Installation fails with npm 5.X, so I've reverted to npm 4.X.

[2017-06-15 18:25] ngokevin commented on #2771
Currently fixing...the commit is on GitHub but no longer on the Git tree. Solution is to publish a fork of the polyfill to npm with the same changes and re-tag v0.5.1.

[2017-06-15 18:38] dmarcos commented on #2771
I don't think we nee a new tag anymore. I believe I solved the mystery. When I reforked the polyfill in my account the commit showed up on github (https://github.com/dmarcos/webvr-polyfill/commit/a02a8089b) but just realized that it does not exist in git. Github must have some sort of cache that in same cases is not consistent with the git data base itself. I had the missing commit on a local clon

[2017-06-15 18:41] dmarcos commented on #2771
@clark @DKvistgaard can you confirm if everything is working now? You should not need any changes on your side. It should just work

[2017-06-15 18:51] MeditationMatt commented on #1463
Tested on my iphone 6 and i did not hear any audio after clicking the button.

Thanks for trying to get this to work!  I will use it on my live site if we get it working at all.

[2017-06-15 19:05] dirkk0 commented on #1463
It worked for someone in the Slack community ... did you look ('gaze') at the cubes?

[2017-06-15 19:06] weddingdj commented on #2781
@dmarcos http://aframe-master.glitch.me/ uses the master which a-frobot commited just after #2751 has been commited (https://github.com/aframevr/aframe/commits/master).

[2017-06-15 19:25] HAZARDU5 commented on #1463
This works on my iPhone 6 Plus by gazing at the cubes. I had to make sure I turned the silent lock switch off on the device otherwise sound wouldn't play (expected behaviour).

[2017-06-15 20:32] vrimaginar opened #2783 "IOS safari crash on all but iPhone 7"
Hi,

I've made a presentation for a client in Aframe. All is working well except on iOS devices iPhone 5S, 6,  iPad mini 1 and the iPad Air 1. iOs is at the latest version (10.3.2).

The presentation is 86MB in total and contains a GLTF 1 model, and about 15 sky spheres. The offending device(s) will reload the presentation at random points in time as well as at random events.

While debugging iOS

[2017-06-15 21:16] donmccurdy commented on #2783
Hi @vrimaginar — it looks like the model is hitting some sort of GPU limit on your other devices. I don't have enough info to guess what exactly it is, but tl;dr my advice would be to reduce the complexity of your model. 85MB is quite a lot for a mobile device to deal with. In Blender, you can simplify the model with tools like the [Decimate Modifier](https://docs.blender.org/manual/es/dev/modelin

[2017-06-15 21:37] vrimaginar commented on #2783
Hi @donmccurdy,

thank you for your answer.

The gltf model itself is 'only' 14.4MB, but the total presentation is about 84MB.

It's a collada model converted to GLTF 1. I will see about lowering the size for the model.

Thanks!

[2017-06-15 22:02] donmccurdy commented on #2783
Hm. Hard to guess whether it is the model itself, then. I'd be curious if you can remove things from the scene (remove one sky sphere at a time?) and if it starts to work at some point.

[2017-06-15 22:51] vrimaginar commented on #2783
When there where 2 spheres this problem did not occur, so there seems to be some memory issue in this presentation. I just included a 28MB collada model and the safari browser kept reloading the page.

[2017-06-15 23:28] calrk commented on #2771
@dmarcos Yes this is working fine on my local and deployment servers now.

Thanks,
Clark

[2017-06-15 23:32] dmarcos commented on #2771
👏💃

[2017-06-15 23:32] #2771 closed

[2017-06-16 01:22] #2781 closed

[2017-06-16 03:32] machenmusik commented on #2677
(not closed yet?)

[2017-06-16 03:40] #2677 closed

[2017-06-16 07:25] kazandzhiro opened #2786 "TypedArray.prototype.slice is not supported in IE 11"
**Description:**

- A-Frame Version: 0.5.0
- Platform / Device: Windows, Internet Explorer 11.1198.14393.0

Hi guys,
Thank you for the great framework. I am working on a project that requires support for IE11.
I have noticed an issue with the aframe 0.5.0 version. I am trying to make a screenshot of the current canvas. The operation fails at [this line](https://github.com/aframevr/aframe/blob/990e

[2017-06-16 07:29] CallumMitchellRV commented on #2782
It hasn't happened once on a desktop (am I correct in saying that 2D is desktop). We've only had this page refresh issue on devices, most regularly in VR mode. I believed it was an issue on our end, until we started testing on a-frame.io examples, and it happened there too.

[2017-06-16 07:52] vrimaginar commented on #2783
I have managed to downsize the equirectangular images and other images in the presentation and the total size is now about 54MB. It still will crash at some point and cause safari to reload the page.

[2017-06-16 07:53] dmarcos commented on #2782
I can't reproduce on my iPhone 7 Plus with https://aframe.io/examples/hello-metaverse/.
@CallumMitchellRV Do you think we can close this? Is it still a problem for you?

[2017-06-16 08:00] CallumMitchellRV commented on #2782
We're still very much having this issue on multiple devices on a-frame's own projects. Admittedly, on the iPhone 7 Plus it's less regular than the iPhone 7, sometimes 5 minutes, sometimes 1 minutes. I recommend leaving your phone in the VR mode until it happens. If you notice that i's no longer in VR mode, a page refresh has occurred.

I'm very much in need of a solution or an explanation to this,

[2017-06-16 08:03] dmarcos commented on #2782
@CallumMitchellRV Can you try with master branch and see if it still reproduces?

[2017-06-16 08:18] jonnyharper commented on #2782
Hi, I'm having the same issue. On the basic Hello Web VR example, if I just leave my iPhone sat for a few minutes, I'm booted out of VR mode and the attached logs in console.

![screen shot 2017-06-16 at 09 16 04](https://user-images.githubusercontent.com/2477827/27218114-b1f4f248-5274-11e7-86c4-97fbc68d7006.png)

[2017-06-16 17:10] MeditationMatt commented on #1463
ha...i didnt realize i needed to gaze at the cubes...nor turn off the silent lock switch.  Did both of those and it works!  cool.

[2017-06-16 17:10] MeditationMatt commented on #1463
would this work with a large audio file?

[2017-06-16 17:28] donmccurdy commented on #2786
Hi @kazandzhiro —

See issues https://github.com/aframevr/aframe/issues/1475 and https://github.com/aframevr/aframe/issues/2758. For various reasons, we're not able to offer much support for IE11. Specifically in this case, the dependency on TypedArray.prototype.slice goes past A-Frame into some of our three.js dependencies.

That said, I thought this feature was in IE11. Does adding this meta tag

[2017-06-16 19:31] gurumukhi commented on #2738
Hi @amitsin6h, thanks for stepping up for this bug. Feel free to work on this bug and create a PR, if you have any questions you can ask on #issues slack channel of a-frame (https://aframe.io/community/#slack).

[2017-06-16 19:32] gurumukhi commented on #2701
Hi @rttomlinson, thanks for stepping up for this bug I dont think anyone is working on this. Feel free to work on this bug and create a PR, if you have any questions you can ask on #issues slack channel of a-frame (https://aframe.io/community/#slack).

[2017-06-16 19:35] gurumukhi commented on #2591
Hi @P00jaT, I hope you are working on this. Feel free to work on this bug and create a PR, if you have any questions you can ask on #issues slack channel of a-frame (https://aframe.io/community/#slack). Keep us updated on this issue once you have made any progress.

[2017-06-16 19:39] gurumukhi commented on #2519
Hi @dmarcos @machenmusik @ngokevin, is this issue still being discussed? If not, can you please summarize how a newbie can work on this?

Thanks :-)

[2017-06-16 19:45] gurumukhi commented on #2392
Hi @donmccurdy, if I understand it correctly this issue is open to add a new section on https://aframe.io/docs/0.5.0/introduction/faq.html page, may be right after "Which 3D model formats work?" section?

[2017-06-16 19:49] gurumukhi commented on #2354
Hi @BhuvanaMeenakshi, thanks for stepping up for this bug. Feel free to work on this bug and create a PR, if you have any questions you can ask here or on #issues slack channel of a-frame for quicker reply or discussion (https://aframe.io/community/#slack). Keep this issue updated once you make any progress :-)

[2017-06-16 19:51] donmccurdy commented on #2392
After I filed this issue, we have added a troubleshooting section to the docs: https://aframe.io/docs/0.5.0/introduction/models.html#troubleshooting

So it's not in the FAQ, but the content is there. I think this can be closed. But we could also add a link to this content from the *Why does my asset (e.g., image, video, model) not load?* section maybe.

[2017-06-16 19:51] #2392 closed

[2017-06-16 19:54] gurumukhi commented on #2287
Hi @BhuvanaMeenakshi, it seems @wildaces215 is already working on this. If you dont see any updated from @wildaces215 in next few days, you can pick this one, till then feel free to explore other open issues :-)

[2017-06-16 20:06] ngokevin commented on #2287
I don't think anyone's working on it. It seems a lot of people are just commenting "i want to work on this" on a lot of issues and not doing anything. If people are interested and the issue doesn't seem to be active, I'd just create a PR versus a comment.

[2017-06-16 20:11] gurumukhi commented on #2042
I didnt face this problem with my project hosted at https://gurumukhi.github.io/vr-ram/. Tried on sony xperia z3c. Am I missing anything here?

[2017-06-16 20:21] gurumukhi commented on #1924
hi @darkwing, @cvan. How can a newbie work on this? Is this about creating two a-frame scenes with and without optimize-js and see the different in load-times?

[2017-06-16 20:24] gurumukhi commented on #1846
Hi @ngokevin, Is this issue good as 'help wanted (easy)'?

[2017-06-16 22:52] wildaces215 commented on #2287
I've get caught up on things it free sorry about the inconvenience

On Fri, Jun 16, 2017 at 4:06 PM, Kevin Ngo <notifications@github.com> wrote:

[2017-06-16 22:54] ngokevin commented on #2287
No worries, not talking about anyone specific :)

[2017-06-17 00:41] ngokevin opened #2792 "remove `visible` component from entities' default components"
**Description:**

Having it as a default component doesn't affect anything, except having `el.getAttribute('visible')` return `false` instead of `null`. Consider removing it so we save a component initialization for each entity.

[2017-06-17 08:25] Utopiah commented on #1846
Here is a low resolution version that works on an iPhone 6S with iOS10 10 https://vatelier.net/MyDemo/videosphere-showcase/

The video file itself is https://vatelier.net/MyDemo/videosphere-showcase/city_halfres.mp4 that I downgraded using `ffmpeg -y -i city.mp4 -vf scale=2048:1024 city_halfres.mp4`.

[2017-06-17 18:41] dirkk0 commented on #1463
I guess so, didn't try it out yet.
How large is large?

On Fri, Jun 16, 2017 at 7:11 PM MeditationMatt <notifications@github.com>
wrote:

[2017-06-18 02:04] hardiksurana commented on #2775
Thanks, @ngokevin and @donmccurdy .

[2017-06-18 02:04] #2775 closed

[2017-06-19 13:13] kazandzhiro commented on #2786
Hi @donmccurdy
Thanks a lot for the suggestions and linked issues. I have checked the issues as well. I guess if new need to support it we will go with the polyfill.
Thanks for your time and keep up the good work 👍 !

[2017-06-19 13:13] #2786 closed

[2017-06-19 20:40] andreasplesch opened #2797 "registered custom geometry update method is never called"
**Description:**

A-frame has the option to register custom geometries:
https://aframe.io/docs/0.5.0/components/geometry.html#register-a-custom-geometry
The documentation mentions and the expectation would be that there is an update life cycle method, similar to components.

However, the update method of a registered custom component seems to be never invoked. Instead, the geometry component calls

[2017-06-20 01:13] ngokevin commented on #709
This happens when the audio source is exactly on the same plane as the camera and you move the camera cut across the plane perpendicularly.

e.g., `<a-entity sound position="0 0 0">` and `<a-camera position="0 1.6 0">`.

[2017-06-20 01:13] #709 closed

[2017-06-20 01:47] ngokevin commented on #2783
Try using this build https://rawgit.com/aframevr/aframe/8d60730/dist/aframe-master.min.js where textures get auto disposed when not in use. What may be happening is you are switching between the spheres and the textures in memory accumulate.

[2017-06-20 01:47] #2783 closed

[2017-06-20 01:48] ngokevin commented on #2783
Also helps is rather than 15 skyspheres, have one at a time and swap out the image

[2017-06-20 01:49] ngokevin commented on #2754
Thanks, currently looking at it. Having trouble getting Firefox to play sounds at all.

[2017-06-20 03:15] stevel4857 commented on #2783
Have that in the nightly update for win10. It hits aframe and crashes the
browser. Hopefully it's fixed tomorrow. I couldn't work all morning.

On Jun 19, 2017 7:48 PM, "Kevin Ngo" <notifications@github.com> wrote:

[2017-06-20 07:54] vrimaginar commented on #2783
Hi @ngokevin, I've tried the version you recommend but that version has a bug where the cursor is interacting with hidden objects (visible="false").

[2017-06-20 09:21] AndresCuervo opened #2799 "Document and expose scene's VR controllers"
Get the `navigator.getGamepads()` to line up with controller entities in the scene markup.

From @donmccurdy from the A-Frame Slack:

It looks like [`this.controller` in `tracked-controls`](https://github.com/aframevr/aframe/blob/master/src/components/tracked-controls.js#L78) does this, but there's currently no component level way to pass along this information, so we're left doing something like

[2017-06-20 13:51] tsotneguti commented on #2166
@ngokevin Can you please post a step by step guide how to fix this problem? I can't quite follow your above answer. Thanks

[2017-06-20 14:39] donmccurdy commented on #2166
The issue was fixed by https://github.com/aframevr/aframe/issues/2686. No need to do anything, the fix will be released with A-Frame 0.6.0.

[2017-06-20 16:32] donmccurdy commented on #2420
Let's try to look into this with 0.7.0. As it is now, the `.gltf` will be cached but multiple requests get made for `.bin` files referenced by this. Probably this should be fixed at the three.js level, not here, but I'm not sure.

[2017-06-20 21:09] #2287 closed

[2017-06-20 23:30] ngokevin commented on #2420
What about inferring from the file extension and we keep the `src` API?

[2017-06-21 00:07] wmurphyrd opened #2802 "Nested entities initialize out of order in scene without a-assets"
**Description:**

I believe components can assume during their initialization that components on child nodes have already been initialized due to the inside-out initialization order. This assumption does not hold up in a scene with no `<a-assets>` declared.

- A-Frame Version: 0.5.0
- Platform / Device: Win10, Chome, Chromium, Firefox, & Nightly
- Reproducible Code Snippet or URL:

This scene erro

[2017-06-21 00:09] ngokevin commented on #2802
I'm curious what would happen if you decomposed the primitive to entity + components.

[2017-06-21 00:14] ngokevin commented on #2802
A-Frame has a fairly strict child-to-parent/inside-out load order. All children have to be loaded (meaning node is attached, components are initialized), then the entity initializes all components, then emits that it is loaded. So it's hard to think that it'd be due to the A-Frame core, maybe it's because of primitives, or maybe another issue, but I'd love to know more.

[2017-06-21 00:55] wmurphyrd commented on #2802
Here it is with decomposed primitive:

https://glitch.com/edit/#!/denim-straw

The issue is still the same

[2017-06-21 04:47] donmccurdy commented on #2799
To clarify the use case, are you interested in events from the gamepad, getting current state of the buttons, position/rotation? Or some combination of those?

It looks like even within `tracked-controls`, there is no reference to which hand it is. We'd need to look at the `<device>-controls` component for that, which is inconvenient.

One solution would be to include `hand: 'left' | 'right'` in t

[2017-06-21 04:59] machenmusik commented on #2799
Actually, the current vive-tracker PR may have some changes one is looking for here... especially regarding hand

[2017-06-21 05:36] dmarcos commented on #2799
Not all tracked controllers have the concept of handness so we include that on the vendor specific controls live `oculus-touch-controls` or `vive-controls` @AndresCuervo Can you share a bit more of your use case so we can recommend a solution? A code snippet / markup will help

[2017-06-21 07:00] tsotneguti commented on #2166
@donmccurdy  Thanks but why on npm is still the old 0.5 version?
https://www.npmjs.com/package/aframe

[2017-06-21 07:03] dmarcos commented on #2166
@tsotneguti because 0.6.0 has not released yet 😄

[2017-06-21 09:24] AndresCuervo commented on #2799
re: @donmccurdy

I'm interested in getting events from the gamepad, that ideally include information like current state of the buttons and position/rotation — for example, to make a component that vibrates the controllers when a certain button is pressed, it'd be nice to just listen to specific button presses and vibrate `this.el.controller`. ~I'm also in favor of passing `hand: 'left' | 'right'`

[2017-06-21 09:49] gftruj opened #2803 "Raycaster issue: removing the whitelisted class does not work properly"
**Description:**
I have a properly working raycaster whitelisting `<a-entity class="trigger">` <br>via the `raycaster="objects: .trigger"` property.

When the entities are initialized with the class attributes, everything is working as expected.

When i modify the class on the run, the raycaster is still working on entities which don't have the whitelisted class. Working fiddle [here](https://jsfi

[2017-06-21 11:16] vrimaginar commented on #2803
You have to refresh the raycaster. So when you add or remove the trigger class do this:

var raycasterEl = AFRAME.scenes[0].querySelector('[raycaster]');
raycasterEl.components.raycaster.refreshObjects();

[2017-06-21 11:37] gftruj commented on #2803
Thank You very much, it works like a charm !

[2017-06-21 11:37] #2803 closed

[2017-06-21 13:49] machenmusik commented on #2799
IMO, seems like there are a few different topics this brings up:
(1) exposing hapticActuators for more convenient use
(2) declarative markup to respond to the events controllers generate
(3) stylistic difference between attaching event listeners ad-hoc that dispatch functions, and making components that contain the functions and are attached to the same entity

[2017-06-21 13:50] dmarcos commented on #2799
What controllers are you supporting? I recommend using the higher level controls that will give you the button mappings. if you use `vive-controls`, `daydream-controls`, `oculus-touch-controls`... you can listen to events like `triggerdown` , `touchpaddown` ... the handle to the entity will be passed to the handler. Look at `hand-controls` as an example https://github.com/aframevr/aframe/blob/mast

[2017-06-21 13:55] dmarcos commented on #2799
IMO Declarative ways to attach handlers ends up being more confusing than helpful when applications get complicated since you have logic scattered between HTML and JS and it's unclear what is the scope and where those handlers live.

[2017-06-21 13:55] dmarcos commented on #2799
I agree that an haptics API is a different conversation

[2017-06-21 14:01] dmarcos commented on #2799
Is there anything actionable in this issue? I feel the requested functionality (besides haptics) is already provided by our vendor specific controls. As a general rule devs won't be interacting often with `tracked-controls` unless you want to integrate a controller that does not have built in support

[2017-06-21 14:11] dmarcos commented on #2802
Where is locomotor-auto-config defined?

[2017-06-21 14:20] dmarcos commented on #2797
init should br called since the geometry is recreated when the properties change. For advanced, more optimized geometry I would recommend creating a separate component instead of relying on extending the built in primitives

[2017-06-21 14:25] donmccurdy commented on #2799
This works; I think the OP also wants to know which hand the entity is associated with, and the entity doesn't give an easy way to identify that without iterating over `vive-controls`, `daydream-controls`, `oculus-touch-controls`... but that is not hard to work around, by attaching `id="left"` to the entity yourself.

But the tl;dr here is, if users want behavior attached to a specific hand, it's

[2017-06-21 14:55] machenmusik commented on #2799
@donmccurdy agree although doc and example changes may still be relevant

[2017-06-21 15:00] wmurphyrd commented on #2802
https://github.com/wmurphyrd/aframe-super-hands-component/blob/master/reaction_components/locomotor-auto-config.js

[2017-06-21 15:18] andreasplesch commented on #2797
https://aframe.io/docs/0.5.0/components/geometry.html#register-a-custom-geometry

now mentions update as a lifecycle method. I can prepare a short PR to clarify this doc section if desired.

[2017-06-21 21:16] vrimaginar opened #2804 "[Documentation] aframe master cursor example"
Hi,

the aframe master example regarding 'Adding visual feedback' is wrong;

a-animation begin="cursor-fusing" should be

a-animation begin="fusing"

[2017-06-21 21:18] dmarcos commented on #2804
@vrimaginar Do you want to open a PR?

[2017-06-21 21:27] machenmusik commented on #2804
I think @cvan called that out as a backward incompatibility in laser-controls PR...

[2017-06-21 21:29] vrimaginar commented on #2804
Still, when you use 'cursor-fusing' as the beginning of an animation the animation will not play.

[2017-06-21 21:37] AndresCuervo commented on #2799
Yeah, while working through the issues I brought up at the top of this, there doesn't seem to be much actionable work here, although getting the haptics API would be a different conversation that can be picked up later, in a different thread when appropriate. Also, now that I think about it, the complexity surrounding handling controller input is such that a declarative model would be more obfusca

[2017-06-21 21:37] #2799 closed

[2017-06-21 21:41] machenmusik commented on #2799
Re: declarative handling turning into obfuscation - yeah, often times the handling is placed in a component that is attached to the same entity (and sometimes the dependencies feature of components is used to ensure the right components are attached)

[2017-06-21 21:43] machenmusik commented on #2804
Yes, I think the question is whether to accept the incompatibility and change docs to match the new name(s), or change back to backward compatible names and leave the docs.

[2017-06-21 21:50] vrimaginar commented on #2804
Ah, I see what you mean now.

In my opinion the dev has a choice which cursor (gaze, laser, w/e will be in the future) to use and can therefore set the appropriate cursor in code. When he / she needs a fallback to another cursor there can be a test for HMD that support laser (or other) cursors and if not choose another cursor like a gaze cursor?

[2017-06-21 22:01] machenmusik commented on #2804
I believe that the change made as part of laser-controls PR was to the raycaster event names, so not only impacting laser-controls.

[2017-06-21 22:05] vrimaginar opened #2806 "Consider rolling back cursor interaction with invisible objects"
In the past the cursor did not interact with invisible objects by default. This behaviour changed in 0.5.0. and now we have to do extra work to _not_ interact with invisible objects.

Consider the following scenario:

- A raycaster with the objects: .clickable attribute
- An image that, when clicked, will show another image
- The new image, when clicked, will show a graph and a close button that w

[2017-06-22 04:51] ngokevin commented on #2804
I might just change it back. The states aren't used often in public API and thought it was ok but forgot about the cursor animation docs

[2017-06-22 07:30] Jorjon commented on #584
Still happening, even in embedded example. When selecting a text outside canvas, you can no longer rotate the view.

![untitled](https://user-images.githubusercontent.com/796966/27422085-5559d6d2-5703-11e7-9d5b-fb6be48037ad.gif)

[2017-06-22 08:06] postlund opened #2808 "Changing a-text value from javascript"
**Description:**
I'm trying to change the text in an a-text dynamically with setAttribute from Javascript.  The example linked below simply just changes the text to another hardcoded text (compared to initial value) each tick. It works as I expect it too in Chrome ("my text" is shown), but not in Firefox or Safari ("text" is shown). I cannot really see what's wrong here, especially since it works

[2017-06-22 09:40] maxweber commented on #1556
I guess that I had the same issue. It took over a day to find the root cause. [This](https://github.com/vire-co/aframe/blob/video-wakelock-fix/vire.md) is what I have documented about the fix:

in aframe `0.5.0` is an old version that causes a weird issue on some
mobile devices (like the Samsung Galaxy S6). These devices stop
playing mp4 videos, which are used as textures ('a-video' or
'a-videosph

[2017-06-22 16:22] dmarcos commented on #1556
Can you try with the master branch?

[2017-06-22 17:51] delapuente opened #2809 "`mixin` attribute does not merge non-object single-property components properly"
The line in charge of [extending components coming from mixins](https://github.com/aframevr/aframe/blob/master/src/extras/primitives/primitives.js#L81) will return an invalid value when the mixin component is a non-object single-property value such as an string:

[code]

This is caused by how [`deep-assign`](https://www.npmjs.com/package/deep-assign) works.

Try the following snippet:

[code]

[2017-06-22 19:46] ngokevin commented on #2809
Nice catch

[2017-06-22 19:52] ngokevin commented on #2806
Can you try `material="visible: false"`? I believe three.js changed to look at the material visible property rather than object3d visibility.

[2017-06-22 19:52] #2806 closed

[2017-06-22 19:53] ngokevin commented on #2797
Thanks! I recommend a custom component for now, the `registerGeometry` I think we should even make internal API just for the geometry component.

[2017-06-22 19:53] #2797 closed

[2017-06-22 20:58] ngokevin opened #2811 "cursor click event not firing"
**Description:**

Cursor component click event not firing. mouseenter/leave works.

https://a-frobot.github.io/aframe/examples/test/cursor/
https://codepen.io/anon/pen/vZZqON

- A-Frame Version: master
- Platform / Device: desktop

[2017-06-22 21:03] vrimaginar commented on #2806
Hi @ngokevin, still the same issue when I use:

[2017-06-22 21:10] andreasplesch commented on #2797
Yeah, as it is, registerGeometry does not really provide advantages over registerComponent for custom THREE Geometries, as far as I can tell.

[2017-06-22 22:04] stevel4857 commented on #2806
I gave up on this myself. It would be nice.

[2017-06-22 22:06] stevel4857 commented on #2761
It no longer works at all on nightly or firefox developer on my desktop and hasn't since Monday. Developer opens the page but crashes on click to VR and nightly just crashes on page load. Wish I hadn't updated now.

[2017-06-22 22:08] stevel4857 commented on #2698
Webvr crashes on everything I'm using except Chromium. Chromium just won't launch into VR but has a never ending loading. NVidea 1080ti on Win10. I don't expect to hear back since I've been complaining since Monday.

[2017-06-22 22:11] ngokevin commented on #2360
This should be fixed now that we listen to `onvrdisplaypresentchange` event

[2017-06-22 22:11] #2360 closed

[2017-06-22 22:12] ngokevin commented on #2698
Chromium is actively being looked at https://github.com/googlevr/webvr-polyfill/pull/267 and we're actively testing browsers... thanks for being patient.

[2017-06-22 22:23] dmarcos commented on #2698
@stevel4857 Can you provide browser / links to demos you're trying? aframe.io works for me on Vive and Oculus / Windows 10 / Nightly. This issue is about Firefox for Android. Are you also testing on it?

[2017-06-22 22:41] machenmusik commented on #2698
@stevel4857 you may be having the nvidia driver issue I had - roll back to 378.92

[2017-06-23 00:14] #2811 closed

[2017-06-23 01:56] dmarcos commented on #2698
I'm on 381.78 drivers and everything works for me (GTX 1080 / Windows 10 / Vive / Nightly)

[2017-06-23 04:25] AngelFQC commented on #2698
In Nightly for Android (Sony Z3C), there is no way to get the VRDisplay, so the WebVR is not so VR

[2017-06-23 10:01] maxweber commented on #1556
I've just tested it, the issue does not appear with the master branch. Most likely because the master branch is also using a recent webvr-polyfill version (0.9.34).

[2017-06-23 13:10] chendabo commented on #2557
@dmarcos Is there an option to turn it on?

[2017-06-23 14:48] dmarcos commented on #2557
No, panning on the vertical axis is not implemented

[2017-06-23 15:01] chendabo commented on #2557
What would be the best solution if some of the mobile browsers don't support gyro within aframe? (can I turn it into drag control mode with a button or automatically)

[2017-06-23 15:06] dmarcos commented on #2557
You could take look-controls as a starting point and implement your own component with vertical panning. It should not be too difficult. We focus on VR and our curent control schema assumes at least a device capable of magic window mode (gyro available)

[2017-06-23 17:18] ngokevin commented on #2808
Fixed

[2017-06-23 17:18] #2808 closed

[2017-06-23 17:23] ngokevin commented on #2754
I had an issue with a certain sound where I had to re-encode it with ffmpeg just for Firefox. Does it work for you if you try other sounds?

[2017-06-23 17:44] ngokevin commented on #2804
Changed back

[2017-06-23 17:44] #2804 closed

[2017-06-23 17:46] ngokevin commented on #2244
vrdisplayactivate is implemented and only the first enter requires the gesture.

[2017-06-23 17:46] #2244 closed

[2017-06-24 14:05] Coder206 commented on #2761
I am also experiencing the same rendering issues as @cuitingcheng on a Nexus 6P.

[2017-06-25 17:50] sachinaglave commented on #2650
@shikuru  You can remove event handler which is responsible for starting an animation on animation end.

<a-scene>
      <a-image id="obj" src="xyz.jpg" position="0 0 -10" height="6" width="9" scale="1 1 1">
             <a-animation attribute="position" from="0 0 -10" to="-5 0 -10" begin="startAnim" dur="1000" fill="forwards">
      </a-image>
</a-scene>

---------------Javascript----------------

[2017-06-25 21:35] 7dir opened #2821 "a-cursor to much faces 1280"
**Description:**
turn on `stats `
faces 1280 on blank scene

- A-Frame Version: 0.5
- Platform / Device:
- Reproducible Code Snippet or URL:

[2017-06-25 22:03] dmarcos commented on #2821
You can play with the segments property and see if you can find a lower value that feels good. PRs are welcome :) https://github.com/aframevr/aframe/blob/master/src/extras/primitives/primitives/a-cursor.js#L12

[2017-06-26 02:52] kkruups opened #2822 "a-entity.setAttribute using multi-attribute Component does not update DOM correctly"
**Description:**

Passing component multiple attributes as object to to **_a-entity.setAttribute_** creates the component with empty attributes, not the defined values passed in component's attribute object (DOM shows  nodeValue:"").  However, single Component attributes are created without issue.

Example code (with or w/o clobbering flag set behavior is the same) :

`      el.setAttribute('klog'

[2017-06-26 04:14] kkruups commented on #2822
Understood, DOM not updated for performance issues in case of multiple attribute component objects.  a-entity.getAttribute("componentName") returns the attribute.  However, setting debug on <a-scene debug> does not update the DOM with attributes populated with data (but that's another issue).

[2017-06-26 04:14] #2822 closed

[2017-06-26 05:57] kfarr opened #2823 "clone entity and children with cloneNode and innerHTML not working as expected"
**Description:**
Cloned entity and its children not showing as expected when using `cloneNode` or copying `innerHTML` with `flushToDOM(true)` when copying a parent entity with dynamically created children.

- A-Frame Version: master
- Platform / Device: firefox nightly vive / windows chrome (non vr)
- Reproducible Code Snippet or URL:

error using cloneNode:
Output https://kfarr.github.io/streetmi

[2017-06-26 22:02] #2809 closed

[2017-06-28 00:45] 7dir opened #2824 "3rd party triangulation lib"
geometry text with another triangulation
https://threejs.org/examples/?q=text

## Why?

Built-in THREE.js triangulation show error messages sometimes.

`THREE.ShapeUtils: Unable to triangulate polygon! in triangulate()`

**https://github.com/7dir/aframe-triangulation-component**

[2017-06-28 02:31] chaad18 opened #2825 "A-frame examples' gyroscope is not working on Mozilla Firefox"
**Description:**
My project's gyroscope also isn't working on Mozilla Firefox. It's fine on Google Chrome though.

- A-Frame Version: 0.5.0
- Platform / Device: Firefox on Android
- Reproducible Code Snippet or URL: aframe.io

[2017-06-28 06:26] Utopiah commented on #2825
Please fill up the relevant information (version, device, URL) as it works well everywhere else I tried.

[2017-06-28 07:01] chaad18 commented on #2825
Oh, sorry about that. I updated the info. The problem seems to exist only with Firefox on android.

[2017-06-28 14:27] chendabo opened #2826 "images are being loaded twice resulting slow download speed"
**Description:**
When I use inspector/network to check the files that are being loaded, I noticed that a lot of the files, images are being loaded twice, sometimes 3 times, resulting in a slow downloading speed.

Can someone explain this ?

I thought it was my code at first, but I checked the official examples, and it is showing the same issue.

I don't know if anyone else sees this issue.

Thanks

[2017-06-28 16:10] donmccurdy commented on #2824
Hi @7dir — Nice! Would you like to add your component to [awesome-aframe](https://github.com/aframevr/awesome-aframe)?

[2017-06-28 16:53] ngokevin commented on #2826
This has been fixed on aframe master branch in github

[2017-06-28 16:53] #2826 closed

[2017-06-28 18:36] ngokevin opened #2827 "investigate `updateCachedAttrValue` being called multiple times on init per component"
**Description:**

Place a JS debugger breakpoint at `updateCachedAttrValue` around `for (property in this.attrValue) {` in component.js. Observe that it'll get called multiple times with `attrValue` having the same value on consecutive runs.

[2017-06-29 20:38] ngokevin commented on #2827
OK, not seeing with just a cube. But noticed the look-controls will call it even if data has not changed

[2017-06-29 20:38] #2827 closed

[2017-06-29 20:43] #2821 closed

[2017-06-30 05:05] ngokevin commented on #403
#1575

[2017-06-30 05:05] #403 closed

[2017-06-30 16:20] jaydansand opened #2829 "Entity.setAttribute('position') Not Always Effective"
While developing a new site, I noticed my interface was mysteriously broken this morning (6/30/2017). I had not pushed any code changes, but it's pulling in aframe.io/aframe/dist/aframe-master.js which _did change_ last night.

The code that no longer worked is supposed to manage UI elements by automatically readjusting the position of buttons (simple plane geometries) whenever a button is added/r

[2017-06-30 16:26] ngokevin commented on #2829
Most likely because of the changes of skipping type check if reusing the same object, thanks will check it out.

[2017-06-30 16:56] ibrews commented on #2829
A few objects in my experience moved when upgrading to 0.6.0

For me it was happening when I changed the 'position' 'x' attribute-- it reset y to 0 instead of holding onto its previous value.

In other words, I define an entity at position (0, -.24, 0) and throughout the experience I'm changing that x position, but every time the x position changed it was resetting y to 0. I surmised that I needed

[2017-06-30 17:04] ip commented on #2829
I have multiple things broken with this update. I have two components changing entity rotation in `tick()`.

Firstly, I experience the same problem as @ibrews.

Secondly, I noticed that reversing the order of these components inside HTML tag restored the previous behavior. Is there a test that checks the execution order of `tick()` etc.? If not, we should write one.

[2017-06-30 17:06] ngokevin commented on #2829
@ip can you add a test case? thanks!

[2017-06-30 18:23] ip commented on #2829
@ngokevin Probably later, I have no time at the moment, unfortunately, but wanted to let others know.

[2017-06-30 19:09] cvan commented on #1846
FWIW, I already fixed this in `master` in PR #2656. are y'all referring to something else?

After a lot of trial and error, the command I used was this:

[code]

[2017-06-30 20:53] Utopiah commented on #1846
@cvan you're right it's just the resolution

[2017-07-02 20:20] dmarcos commented on #2829
I found the problem. For single property components like `position` or `scale`. The component oldData is not a copy of data but a reference. When doing things like:
[code]
Both data and oldData are modified. the `update` method of the component is never called because no changes in the component are observed since  `oldData === data`. PR coming

[2017-07-02 22:56] 11fishem opened #2835 "WakeLock/NoSleep.js Not Working on Android/Chrome(mobile)"
The wakelock feature that is supposed to keep the screen from dimming with NoSleep.js is not working. The demo page for NoSleep.js does work on the same phone.

- A-Frame Version: 0.5.0
- Platform / Device: Samsung Galaxy S7 Edge w mobile Chrome browser
- Reproducible Code Snippet or URL: https://glitch.com/edit/#!/complete-capricorn?path=index.html:171:40

[2017-07-03 12:01] CallumMitchellRV commented on #2782
So after getting an unminified version of the files, I have found out that there is an issue with the iOSWakeLock function (lines 80195 and 80195 of aframe-master.js from v0.5.0).

	function iOSWakeLock() {
		var timer = null;

		this.request = function() {
			if (!timer) {
				timer = setInterval(function() {
					window.location = window.location;
					setTimeout(window.stop, 0);
				}, 30000);

[2017-07-03 12:41] vrimaginar opened #2837 "setAttribute on text geometry not working"
When trying to set setAttribute('geometry',{primitive: "plane", height: "auto", width: "auto"}); on `<a-entity text>` the plane is not being drawn. However if you change the wrap count programaticaly afterwards the plane is showing. The plane will not update it's width and height if you change the wrap count again.

- A-Frame Version: 0.6.0 master (8d60730)
- Platform / Device: PC

[2017-07-03 13:34] takahirox commented on #2721
I'm wondering if Three.js can do and opened an issue there https://github.com/mrdoob/three.js/issues/11672

Even if Three.js does that in r87, we need an workaround til then tho.

In the options Don suggested, I don't really like letting users manually do this so vote for 2 or 3.

[2017-07-03 13:36] takahirox commented on #2616
Let's start working on this once we release 0.6.1

[2017-07-03 15:21] afvc commented on #1251
@ngokevin I'm having this problem because the blender file is fetching my computers directiories of the textures instead of fetching the ones from A-Frame assets. How do I fix this? I've read somewhere that I should use a relative path, what does that look like?
Thank you for your time

[2017-07-03 15:42] donmccurdy commented on #1251
@afvc the [Models → Troubleshooting](https://aframe.io/docs/0.6.0/introduction/models.html#troubleshooting) section here is probably what you're looking for. In the `.mtl` file, you need to make sure that the textures are not stored as `C:\\Path\To\texture.png` or `/Path/To/texture.png`, but instead as `texture.png` or `images/texture.png`, based on where the image is relative to the `.mtl` file i

[2017-07-03 16:00] afvc commented on #1251
@donmccurdy I already did that and it hasn't worked. Can you check this out please? https://glitch.com/edit/#!/vr-hq?path=views/index.html:27:46

[2017-07-03 16:17] donmccurdy commented on #1251
I'm seeing a fair bit in that scene, including some textures. If there's a particular texture you can't get working, it might be best to write a question on Stack Overflow, tagged with "aframe", and point out the specific problem there.

[2017-07-03 16:19] afvc commented on #1251
i have 4 textures and none of them works, that's why i asked here

[2017-07-03 16:21] donmccurdy commented on #1251
In Chrome, I see this:

![screen shot 2017-07-03 at 9 21 34 am](https://user-images.githubusercontent.com/1848368/27801083-09f7d0d2-5fd1-11e7-866f-83511ba52e01.png)

[2017-07-03 16:24] afvc commented on #1251
I can't see none of that! what?!?!

[2017-07-04 01:10] donmccurdy commented on #1251
Hm I have no idea. :/

What device and browser are you using? And, any information in the JavaScript console?

[2017-07-04 02:24] aas395 commented on #2754
This happens to me when I preload an audio file, but everything plays fine when the audio isn't preloaded. I'm looking around in the source but I wanted to let you know in case that rang a bell for you. I know you guys reworked the way assets were cached between 0.5.0 and 0.6.0

[2017-07-04 06:24] dmarcos commented on #2837
Can you provide a link to an example that reproduces the issue?

[2017-07-04 06:33] intensr commented on #1325
progress on this ?

[2017-07-04 06:38] dmarcos commented on #1325
It's not a priority at the moment. @intensr Can you describe your use case?

[2017-07-04 07:01] intensr commented on #1325
I'm developing on a 2016 Retina MBP for Smartphone/Daydream VR devices. Of course you want to preview your progress on the MBP screen but when I do so the MBP is constantly stressed out to render the scene (literally melting) and I still just get low fps. My current workaround is to use a 72dpi external monitor which normalizes the situation so I think its ok for me for now. The only problem is th

[2017-07-04 09:00] afvc commented on #1251
I'm using a MacBook Pro and Chrome. Also tryed a Collada file, still no textures

[2017-07-04 13:35] sz-piotr opened #2841 "Cursor line visible despite raycaster showLine set to false"
**Description:**
The documentation of [cursor](https://aframe.io/docs/0.6.0/components/cursor.html) states it internally uses the [raycaster](https://aframe.io/docs/0.6.0/components/raycaster.html) component which has a property `showLine` that causes a line to be displayed. However the line is still visible even if that property is set explicitly. A fix i found is to add `line="visible: false"` o

[2017-07-04 16:17] andreasplesch opened #2842 "a-animation for color requires from attribute"
**Description:**

The <a-animation> element with color as animated attribute does not use the parent element's color as from value. It is necessary to provide an explicit from value.

- A-Frame Version: 0.5.0, 0.6.0
- Platform / Device: all
- Reproducible Code Snippet or URL:

https://glitch.com/edit/#!/almond-taker?path=public/index.html:10:40
https://almond-taker.glitch.me/

The box color should

[2017-07-04 20:20] sirkitree commented on #2693
Just a note that I recently used the gltf 2.0 exporter for blender and found using the core `gltf-model` component doesn't work currently, subsequently found this thread.

Has there been any work on getting the 2.0 spec working with `gltf-model` yet?

[2017-07-04 20:36] mokargas commented on #2693
@sirkitree You can use `gltf-model-next` from @donmccurdy A-Frame Extras package https://github.com/donmccurdy/aframe-extras/blob/master/src/loaders/gltf-model-next.js

[2017-07-04 22:20] takahirox commented on #2693
And one more thing.
Make sure to use the latest Blender glTF exporter version.
Recently it's fixed a skinning bug.

[2017-07-05 01:27] takahirox commented on #2842
Probably we should replace this line in `src/core/a-animation.js`

https://github.com/aframevr/aframe/blob/af3f89049d10b9037895b9059e5aa430c6f1bf81/src/core/a-animation.js#L465

[code]

with

[code]

?

If this's correct, I'll make PR.

[2017-07-05 05:29] feiss opened #2843 "Procedural components and systems"
The [environment component](http://github.com/feiss/aframe-environment-component) is useful in many cases when there is no 3d modelling knowledge and/or when something quick for testing and experimenting is needed.

So, why not more components, systems and tools for getting procedural content easy and fast? For example, they could be useful for:

* Creating and applying textures and materials (usi

[2017-07-05 10:30] gabrielperales opened #2844 "GearVR controller right hand"
**Description:**
Controller doesn't appear when I set `<a-entity gearvr-controls="hand: right"></a-entity>` but they do if I set `hand: left`.

- A-Frame Version: 0.6.0
- Platform / Device: Samsung Internet
- Reproducible Code Snippet or URL:

`<a-entity gearvr-controls="hand: right"></a-entity>`

[2017-07-05 11:35] andreasplesch commented on #2842
dataFrom should already have gone through this check:

https://github.com/aframevr/aframe/blob/af3f89049d10b9037895b9059e5aa430c6f1bf81/src/core/a-animation.js#L95

But I am non sure why this line

https://github.com/aframevr/aframe/blob/af3f89049d10b9037895b9059e5aa430c6f1bf81/src/core/a-animation.js#L107

is placed afterwards, not before the getAnimationValues call.

It may be worthwhile to find

[2017-07-05 12:49] protyze opened #2845 "enterVR() executed twice when calling enterVR();"
**Description:**
When entering VR via enterVR(), the function is executed twice (once by the initial action triggering the function and then again after the Event "vrdisplaypresentchange" has been fired and then onVRPresentChange calls enterVR again.

This is resulting in substracting the userHeight-Offset twice from the camera-position.

- A-Frame Version: 0.6.0
- Platform / Device: Tested on Chr

[2017-07-05 12:54] takahirox commented on #2721
Note from the Three.js thread

So just copying causes trouble sometimes.
We need to pre-calculate offset/repeat for uv2.

[2017-07-05 14:11] donmccurdy commented on #2721
Good to know, but IMO that seems like too much trouble for the `material` component; not enough value to justify it. Have any three.js loaders implemented that?

I lean away from (3) personally. Having the `material` component modify geometry sounds like a bad time.

Agreed that making users manually deal with this is non-ideal, but so far no one has actually reported the issue, which may mean tha

[2017-07-05 16:52] andreasplesch commented on #2843
Many awesome components already do this ? rain, ocean, polygons, stars .. What is the new idea ?

[2017-07-05 17:54] madebynoam opened #2846 "material.src not working in 0.6.0"
**Description:**
Material.src appears to be broken in 0.6.0
Repro:
Set src on image primitive or
Set src in material="src: url"

Tried both with assets and as inline, but both get the same error in the console:
TypeError: Failed to execute 'texImage2D' on 'WebGLRenderingContext': No function was found that matched the signature provided.

- A-Frame Version: 0.6.0
- Platform / Device: Tested on des

[2017-07-05 18:04] ngokevin commented on #2846
You'll want to use `<img>`, not `<a-asset-item>`

[2017-07-05 18:04] #2846 closed

[2017-07-05 18:07] ngokevin commented on #2841
This was fixed at https://github.com/aframevr/aframe/commit/16e18f66f33d6615db44311b40e965fd3f25e0ff ... will have 0.6.1 out with bug fixes soon.

https://rawgit.com/aframevr/aframe/538439e/dist/aframe-master.min.js

[2017-07-05 18:07] #2841 closed

[2017-07-05 18:17] madebynoam commented on #2846
Strange I thought inline 'src' was also not working, but appears to work. Thanks for the tip!

[2017-07-05 19:30] machenmusik commented on #2844
The GearVR Controller has a handedness that is set when you pair it using the Oculus app.  (I believe the default is right hand.)  If you configured your controller to be left handed, then the GearVR Controller is exposed with left handedness, and so I would expect the behavior you are seeing.  Can you confirm whether that is the case?

[2017-07-05 21:29] jaydansand commented on #2829
Ah, that makes sense! But quick question: why is that solved by calling `el.setAttribute` a second time? Wouldn't the same `oldData === data` check have the same result?

[2017-07-05 21:30] clofts613 commented on #2829
More than likely

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jay Dansand <notifications@github.com>
Sent: Wednesday, July 5, 2017 2:29:11 PM
To: aframevr/aframe
Cc: Subscribed
Subject: Re: [aframevr/aframe] Entity.setAttribute('position') Not Always Effective (#2829)

Ah, that makes sense! But quick question: why is that solved by calling el.setAttribute

[2017-07-05 21:36] jaydansand opened #2847 "Line component on a-cursor element is visible by default"
After updating to 0.6.0 the cursor in VR mode has a visible (and green) line, even with implicit (default) or explicitly setting the raycaster component to `showLine: false`. This actually broke the [mouse-cursor](https://github.com/mayognaise/aframe-mouse-cursor-component) component we rely on: it no longer emitted `click` events when using the mouse or tapping the screen on an entity. It was sol

[2017-07-05 21:37] clofts613 commented on #2847
Makes sensr

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jay Dansand <notifications@github.com>
Sent: Wednesday, July 5, 2017 2:36:49 PM
To: aframevr/aframe
Cc: Subscribed
Subject: [aframevr/aframe] Line component on a-cursor element is visible by default (#2847)

After updating to 0.6.0 the cursor in VR mode is visible (and green), even with implicit (de

[2017-07-05 21:58] gabrielperales commented on #2844
Hi @machenmusik, I have my controller set as right handed, to it should be exposed as right handed but I can only make it work setting `hand: lelft` or avoiding set `hand` and by default is on le left.

[2017-07-05 22:03] clofts613 commented on #2844
Confirmed

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: machenmusik <notifications@github.com>
Sent: Wednesday, July 5, 2017 12:30:46 PM
To: aframevr/aframe
Cc: Subscribed
Subject: Re: [aframevr/aframe] GearVR controller right hand (#2844)

The GearVR Controller has a handedness that is set when you pair it using the Oculus app. (I believe the default is r

[2017-07-05 22:10] feiss commented on #2843
Yeah, creating procedural content is not a new idea at all. I just thought that many aframe demos and experiences could benefit from it, and this thread could be a little bookmark of what kind of 'procedural' components could be done and open the subject to discussion and brainstorming.

[2017-07-05 22:25] machenmusik commented on #2844
@gabrielperales can you confirm behavior with both Samsung Internet (in GearVR) and Oculus Browser?  I am wondering if this is a discrepancy in behavior between the two, or another issue specific to your use case, given that @clofts613 confirmed the expected behavior above.

[2017-07-05 22:37] gabrielperales commented on #2844
@machenmusik I just have bought the S8 and the Gear VR, so I'm not already familiar with the oculus system, but I think I have tried on both (both are called Samsung internet but one is through the oculus launcher, isn't it?) and I don't understand the difference between them.
Tomorrow I'll try it again and I will confirm that the issue is happening on both browsers.

[2017-07-05 22:46] dmarcos commented on #2844
The Oculus browser is included in Oculus Home. You have to open it with the button that says Internet in the bottom bar

[2017-07-05 22:48] machenmusik commented on #2844
@gabrielperales there is the Samsung Internet GearVR app, which I think you are using, and also a browser more integrated into Oculus Home https://m.vrheads.com/how-use-oculus-browser-gear-vr

[2017-07-05 22:51] andreasplesch commented on #2843
Ok, understood. To get started, what would distinguish 'procedural' from other components ? The number of properties ? So the topic could be about complex components with a large (>5?) number of properties?

[2017-07-05 22:53] gabrielperales commented on #2844
Ok, I will do more test tomorrow 'cause I don't have the device at home.

[2017-07-05 23:32] donmccurdy commented on #2843
I think the 'rain' and 'ocean' components are good examples of this, and the goal for this issue would be to gather even more ideas. No need to distinguish categories of procedural-ness. :)

Similar to #2408, maybe a nice thing would be a component that can grab a random child from a model, rather than loading the entire model. So I could load a glTF file with 5 trees, and have 100 trees randomly

[2017-07-06 03:16] andreasplesch commented on #2843
Ok, let's assume this is about larger, geometry generating components ? Or just generally about components ? Still a bit unsure.

Thinking a bit bigger here are some ideas.

I would like to see a generalized transformation component which would allow reprojection of coordinates (of any geometry) through custom or a set of predefined functions (not just trafo matrices), on the GPU. The particular u

[2017-07-06 03:47] takahirox commented on #2721
Agreed.

Not sure but maybe not?

[2017-07-06 04:21] donmccurdy commented on #2843
Maybe getting a bit ahead of ourselves how about scoping to, "generating non-deterministic content in a scene". Computing content from scanned point clouds, photo clouds, and ML is a whole field of study on its own. 😉

+1 to this — could make our own little infinite space sim

[2017-07-06 04:23] dmarcos commented on #2843
What about signed distance field primitives a la shader toy? Has anybody experimented with them in WebVR?

http://iquilezles.org/www/articles/distfunctions/distfunctions.htm

[2017-07-06 08:38] cuffers opened #2848 "Camera rotation not being applied after updating webvr-polyfill"
I have been working on a VR tour of Lancaster castle and have been having some issues with camera rotation since updating from webvr-polyfill v0.9.25 to v0.9.35.

Previously, we were able to rotate the camera within the scene to point in the correct direction after transitioning from one scene to another in order to make the transition feel more natural however this has stopped working on mobile s

[2017-07-06 13:10] nyteryze commented on #2826
no it hasn't...

[2017-07-06 19:46] studiouniverse opened #2849 "Safari iOS: On fullscreen get "undefined is not an object (evaluating 'e.display.isPresenting')""
On enter fullscreen (when tapping fullscreen-goggle-button) get "undefined is not an object (evaluating 'e.display.isPresenting')" when using Safari iOS.

The VR continues to work, but rotating the phone back to portrait does not clear the Aframe dual-vision VR mode until page refresh.

[code]

- A-Frame Version: 0.6.0
- Platform / Device: iPhone 7 iOS 10.3.1 Safari
- Reproducible Code Snippet or

[2017-07-06 21:47] ngokevin commented on #2847
dupe and fixed. https://github.com/aframevr/aframe/issues/2841

[2017-07-06 21:47] #2847 closed

[2017-07-07 17:04] ngokevin commented on #2848
Use a wrapper entity or temporarily set look-controls to disabled. https://stackoverflow.com/questions/36677671/aframe-set-camera-position-at-runtime

[2017-07-07 17:04] #2848 closed

[2017-07-07 17:23] ngokevin commented on #2845
Hmm, calling `enterVR` or `exitVR` twice should not doing anything since they have early checks to see if you are already in VR.

Do you have the WebVR Emulator installed? I think this issue is only if you have the WebVR Emulator extension enabled, which may cause weird things. The WebVR Emulator may not be as useful for A-Frame since wasd-controls and mouse-drag controls provide the same sort of

[2017-07-07 19:15] donmccurdy commented on #2693
Quick recap of my thoughts on timing here:

1. THREE.GLTF2Loader is stable already, available in three.js r85 and r86.
2. If we swap GLTF2Loader for GLTFLoader under the hood in `gltf-model`, that will be a breaking change. glTF1.0 models will no longer be compatible. Is that OK? Shall I just create a `gltf-model-legacy` component in aframe-extras, similar to the `gltf-model-next` component I'm ma

[2017-07-07 19:26] ngokevin commented on #2693
I forget which version of three.js removes the VREffect, but just doing a straight upgrade to GLTF2 for 0.7.0 and having a legacy one somewhere sounds good to me.

[2017-07-07 19:44] fernandojsg commented on #2693
re ArrayCamera was introduced in r85 but is still not ready for production as, for example, we don't have frustum culling working properly, hopefully that would be solved on r87.
+1 for upgrading to gltf2 and leave v1 as legacy.

[2017-07-07 19:47] donmccurdy commented on #2693
So if we upgrade to r86 now, we can continue using VREffect as usual?

[2017-07-07 19:50] dmarcos commented on #2693
@donmccurdy I think so.

[2017-07-07 19:51] dmarcos commented on #2693
If `renderer.vrEnabled === false` everything should behave as it does now.

[2017-07-07 19:52] fernandojsg commented on #2693
I think so too, but we need to do some testing because the `WebVRManager` was introduced on the renderer itself and many things rely on that, like setting the viewport, calling rAF, so I don't know if it could have side effects if using vreffect

[2017-07-08 06:50] dmarcos commented on #2829
If you call `setAttribute` multiple times with the same object (as you do in your example), the object is considered trusted and we disable certain checks on it (type checking and comparison with oldData values). Your second call to `setAttribute` is going to through a different path that ends up triggering the change you were expecting on first call (because we don't compare against oldData)

[2017-07-08 06:51] dmarcos commented on #2829
We should probably restore the comparison with oldData regardless if the same object is passed multiple times to `setAttribute` (thinking about it)

[2017-07-08 06:53] dmarcos commented on #2825
@autonome Do you know if the fix ever landed on the polyfill? We can pull the fix in for `0.6.1` next week

[2017-07-08 08:09] Leopoldthecoder opened #2851 "Invisible <a-plane> when nested in a <a-box>"
**Description:**

- A-Frame Version: 0.6.0
- Platform / Device: macOS / Chrome, Android / Chrome
- Reproducible Code Snippet or URL: https://jsfiddle.net/jn1e2eo7/

I'm attaching a white `a-plane` to each of the six sides of a black `a-box`, but only three of them are visible. The other three planes do exist because if I enlarge these three planes I can actually see them, but still they go invisib

[2017-07-08 15:27] dmarcos commented on #2851
You have to set `material="side: double"` https://jsfiddle.net/q2d2nxdo/

[2017-07-08 15:27] #2851 closed

[2017-07-08 15:31] andreasplesch commented on #2842
https://reminiscent-tip.glitch.me/
applies @takahirox fix . It works for the example, and probably in general. Submit PR and wait for a response ? Perhaps there is a test to add ?

[2017-07-08 15:38] andreasplesch commented on #2842
https://github.com/aframevr/aframe/blob/master/tests/core/a-animation.test.js
It looks like the case when from is missing and from is the current entity value was not tested, so perhaps there is no need to add a test.

[2017-07-08 18:59] #2773 closed

[2017-07-09 05:40] feiss commented on #2693
I feel Blender's glTF2 exporter more stable than the old one, I think people will have less troubles with glTF2 and will not need COLLADA at all. Also, the development of the exporter is very active and I think @UX3D-nopper will respond promptly.

[2017-07-09 07:38] donmccurdy commented on #2616
Are there source files for `oculus-hands/v2/leftHand.json` and `oculus-hands/v2/rightHand.json`? I'd like to try converting them to glTF, but don't know of any way to import three.js JSON files back into Blender.

/cc @feiss