[2016-11-14 19:41] protyze commented on #1735
This seems definitely not entirely fixed yet. Also on iOS 10 when you switch to VR-Mode when holding the Phone in Portrait-Mode.

I can reproduce it with the following example on an iPhone 6S with iOS 10 like this:

1. Open "https://aframe.io/examples/showcase/sky/" in Safari.
2. Hold your Phone in Portrait Mode & Switch to VR-Mode
3. Hold you Phone now in Landscape Mode --> you will see Blurry Te

[2016-11-14 19:53] ngokevin commented on #1735
https://github.com/aframevr/aframe/issues/2008

[2016-11-14 20:11] jamessteininger opened #2092 "Oculus Touch integration"
**Description:**

- A-Frame Version: 0.3.2
- Platform/Device: Windows/Oculus Touch
- Reproducible Code Snippet or Demo URL [highly encouraged]: Get https://aframe.io/a-painter/ to work with Oculus Touch controller models and input.

[2016-11-14 20:57] JonathanGrant opened #2093 "Video and Videosphere Don't Load in Chromium"
**Description:**
When I try to load the example video scene from https://aframe.io/examples/showcase/videosphere/ I just get a black screen on Chromium.
- A-Frame Version: 0.3.2
- Platform/Device: Chromium
- Reproducible Code Snippet or Demo URL [highly encouraged]:
Here's my console output
<img width="304" alt="aframeconsole" src="https://cloud.githubusercontent.com/assets/6880862/20282519/e100f1

[2016-11-14 21:00] ngokevin commented on #2093
Make sure your codec is compatible with Chromium, which only has FOSS codecs.

[2016-11-14 21:48] JonathanGrant commented on #2093
How can I do this?

Hack Prius,
Hack Love,
Hack Life.
-J
facebook.com/HackLifePrius

On Mon, Nov 14, 2016 at 1:00 PM, Kevin Ngo <notifications@github.com> wrote:

[2016-11-14 21:49] ngokevin commented on #2093
Will look into it.

[2016-11-14 22:44] #2009 closed

[2016-11-14 23:04] ngokevin commented on #2029
https://github.com/aframevr/aframe/commit/aca4f90584a78262e9567c6b67d2aec74878027f

[2016-11-14 23:04] #2029 closed

[2016-11-15 08:19] ngokevin opened #2099 "make sure that camera.userHeight still applies in Oculus seated mode"
**Description:**

I will set up my Rift and check this out tomorrow

See if we can use WebVR API features like defined height, or standing/seated booleans

[2016-11-15 12:29] ngokevin opened #2101 "Make primitive setAttribute synchronous"
**Description:**

What happens currently:

1. We call `<a-box>.setAttribute('color'...)`.
2. This calls `Entity.setAttribute('color'...)`.
3. Entity does not detect that `color` is a component, it will call `HTMLElement.prototype.setAttribute`.
4. This triggers `attributeChangedCallback` on the primitive
5. The primitive calls `Entity.setAttribute('material', 'color', ...)`
6. The color gets updat

[2016-11-15 23:16] ngokevin commented on #2099
@dmarcos If you're free, I'm not working on this yet.

[2016-11-16 01:24] micahstubbs commented on #2029
👍

[2016-11-16 02:08] dmarcos commented on #2099
I'm not sure I understand the problem. I believe that `userHeight` should not apply on `seated mode`. @ngokevin is that your assumption too?

[2016-11-16 02:11] ngokevin commented on #2099
That's true now that I think about it. Will re-open if I run into any issues QAing for CV1.

[2016-11-16 02:11] #2099 closed

[2016-11-16 04:34] donmccurdy opened #2104 "Dependency not satisfied during primitive initialization"
**Description:**

- A-Frame Version: master
- Reproducible Code Snippet or Demo URL [highly encouraged]:

[code]

[code]

[2016-11-16 05:06] ngokevin commented on #2104
Reproducing with this test case in `primitives.test.js`. I think I tracked it down to a bug in the core, but I get lost in there.

[code]

[2016-11-16 08:58] ngokevin commented on #2104
It's messy, but I think perhaps `updateComponents` needs to do stuff in order of dependencies.

[2016-11-16 21:40] GavanWilhite commented on #2071
This seems pretty reasonable. In the way we use Unity, we simply have "components", and "components that happen to be singletons and are accessed in a static way". Coming from this mindset, it seems more important that there is an easy way to access system instances, rather than some sort of automatic registration or association.

This could look pretty close to your normal component + flag sugges

[2016-11-17 05:05] dmarcos commented on #403
The `vrdisplayactivate` event does not seem to be properly implemented on either Firefox or Chrome. I would postpone this to a `0.4.1` release as soon as a minimal functionality is available in browsers.

[2016-11-17 05:13] ngokevin commented on #403
Sounds good to me.

[2016-11-17 05:19] dmarcos commented on #2034
I'm not sure if there's anything actionable here. There is a known regression on Firefox due to `e10s` but we cannot do much on the a-frame side.

[2016-11-17 05:21] ngokevin commented on #2034
OK, will just keep our eyes out in our QA cycle (with FF Nightly w/ disabled e10s) until we get solid info

[2016-11-17 05:21] #2034 closed

[2016-11-17 05:23] machenmusik commented on #2093
isn't this due to stock Chromium lack of support for H264 / MP4?

[2016-11-17 05:25] ngokevin commented on #2093
Yeah. The actionable thing to do here is to convert that A-Frame example video to a friendlier codec.

[2016-11-17 07:14] cvan commented on #2034
This was definitely not due to e10s issues; this was much earlier. Feel free to close until there are more reports

[2016-11-17 09:12] wizgrav commented on #2071
what @GavanWilhite said plus a "requires: [component, component]" property on components. This will make sure that singletons are created on scene as needed.

Mind though that systems currently serve not only as singletons but also provide some execution order. At the very least they would have to be separated from common components and run on a different step, as is currently.

[2016-11-17 10:32] ngokevin commented on #2071
@wizgrav I don't think it's necessary to define any API for execution ordering, the developer could have control over it. If you defined a system that oversees multiple components, you'd have a group of entities that have all of those components, then you can do as you please.

[code]

[2016-11-17 10:49] wizgrav commented on #2071
@ngokevin yeah but if foo and baz have ticks() on them it is not guaranteed that the foo-system's tick() will run after the child components, as is the case right now with systems

[2016-11-17 10:52] ngokevin commented on #2071
That's why you wouldn't put `tick`s on the components. You have the components act as data containers, and delegate the logic/execution to the system.

[2016-11-17 14:20] theDrGray commented on #2091
Creating a simplified version of my site showed me that its not 0.3.2 but something in the rest of my site (1 video sphere, 5 image spheres, and 26 2D videos that can be triggered to play on planes within the 3D scene). Playback of just my video sphere in 0.3.2 is smooth.

Something must have changed. Going to chase that down and will followup.

[2016-11-17 14:45] RSpace commented on #926
@chriscar That's not working for me. Here's a Codepen example: http://codepen.io/fabricius/pen/KNNWVL

I get a blank png with the dimensions of the window, just as I do in any other way when preserveDrawingBuffer has not been set to true.

What _does_ work for me though, is the upcoming screenshot component in the next release of A-Frame. At least it works in this example (press Ctrl+Alt+S to take

[2016-11-17 20:28] JonathanGrant commented on #2093
Thanks guys! When the stable Chrome has WebVR abilities, will I be able to play this codec?

[2016-11-17 21:45] machenmusik commented on #2093
yes - and supposedly there is some tricky way you can roll your own custom chromium build for testing that enables them

[2016-11-17 21:57] JonathanGrant commented on #2093
Can you please link me to wherever you heard that?

[2016-11-17 22:03] dmarcos commented on #926
@RSpace I have to pupdate the docs. With `<ctrl> + <alt> + <shift> + s` you can take an equirectangular screenshot (aka panorama)

[2016-11-17 22:19] dmarcos commented on #2093
@JonathanGrant You can try any a-frame scene on regular Chrome and see if the video plays. (https://aframe.io/examples/showcase/videosphere/ plays fine) You won't be able to enter VR but at least you know if it's a problem with the video codec or something else.

[2016-11-17 22:43] dmarcos commented on #2092
Oculus touch has to be first supported in browser in order for us to support it.

[2016-11-17 23:05] chriscar commented on #926
@RSpace I played with your Codepen and you're right. In my case manually taking a screenshot is not an option, I create one programmatically, after uploading a 3d model. It's wired, it still works in my code. When I got time I should check why it works...

[2016-11-17 23:09] dmarcos commented on #926
@chriscar you can take a screenshot programmatically if you do:
`sceneEl.components.screenshot.capture()` pass `perspective` as parameter if you want a normal screen capture

[2016-11-18 03:26] softpunch opened #2111 "download links on main github page are broken"
![screen shot 2016-11-17 at 10 25 43 pm](https://cloud.githubusercontent.com/assets/19437970/20417650/e08f7d0e-ad14-11e6-9359-05b67f5a5204.png)

![screen shot 2016-11-17 at 10 26 10 pm](https://cloud.githubusercontent.com/assets/19437970/20417656/e64499dc-ad14-11e6-98f4-0205b12dd697.png)

[2016-11-18 03:51] #2111 closed

[2016-11-18 03:51] ngokevin commented on #2111
thanks!

[2016-11-18 04:07] takahirox opened #2112 "Add arraybuffer <a-asset-item>"
**Description:**

I think letting \<a-asset-item> support arraybuffer will be useful for components.
Actually \<a-mmd> I'm working on needs MMD assets data downloaded as arraybuffer.

https://github.com/takahirox/a-mmd

IMO, it's a good idea that \<a-asset-item> supports `responseType` (or just `type`?) attribute like this.

    <a-asset-item id="model" responseType="arraybuffer" src="model.pmd"><

[2016-11-18 04:51] donmccurdy commented on #2069
@james-h-stephens working on this, but also there is a `vec4` property type that [works well for quaternions](https://github.com/donmccurdy/aframe-physics-system/blob/master/src/components/math/quaternion.js).

[2016-11-18 09:16] jarodium opened #2114 "Feature Request - Form Controls"
**Description:**
I would like to suggest some degree of implementation of form controls ou input controls for that matter.
I am aware that VR input is in its very early stages ( leapmotion ) but the framework could branch out a spec for that.

- A-Frame Version: Any
- Platform/Device: Any
- Reproducible Code Snippet or Demo URL [highly encouraged]: N/A

Regards

[2016-11-18 09:44] dmarcos commented on #2114
What do you exactly mean by form controls?

[2016-11-18 09:44] dmarcos commented on #2114
Can you describe a use case?

[2016-11-18 09:47] dmarcos commented on #2091
@theDrGray I'm going to close this. Please reopen if you think it's a problem with a-frame

[2016-11-18 09:48] #2091 closed

[2016-11-18 11:36] RSpace commented on #926
@dmarcos Good tip about `sceneEl.components.screenshot.capture('perspective')`. I wish that method  wouldn't initiate the download, as in my case I take the base64 image and submit to a server.

I might do a PR to change the behaviour or make it more configurable, but for now I also have had to comment out https://github.com/aframevr/aframe/blob/master/src/components/scene/screenshot.js#L65 and th

[2016-11-18 12:07] fuleinist opened #2115 "Idea: <a-star> component"
It would be great to add <a-star> component with embeded webgl shader as per can be found in http://stars.chromeexperiments.com/

@ngokevin maybe something like your https://github.com/ngokevin/kframe/tree/master/components/sun-sky/ without the sky : )

[2016-11-18 12:55] fuleinist commented on #2114
something like this? https://fuleinist.github.io/aframe-vr-survey/

[2016-11-18 13:18] jarodium commented on #2114
@fuleinist yes. Something of the kind.
@dmarcos imagine a 360º CMS in which a user can view and input stuff.

For example from 0º to 90º ( approx ) we see a listing. From 90º to 180º we can input data in the form. From 180º to X we can edit another record or navigate to other page. We have only to shift our heads in the direction of what we want to do in the CMS.

BTW: This does not have anything

[2016-11-18 13:28] fuleinist commented on #2114
Thumb up for VR CRM : )  It's probably achievable even with a Wordpress
Plugin,  just need someone to develop it.

On Sat, Nov 19, 2016 at 12:18 AM, jarodium <notifications@github.com> wrote:

[2016-11-18 13:33] jasmussen commented on #2008
I'm experiencing what I think is the same issue on both Android (Moto X 2014) and iOS (iPhone 6). Cardboard view is very pixellated. Here's a screenshot from the Android:
![pixelratio1](https://cloud.githubusercontent.com/assets/1204802/20431386/fe90c2ec-ad99-11e6-948a-1c48fcc65fca.png)

As a hack, I tried to change the webvr polyfill `vr-effect/index.js` density from `renderer.setPixelRatio( 1 );

[2016-11-18 15:58] chriscar commented on #926
@demarcos Same here, thanks about the hint! In my use case I would need to submit the image data to the server as well.

[2016-11-18 19:33] ngokevin commented on #2115
try https://www.npmjs.com/package/aframe-star-component

[2016-11-18 19:33] #2115 closed

[2016-11-18 21:16] takahirox commented on #2112
I'll make a PR if this update sounds good to you guys.

[2016-11-18 21:21] ngokevin commented on #2112
In cases like these, you would document your component to prescribe certain response types. Would there ever be an issue where two components are expecting different response types on the same asset?

[2016-11-19 01:39] donmccurdy opened #2116 "Unable to test with `npm link aframe`"
When testing packages against upcoming releases, or against patches to aframe, I use `npm link`. For many packages this just works, and changes to the lib are automatically pulled into the code that depends on it. For A-Frame, I need to run `npm run dist` after each change, since Browserify/Webpack point at a built file.

On master branch now, it looks like `npm run dist` builds `aframe-master.js`

[2016-11-19 01:45] ngokevin commented on #2116
Good catch, the package.json should point to `aframe-master.js` now.

[2016-11-19 01:48] ngokevin commented on #2116
I remember we don't point it to `index.js` because since it's built with Browserify, any requiring libraries would have to pull in Browserify-CSS and build steps. Any way around that?

[2016-11-19 01:58] donmccurdy commented on #2116
Ah that was it. Tried the `browserify.transform` field in package.json?  Supposedly consumers of the module don't need to know about the transform if it's declared there. https://github.com/substack/browserify-handbook#browserifytransform-field

[2016-11-19 02:00] ngokevin commented on #2116
We do have that declared. Will need to try again to remember what was the hold-up, if there was any.

[2016-11-19 04:20] Ariel-zhangyue opened #2117 "Problems with Stereo effect on large mobile screens (Pixel)"
**Description:**
When I test VR mode at Android device(by google cardboard), It seems no stereo effect? things are shown seperately and my eyes can not identify they are stereo.
![image](https://cloud.githubusercontent.com/assets/22290786/20452972/5c2676c8-ae52-11e6-8b79-b96e298f8fed.png)
Code here(I uploaded codes' screen shot for easy reading):
<img width="973" alt="part1" src="https://cloud.git

[2016-11-19 04:36] dmarcos commented on #2117
The capture seems correct to me. The scene is rendered differently for each eye. Look at the image on the left side inside the white band. What do you mean by your eyes don't identify they're stereo?

[2016-11-19 05:17] Ariel-zhangyue commented on #2117
The picture in two eyes are different, however when I put my phone into cardboard, they did not match each other, which means the entities overlap, but not come to one integrated stereo things..

Thanks!

[2016-11-19 08:14] dirkk0 commented on #2117
Are you sure that the phone is centered in the cardboard?
The original cardboard is (in)famous for not holding the phone correctly. That's why I don't use a cardboard-cardboard anymore, rather this one:
http://www.homido.com/en/shop/products/homido-mini
especially when I show it to clients.

[2016-11-19 10:15] fuleinist commented on #2115
@ngokevin Thanks for sharing.

Unfortunately This component is only 2d and has not been updated for sometime : (

[2016-11-19 11:19] Ariel-zhangyue commented on #2117
@dirkk0    Thanks for recommending this convenient device~!
However I have tried other websites like the demo:  [https://shopifyvr.myshopify.com/pages/virtual-reality](url)
It works fine on the cardboard....
I do not no what goes wrong then......

[2016-11-21 12:53] emmedienne opened #2121 "Problem with the normalMap and envMap in the same scene"
Hi everybody,
i'm using the latest version of A-frame(0.4.0).

I have some problems with 2 sphere which one has a normal map and the other has an environment Map.

on desktop there's no problem, but when i go on mobile(android) the scene show me like this.

![normal_with_envmap](https://cloud.githubusercontent.com/assets/23309782/20483277/78e00dec-aff1-11e6-8668-667934b7ed02.png)

or like this

![

[2016-11-21 19:55] pankajnathani opened #2122 "Update tween.js version. Tween is using a deprecated package that has DoS issue."
Latest version of aframe v0.3.2 uses tween.js v15.0 which is more than a year old.

I am getting npm warnings because few of the dependent packages are very old and has security issues:

npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@0.2.14: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS i

[2016-11-22 03:36] manojkota commented on #1473
This is not working with version >=0.3.0

[2016-11-22 07:09] takahirox commented on #2112
I plan to write document to describe which attribute should be downloaded
as arraybuffer for my component.

If two components attempt to download the same assets as different type,
the type will be the first attempting response type because of THREE.Cache
(if THREE.Cache is enable. It should be enabled for pre-downloading).

But I don't think it won't be a problem in general
because there may be n

[2016-11-22 16:27] paddeee opened #2126 "Video autoplays and loops"
Adding `<a-video>` or `<a-videosphere>` primitives in the latest master version results in the video playing automatically and looping with seemingly no way to override this behaviour.

- A-Frame Version: Master
- Platform/Device: Windows 10/ Chromium

`<a-scene>
    <a-assets>
        <video src="assets/video/test.webm" preload="auto" id="who"></video>
    </a-assets>
    <a-video id="Video"

[2016-11-22 17:26] cvan commented on #1473
Are you testing in Chromium or Firefox Nightly? Chromium currently has a temporary user-gesture requirement; Firefox Nightly does not.

[2016-11-22 17:26] cvan commented on #1473
(Accidentally closed issue.)

[2016-11-22 19:18] ngokevin commented on #2117
Which Android device are you using?

[2016-11-22 21:56] JonathanGrant opened #2127 "Audio Visualization "View Source" link is broken"
**Description:**
When you click View Source in the audio visualizer example, you are taken to a link that Github says does not exist.
- A-Frame Version:
- Platform/Device:
- Reproducible Code Snippet or Demo URL [highly encouraged]:

[2016-11-22 22:05] ngokevin commented on #2127
https://github.com/aframevr/aframe-site/commit/661b154dd1e16f417625050ad18989a66fef49e6

fixed, thanks!

[2016-11-22 22:05] #2127 closed

[2016-11-22 22:07] manojkota commented on #1473
I have tested in firefox & chrome in Android. It is not working. When I change the afrmae version to 0.2.0, it is directly going to vr mode.

[2016-11-23 00:45] Ariel-zhangyue commented on #2117
@ngokevin  I am using HUAWEI Mate 8, and here is my device information, thanks!
<img width="344" alt="device_info1" src="https://cloud.githubusercontent.com/assets/22290786/20547711/09f1126e-b159-11e6-95de-2648b7b47cb0.png">
<img width="341" alt="device_info2" src="https://cloud.githubusercontent.com/assets/22290786/20547713/0af7b5f0-b159-11e6-8153-869ec048cfe0.png">

[2016-11-23 00:46] ngokevin commented on #2117
OK, this seems exclusive to large Android phones. I'm glad you found https://github.com/googlevr/webvr-polyfill/issues/176 , that's the appropriate area to fix. Will leave this open for now.

[2016-11-23 00:53] Ariel-zhangyue commented on #2117
@ngokevin
Thanks, looking forward to the fixed version! :)

[2016-11-23 06:23] #2093 closed

[2016-11-23 10:46] ronit-kadwane opened #2130 "How to auto enter in vr mode without clicking vr button?"
I want vr mode as a default view in web view, so please suggest how can I implement?
If sample code snippet is there please share here.

[2016-11-23 20:10] darkwing opened #2133 ""Plane Reveal" demo broken on master"
[code]

<img width="324" alt="broken" src="https://cloud.githubusercontent.com/assets/46655/20577136/94f4dc56-b186-11e6-8bbd-4b14c9047eea.png">

[2016-11-23 20:11] darkwing opened #2134 ""Unfold" Example broken on master"
[code]

<img width="351" alt="broken2" src="https://cloud.githubusercontent.com/assets/46655/20577178/c28d42f2-b186-11e6-871c-baabe821c6dd.png">

[2016-11-23 20:14] ngokevin commented on #2134
Thanks for catching this, this seems to be a dupe of the previous one.

I think https://github.com/aframevr/aframe/pull/2106 solves things.

[2016-11-23 20:20] ngokevin commented on #2133
duping https://github.com/aframevr/aframe/issues/2134

[2016-11-23 20:20] #2133 closed

[2016-11-23 21:39] darkwing commented on #2134
The `pivot` component is `undefined` is causing the issue; I pulled in your PR, rebased on master, and am seeing essentially empty screens, so can't confirm that will fix this issue.

[2016-11-23 21:46] ngokevin commented on #2134
Fixed at that PR. Thanks!

<img width="1302" alt="screen shot 2016-11-23 at 1 46 05 pm" src="https://cloud.githubusercontent.com/assets/674727/20579714/38cdc148-b183-11e6-8462-f4ccb2946580.png">

[2016-11-23 22:07] ngokevin opened #2136 "add utils.throttleTick to be called once every X ms"
**Description:**

Common case to only want to call a tick behavior on an interval rather than every frame.

[code]

This would keep track of last time the function ran, and wait 500 ms before calling again.

[2016-11-23 22:23] #2104 closed

[2016-11-24 09:16] Utopiah opened #2139 "Component naming silently failing"
**Description:**  A component named _namedcomponent_ get registered and works whereas _NamedComponent_ or _namedComponent_ silently fails.

- A-Frame Version: master
- Platform/Device: desktop Firefox stable
- Reproducible Code Snippet or Demo URL [highly encouraged]: http://jsbin.com/jovuwut/edit?html,output

[2016-11-24 12:21] thoragio commented on #2117
FWIW, I am experiencing a similar issue with a Samsung S7 Edge. Other cardboard apps work fine, but A-Frame scenes rendered in VR mode using the Chrome browser on the S7 have a "double vision" effect.

[2016-11-25 02:24] msj121 commented on #2130
Can you try: `document.querySelector('a-scene').enterVR()`

[2016-11-25 10:43] jesstelford opened #2140 "[0.4.0] #2108 incorrectly returns empty object when default value is `null`"
**Description:**

- A-Frame Version: `master` (#2108)
- Platform/Device: All
- Reproducible Code Snippet or Demo URL [highly encouraged]:

When setting a component schema such as:

[code]

The values set on `this.data` don't reflect the default `null`, instead, we end up with an empty object.

The problem is introduced by [this line](https://github.com/dmarcos/aframe/blob/53eae6d00a6eca53e494b6e3f

[2016-11-25 22:14] jesstelford opened #2142 "[0.4.0] Cannot opt-out of fog / apply flat shader"
**Description:**

Opting out of fog with `material="fog: false; shader: flat"` no longer works on `master`:

[code]

- A-Frame Version: `master` (909e5ec89cd2e0e11f56db51819deef170f0a115)
- Platform/Device: Desktop Chrome
- Reproducible Code Snippet or Demo URL [highly encouraged]:
  - `master` (not working): http://codepen.io/anon/pen/YpxPxz
  - `0.3.2` (working): http://codepen.io/anon/pen/NbvPv

[2016-11-26 08:44] dmarcos commented on #2142
Thanks for bisecting. This makes the fix much easier

[2016-11-26 08:53] dmarcos commented on #2140
What about this one?
[code]

[2016-11-26 10:59] jesstelford commented on #2140
That works too :)

There's nothing else that reports `typeof` as `'object'` which we'd need to special-case here too?

[2016-11-26 16:09] dmarcos commented on #2140
Well this another case:
[code]
But if we have an array as default it would be a single property schema and it would not run the line you pointed out. Your proposals are good but I think mine it's a bit more explicit and easier to understand. @jesstelford You're more than welcome to submit a PR if you want to take this. Can you add a test to cover for the bug?

[2016-11-27 01:40] donmccurdy opened #2143 "Default values of array properties are ignored."
Similar to #2140, an array provided in schema as a default value is [first cast to an Object](https://github.com/dmarcos/aframe/blob/53eae6d00a6eca53e494b6e3f2887251a36549a3/src/core/component.js#L334), and [then converted to an empty array](https://github.com/dmarcos/aframe/blob/53eae6d00a6eca53e494b6e3f2887251a36549a3/src/core/propertyTypes.js#L53-L54).

- A-Frame Version: master / unreleased
-

[2016-11-27 01:44] donmccurdy commented on #2140
@dmarcos @jesstelford I've filed a bug separately but of the suggestions so far, only one handles arrays correctly:

[code]

See also, [is-plain-object](https://github.com/jonschlinkert/is-plain-object/blob/master/index.js).

Default values may be arrays whether it's a single-property schema or not, so I don't think there's an easy out there.

[2016-11-27 01:50] donmccurdy commented on #2140
Although, IMHO, primitive types `string` (or `int`, `number`, ...) should be non-nullable and either cast to an empty string, or throw an error when assigned a non-string default value like `null`. But that's personal preference and not really the question here. :)

[2016-11-27 04:39] #2140 closed

[2016-11-27 04:39] #2143 closed

[2016-11-27 04:44] dmarcos commented on #2142
I investigated this and It's a bigger problem than I thought. The root cause comes from the collision between the primitive mappings and some of the existing component names. Primitives map the `material.visible` to the `visible` attribute while `visible` is also one of the core components. When `visible` initializes it also triggers the primitive mapping update that sets the material component an

[2016-11-27 22:40] donmccurdy opened #2147 "When/where to update shader uniforms?"
**Description:**

Let's say I've got a custom shader that depends on the camera's position:

[code]

I'll need to update `vCameraPosition` on every frame, but the shader itself doesn't have a `tick()` lifecycle method. So I can do that by adding a new component, instead:

[code]

That works, but there's also no guarantee that the camera (or any other components my shader depends on) have already t

[2016-11-27 22:55] wizgrav commented on #2147
1. a fast easy way to provide some order would be adding a tock() method on components. All tocks() would be guaranteed to run after ticks(). Post processing doesn't need changes to the core, I'm currently implementing it on top of regular master.

2. This is the only choice for your case right now.

3. This would be great and would simplify the implementation of complex materials, like using proc

[2016-11-27 23:44] takahirox commented on #651
Any update about shadow?
I really want A-Frame official shadow support~

[2016-11-28 00:12] donmccurdy commented on #651
@takahirox I'm not sure about a roadmap for official support, but the bugs I mentioned above about `aframe-extras.shadows` have been fixed.

[2016-11-28 17:30] garethwilliams commented on #2117
I was having this issue on Pixel XL. The problem is that the dpdb within Googles webVR polyfill that a-frame uses doesn't have your devices settings. We have to wait till Google updates that database.

In the mean time I fixed the issue I was having by doing the following:
- use a local version of the a-frame js
- in that js file find DPDB cache
- copy and paste a device entry in the cache
- chang

[2016-11-28 19:26] donmccurdy commented on #1152
Is this still considered "help wanted"?

This issue seems to come up a lot, e.g. it's not possible to use the JS panel in Codepen because it is appended at the end of `<body/>`. And, for that matter, putting JS at the end of the body tag is pretty common practice.

Couple ideas:

1. At the bare minimum, component registration should throw an error if run after a scene has been parsed. Silently ign

[2016-11-28 20:55] machenmusik commented on #2126
can you see if this is fixed by https://github.com/aframevr/aframe/pull/2129 ?

[2016-11-28 20:56] machenmusik commented on #2092
see https://github.com/aframevr/aframe/pull/2132

[2016-11-28 22:56] thoragio commented on #2117
@garethwilliams Thank you for your suggestion, which worked perfectly for getting rid of double vision with my Galaxy S7.

[2016-11-29 06:27] Utopiah opened #2148 "Screenshot should be a camera component, not a scene component"
**Description:** I started to work on an MR component attaching the camera to a controller then planning to take screenshots through that secondary camera. Sadly it seems the screenshot component is implicit or rather only assumes one camera. It works in most case but in this specific one, which I believe is quite interesting it doesn't.

- A-Frame Version: master
- Platform/Device: Chromium + Viv

[2016-11-29 09:23] feiss commented on #709
I found that if you position the sound at the level of your head, a bit forward, it sounds pretty fine:

[code]

[2016-11-29 10:10] paddeee commented on #2126
Thanks machenmusik.

Yes, can confirm that this has fixed the issue. Works as expected again.

[2016-11-29 10:10] #2126 closed

[2016-11-30 17:16] discordianfish opened #2150 "Animation are not working properly on experimental webvr enabled chrome builds"
Hi,

I wanted to play around with a-frame animations and things looked in stable chrome (54.0.2840.9), but when I switched to the webvr enabled chrome build from https://webvr.info/get-chrome/ my animations stopped working properly. They still did something, but no smooth animation. Best see for yourself, can be reproduced with the anime ui example as well: https://aframe.io/examples/showcase/anim

[2016-11-30 17:17] discordianfish commented on #2150
(Quite possible this is a webvr issue in chrome, I just can't say. /cc @toji)

[2016-11-30 17:32] Sebkasanzew commented on #2150
It stopped working in the latest chrome build for WebVR from 29th Oktober 2016.
In the release from the 23rd of September 2016 animations are working fine: https://drive.google.com/drive/folders/0BzudLt22BqGRbHdGOTdiaTBkZXM

[2016-11-30 20:54] cjroth commented on #399
Just for reference, I experimented with using PhantomJS to render a page continuously and stream it in as a video. From there you could forward click/keypress events back to Phantom. This works, but it's not very practical because phantom is very process intensive and can only render every so many milliseconds so the frame rate of the page is extremely low.

It sounds like some sort of new browser

[2016-12-01 00:32] cvan commented on #399
@cjroth btw, there is a MediaRecorder API (supported in both Firefox and Chrome/Chromium):

* https://hacks.mozilla.org/2016/04/record-almost-everything-in-the-browser-with-mediarecorder/
* https://mozdevs.github.io/MediaRecorder-examples/

[2016-12-01 14:08] machenmusik commented on #1377
i believe https://github.com/aframevr/aframe/pull/2129 fixes regression in master by doing this for `video` elements (bug introduced when thia was redone for `canvas`) - are we saying this should also be done for `img` elements here?

[2016-12-01 16:27] edzis opened #2152 "Official videosphere demo does not work on mobile"
- A-Frame Version: 0.3.2
- Platform/Device:
    - iOS 10.10 / iPod touch
    - iOS 9.3.5 / iPhone 5
    - android 6.0.1 / Samsung Galaxy S6 / Chrome
- Reproducible Demo URL: https://aframe.io/examples/showcase/videosphere/

I am following the instructions of adding to home screen, launching the home screen app but I get a black screen in place of video. Same result also without using home screen.

[2016-12-01 18:21] #2088 closed

[2016-12-02 01:31] donmccurdy commented on #2067
This could be done nicely with mutation observers:

[code]

Except that sadly it won't catch `foo__1`.

[2016-12-02 05:05] 7ammer opened #2155 "vue.js / nuxt.js with a-frame not loading properly"
Hello!

I'm trying to get vue/nuxt.js working in tandem with a-frame however a-frame isn't loading properly. Sometimes the scene loads other times it loads content from one template but not from another on other occasions it just doesn't load at all. It looks like the two libraries are racing each other while loading.

Does anyone kmow how to get a-frame working with nuxt.js / vue?

Cheers :)

[2016-12-04 00:05] mloparco commented on #2152
I am having the same issue, same black screen, in fact have ~never~ been able to get <a-videosphere> to work on mobile (iOS 10.x). Followed all instructions verbatim, including adding the metatag, inline-video, pin to home screen, etc. in all permutations. What are we missing here?

[2016-12-04 08:37] seanlis commented on #1694
Hi.
I encountered the same problem with 0.3.2 version.
 ``<a-sky theta-length="90" src="#sky"></a-sky>`` has no effect.
But the following works:
```<a-entity geometry="primitive: sphere; thetaLength: 90; radius: 5000; segmentsWidth: 64; segmentsHeight: 20" scale="1 1 -1" material="src: #sky; shader: flat"></a-entity>```

[2016-12-05 00:24] msj121 opened #2156 "CORS error when doing inline URLs"
When adding a url as such:

`<a-sphere material="src:url(...)"></a-sphere>`

I get:

Is it possible that inline urls could be made to allow for crossorigin as  a property of the material?

Reposted here (in case it is not a bug): https://stackoverflow.com/questions/40955781/cors-inline-material-for-aframe

[2016-12-05 13:57] AdrienPoupa opened #2157 "Automatic rotation on 360° image"
**Description:**

Hello,

Is it possible to make a 360° image automatically rotate at load, endlessly? I searched the docs, especially the "rotation" section but it does not seem to be able to rotate the image automatically.

What I would like as a final result is this: http://photo-sphere-viewer.js.org/

Thank you.

- A-Frame Version: 0.3.0 (current I guess)
- Platform/Device: Android smartphone

[2016-12-05 14:32] Stefie commented on #2157
Hi,
the rotation-attribute only rotates the object around the three different axes once on load. What you're looking for is <a-animation>, which you can attach to the <a-sky>-element.

Like this:
`<a-sky src="https://aframe.io/aframe/examples/boilerplate/panorama/puydesancy.jpg">
   <a-animation attribute="rotation" fill="forwards" easing="linear" dur="15000" from="0 0 0" to="0 360 0" repeat="inde

[2016-12-05 15:23] AdrienPoupa commented on #2157
Awesome! Many thanks.

[2016-12-05 15:23] #2157 closed

[2016-12-05 17:50] bryik opened #2158 "Attaching raycaster to an entity with vive-controls causes crash (master)"
**Description:** @sirkitree [reported](https://github.com/bryik/aframe-vive-cursor-component/issues/2) yesterday that using the vive-cursor component with A-Frame master causes a crash. I thought this was a problem with the component at first, but adding A-Frame's own raycaster component to an entity with vive-controls causes the same crash.

- A-Frame Version: master
- Platform/Device: Desktop
-

[2016-12-05 17:56] sirkitree commented on #2158
Thanks for filing here @bryik!

[2016-12-05 19:23] donmccurdy commented on #1446
The glTF-specific animation system has been removed in favor of the new/common animation system, THREE.AnimationMixer: https://github.com/mrdoob/three.js/pull/10276.

In terms of adding model animation support to A-Frame, I think it would make most sense to start with the THREE.js JSON format and glTF.

[2016-12-05 21:29] AdrienPoupa commented on #2157
One more question, if I may: how can I stop the animation on click?

I tried `end="click"` within <a animation> tag but it does not stops the animation on click.

[2016-12-06 16:08] alfa256 opened #2159 "Loading textures for custom shaders in registerShader schema"
**Description:**
Right now there is no way to register a src to be loaded as a texture to be sampled by a custom shader.

Something like this or any variation would be nice:

[code]

- A-Frame Version: 0.4.0
- Platform/Device: any

This might be also related to #2147

[2016-12-06 21:19] tam203 commented on #2117
Same problem on Moto G4, I followed the above but also had to add one other line change and I used `ua` (user agent) as my rule not `mdmh` which I'm not even sure what that is :)

I went for:

[code]

I also found this line :

[code]

and changed `true` to `false` (preventing searching for the DPDB online.

[2016-12-07 05:19] yutoTachibana opened #2160 "not working offset property"
**Description:**
I specified an offset for a-sphere, but it did not work.

example:
<a-sphere src="#img" offset="0 -0.5" radius="3" repeat="1 2" shader="flat"></a-sphere>

- A-Frame Version:0.3.2
- Platform/Device:Chrome, Firefox

[2016-12-07 15:00] Stefie commented on #2157
Hi Adrien,
what are you trying to achieve?
Do you want your scene to be controllable in VR-Mode? Or do you want to disable VR-Mode (vr-mode-ui="enabled: false" on the a-scene) and just use aframe present your 360-photos in a browser window and control the animation from outside the scene?
The concept of a "click" is a bit different in VR compared to a button in html (for example), because you don'

[2016-12-07 19:42] AdrienPoupa commented on #2157
Hi,

Once again, thanks for your argumented answer.

This may sound dumb, but I would like to display my photos with an animated 360° panorama on desktop like you did in the jsbin; the animation would stop after a click on the image.

On the other hand, if the user's device supports VR, like a smartphone for example, then it makes no sense to launch an animation and the default presets are good en

[2016-12-07 19:52] donmccurdy commented on #2159
To do this, I think we just need the shader registration to recognize an additional type for textures. Specifically THREE.Texture → 't' in THREE.ShaderMaterial uniforms.

[2016-12-07 20:02] donmccurdy commented on #2071
For physics, my components implement a `step()` function, and the system invokes those in custom (two-phase) ordering.

I wouldn't want to reduce systems to unprivileged components without also having real control over `tick()` order. That would potentially break physics badly. Managing `tick()` order seems like a much harder problem. Having systems extend the Component prototype, and support play

[2016-12-07 20:22] ngokevin commented on #2071
We could make systems extend components, but there's a lot of code involved in managing the lifecycle. Right now, the lifecycle is the same so it makes sense to make them components with some extra sauce.

[2016-12-07 20:48] machenmusik commented on #2077
see #2162

[2016-12-07 21:04] darkwing commented on #2134
Now working on master, closing

[2016-12-07 21:04] #2134 closed

[2016-12-07 21:10] darkwing opened #2163 "/examples/primitives/models/ demo is broken"
**Description:**

- A-Frame Version: 0.4.0 (current master)
- Platform/Device: Chrome, Firefox
- Reproducible Code Snippet or Demo URL [highly encouraged]: http://172.16.152.12:9000/examples/primitives/models/

[code]

[2016-12-08 02:49] kevinzwhuang commented on #2163
Can confirm, the primitive `models` example throws the same error for me.

It seems to the stem from the `a-obj-model` primitive - removing it allows the scene to render without error.
Also changing the `a-obj-model` primitive to a component like so seems to allow the crate model to render normally.:

[code]

[2016-12-08 04:11] msj121 commented on #1446
@donmccurdy Simply Amazing!

[2016-12-08 05:25] donmccurdy commented on #1446
@msj121 everything in THREE.js `dev` is now cross-compatible for that to work — hopefully all we need to do is update `gltf-model` to the latest version of THREE.GLTFLoader.

But definitely a chance there will be version mismatch issues, and if so it may be necessary to wait for the next THREE.js + A-Frame releases.

[2016-12-08 19:23] innovativemonsters commented on #2152
I am having the same issue. Any chance it is a problem with the CDN? I mean... it shouldn't, but I can't figure out whats wrong at all. Desktop mode works fine.

[2016-12-08 19:58] #2160 closed

[2016-12-09 00:36] fuleinist opened #2165 "iOS don't like React dom....at least for video"
**Description:**
If videosphere tag is injected by react,  It will never play inline in iOS (example 2). However the static dom works fine as web clip (example 1)

This makes it really hard to create aframe 360 video player on iOS devices. All other platform seems to be working fine with react.

- A-Frame Version: 0.3.2
- Platform/Device: iPhone 6
- Reproducible Code Snippet or Demo URL [highly en

[2016-12-09 04:51] fuleinist commented on #2152
https://github.com/aframevr/aframe/issues/1846

[2016-12-09 10:07] protyze opened #2166 "Consider Calling "dispose()" on Texture when removing"
**Description:**
When removing the src-Attribute of the material-component or when removing the entire material component from an entity, the texture remains in memory.

This causes memory leaks (especially on mobile) when dealing with a lot and/or large textures. THREE.js will remove a texture from memory when "dispose()" is called on it.

Like this:
this.el.object3DMap.mesh.material.map.dispose(

[2016-12-10 10:19] edxi opened #2168 "test"
**Description:**

- A-Frame Version:
- Platform/Device:
- Reproducible Code Snippet or Demo URL [highly encouraged]:

[2016-12-10 10:19] edxi commented on #2168
hj

[2016-12-10 10:19] #2168 closed

[2016-12-11 00:29] machenmusik commented on #2130
#2170

[2016-12-12 12:08] Zergus opened #2172 "Handling custom event"
As I understood, one-way event handling between two components should look like:
[code]

Confusion for me is ```event``` parameter. As I saw, it should actually respond with ```{name, data}``` but received object with bunch of private data.

What is the way to properly handle event between components?

- A-Frame Version: 0.4.0

[2016-12-12 13:45] donmccurdy commented on #2172
@Zergus the value of `data` will be passed in `event.detail`. Example:

[code]

This is similar to the native [CustomEvent](https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events) `detail` property.

[2016-12-12 15:27] Zergus commented on #2172
Probably I've become too comfort with event system with same input-output. As input to trigger is ```{ name, data }```, output suggested would be ```{ event, data }``` where event containing own properties and data is link to event.data. Anyway thanks for great framework.

[2016-12-12 15:27] #2172 closed

[2016-12-12 16:03] AdrienPoupa commented on #2157
Just in case anyone is wondering, I managed to do it:

http://output.jsbin.com/mofuyavude

[2016-12-12 16:10] AdrienPoupa opened #2174 "How to add a fullscreen button on mobile?"
**Description:**

Hello,

Currently on a mobile device I can only enter in the VR mode. I can't enter on the classic regular fullscreen mode, which is disturbing because I would like to hide the address bar like in desktop fullscreen option. Why don't we have both icons like in Google's VR script?

https://storage.googleapis.com/vrview/index.html?image=https://i.imgur.com/lOKJwUy.jpg

I have tried

[2016-12-12 23:01] Zergus opened #2175 "TWEEN animation duration broken in Mozilla Nightly"
After trying to implement continuous and dynamic animation, I've come so solution via TWEEN:

[code]

I've tested example from TWEEN github:

[code]
Everything looks more less in Chrome, but in Nightly, duration seems to be awkward:
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/5468045/21119988/c4dfa030-c0cd-11e6-8f9c-c88915e42e4d.gif)
![ezgif com-video-to-gif 1](https://clo

[2016-12-13 12:52] Charton100774 opened #2176 "Build APK using cordova, can't see videosphere working"
Hi,
I want to build an APK using cordova, were i'm using the A-frame videosphere asset. I know that Chrome doesn't support A-Frame videospheres completely for now, but I hoped that it would be working with an APK.
But there is my problem : I can hear the sound of my video running but i can only see a white screen displayed on my mobile when i start the APK. Clicking, reloading, moving around, noth

[2016-12-13 20:53] MLescaudron commented on #2176
Hi,

A-frame videosphere asset work fine on Chrome.
The problem is Chrome does not allow auto play on Android. Only the users can start the video with gestures.
But you can find many workaround on Google ;)

[2016-12-14 20:01] #2163 closed

[2016-12-15 08:53] #1479 closed

[2016-12-15 11:15] ronit-kadwane opened #2177 "Does player supports Adaptive streaming?"
If it does supports Adaptive streaming then Can you please provide adaptive streaming supported videos for testing?

[2016-12-15 15:53] salmanfarisvp opened #2178 "Permission denied (publickey). fatal: Could not read from remote repository."
while am trying to Local Installation and Development via
`git clone git@github.com:aframevr/aframe.git`
but stuck here
[code]

[2016-12-15 17:21] donmccurdy commented on #2177
I'm not too familiar with this, but I think [adaptive streaming tends to require extra libraries](http://stackoverflow.com/questions/28529383/why-do-i-need-dash-js-for-streaming-mpeg-dash-videos), like dash.js. If you set all of that up, it could certainly be possible to use with THREE.js or A-Frame. But, I haven't seen anyone implement this yet, and I don't think we're able to provide videos for

[2016-12-15 17:56] donmccurdy commented on #2178
@salmanfarisvp You may not have a public key attached to your GitHub account: that would prevent cloning from git@ URLs. You can fix that [with these instructions](https://help.github.com/articles/error-permission-denied-publickey/#verify-the-public-key-is-attached-to-your-account).

Alternatively, try cloning from the HTTPS version of the URL:

[code]

[2016-12-15 18:32] salmanfarisvp commented on #2178
thanks @donmccurdy , now working fine

[2016-12-15 18:32] #2178 closed

[2016-12-15 23:51] wmurphyrd opened #2180 "<a-animation> fails if y component of `to` is in scientific notation"
`AFRAME.utils.coordinates.stringify` will produces scientific notation for values near zero. If this ends up in a `y` component of the `to` for a `position` animation, the object will vanish with the console error:

The values in the error are the stringified position coordinates.

The animation works normally if this number notation appears in `x` or `z` but not `y`

- A-Frame Version: 0.3.2, 0.3

[2016-12-16 04:40] mikebolt commented on #2122
Gulp is no longer a dependency of Tween.js. It was a development-only dependency. Tween.js is a 100% standalone JavaScript file.

It should be safe to update. I just released [version 16.4](https://github.com/tweenjs/tween.js/releases) through Github, but it won't be on npm until @sole updates it.

[2016-12-16 05:32] mikebolt commented on #2180
Here's the problem:

https://github.com/aframevr/aframe/blob/master/src/core/a-animation.js#L378

https://github.com/aframevr/aframe/blob/master/src/utils/coordinates.js#L4

https://github.com/aframevr/aframe/blob/master/src/core/a-animation.js#L382

[2016-12-16 05:44] mikebolt commented on #2150
This might be the issue ([source](https://docs.google.com/document/d/1dP9m3WLh2lsBs9jJ9LRwv1l0AtuBQAqGLAV-fUbtz2U)):

This will definitely mess up tween.js.

[2016-12-16 14:37] machenmusik commented on #2177
latest master needs #2129

[2016-12-16 14:39] machenmusik commented on #2159
yes, or you can replace the default init/update handling and handle uniforms yourself.  will see if i can post an example

[2016-12-16 15:04] machenmusik commented on #2159
[code]

[2016-12-16 18:54] #2142 closed

[2016-12-16 19:55] ngokevin commented on #2159
Yeah, I'd just use the ShaderMaterial API directly.

[2016-12-16 20:00] machenmusik commented on #2159
(might be worth making updateMap more broadly reusable for these purposes, but for single texture this is simpler)

[2016-12-17 06:25] kfarr opened #2181 "When adding a-obj-model at runtime, position attribute not respected"
**Description:**
When adding a "a-obj-model" element to the DOM during runtime, the position attribute does not appear to be respected and the resulting model is placed at 0 0 0 instead of the specified position value.

- A-Frame Version: 0.4.0
- Platform/Device: PC / Vive
- Reproducible Code Snippet or Demo URL [highly encouraged]:

This is a snippet from my code (which uses jquery, not tested wi

[2016-12-18 01:20] #2092 closed

[2016-12-18 01:24] ngokevin opened #2182 "Reconsider Primitives API (mappings)"
**Description:**

As concerns raised by @dmarcos, primitives have taken a lot of maintenance time to blend with A-Frame's core API. There were questions on the value that primitives have brought for the long-term of A-Frame. But the technical issue rose around collisions between mappings and component names:

[code]

Some alternative APIs consolidate all mappings to a single component that proxies

[2016-12-18 12:00] nylki opened #2185 "aframe 0.4.0 via npm install reports wrong version"
**Description:**

- A-Frame Version: 0.4.0
- Platform/Device: Firefox 50.0.2 / Fedora 24
- The `console.log('A-Frame Version:', pkg.version);` in line 64967 of aframe reports version 0.3.2

How to reproduce:

- `npm install aframe`
-  include `<script src="./node_modules/aframe/dist/aframe.min.js"></script>` in your body or head.
- open site in browser and open the console

[2016-12-18 13:58] ngokevin commented on #2185
See https://github.com/aframevr/aframe/tree/master/dist#release-builds for build information. Include the master or v0.4.0 version instead.

[2016-12-18 13:58] #2185 closed

[2016-12-18 23:02] donmccurdy commented on #2159
Hm. ok textures are pretty pretty critical if there's going to be a registerShader API at all. I don't think this is the right line at which to ask people to switch from registerShader to using THREE.ShaderMaterial.

[2016-12-18 23:10] ngokevin commented on #2159
I think if we were to continue building the registerShader API, then yeah, texture support is mandatory. But I don't see the need for an API that tightly wraps ShaderMaterial, there's a lot of work for A-Frame to handle all of the uniform types and hiding three.js API. I'd rather registerShader just prescribe you to create a material through three.js.

[2016-12-18 23:10] ngokevin commented on #2159
There's an issue filed to reconsider the API to be less hands on and more flexible.

[2016-12-18 23:16] donmccurdy opened #2186 "Idea for relative `tick()`ordering."
Had an idea for one way of solving the issues of #1564, #1437, and #2147, potentially with a simpler API. Instead of having any sort of global dependency resolution, tick/tock, or custom update cycle for shaders...

[code]

The goal here is that component authors can still hook into the A-Frame scene lifecycle, without adding much complexity to the core library itself. Callbacks could be added by

[2016-12-18 23:18] machenmusik commented on #2159
if type 'map' worked properly out of the box, my example would have been literally just schema and shaders, which was where i thought the line was (and should be).

[2016-12-18 23:22] donmccurdy commented on #2159
Ok. Yes I like either of those directions, just not the grey area in the middle of the spectrum. 🙂

[2016-12-18 23:24] ngokevin commented on #2159
Not just maps, we'd have to support a lot more things like all the uniform types and shader material parameters like fog or lights.

[2016-12-19 00:09] donmccurdy opened #2187 "Browserify / husky causing issues with A-Frame as dependency"
My actual build involves Browserify + Karma etc., but simplified steps to reproduce the issue:

1. Install `aframe` as dep:

[code]

2. Create fake test:

[code]

3. Attempt to serve test file:

[code]

4. Error:

[code]

5. Attempt to debug

[code]

6. [husky](https://github.com/typicode/husky) installs A-Frame's precommit git hook into my parent package, and it runs on future commits. 😐

***

In

[2016-12-19 17:55] noerw opened #2190 "vive controls not tracked in chrome"
In current chromium the vive controls do not get tracked anymore using the `vive-controls` component:
They are rendered at their correct position at pageload (!), but do not move.

- There is no error in the console.
- It works in Firefox with *WebVR Plus* extension.
- The controls did work for me with aframe 0.3.2.

Did not test whether this also occurs with the `tracked-controllers` component..

[2016-12-19 18:33] dmarcos commented on #2190
@machenmusik doest it ring a bell?

[2016-12-19 19:57] machenmusik commented on #2190
a few comments...
- I thought, although I could be wrong, that chromium 53 is too old for webvr etc. ?
- I suspect that the issue may be due to this: because of the multiple controller support, each of the individual components (`oculus-touch-controls` and `vive-controls`) do not inject a default `tracked-controls` instance automatically i.e. do not have `dependencies: ['tracked-controls']` -- as

[2016-12-19 21:08] machenmusik commented on #2190
@dmarcos @noerw i was unable to reproduce this, however I note that this is precisely the behavior that occurred when the `hand-controls` models were changed this morning without https://github.com/aframevr/aframe/pull/2188 ... the missing animations caused errors, and position was apparently not being updated. I see that PR is closed, maybe we do actually want it after all...

[2016-12-19 21:11] dmarcos commented on #2190
I reverted the model from the https://github.com/aframevr/assets this is probably why the problem cannot be reproduced anymore. @noerw can you confirm that everything is working? Please reopen the issue if you can still reproduce the problem.

[2016-12-19 21:11] #2190 closed

[2016-12-20 14:06] noerw commented on #2190
I tested again, and I can still reproduce it.
@machenmusik Your proposed `tracked-controls` fixes did not work.

However, I told you some wrong facts yesterday:
- running chromium 56.0.2902 x64
- the following appears in the console twice. In Firefox directly on pageload, in Chromium once i enter VR mode:
[code]

[2016-12-20 15:34] machenmusik commented on #2190
actually i do believe the model changed.

[2016-12-20 15:38] machenmusik commented on #2190
sorry, model for hand-controls changed, i don't think vive-controls did

where is the chromium build you use coming from?  i use tojiro's from webvr.info

[2016-12-20 15:41] LarkinArt commented on #2159
I'm quite new to aFrame, looking to write a simple fragment shader that animates a texture. If I'm following this thread correctly, registerShader is likely to continue to evolve so my best bet is to use registerComponent and work directly with the threejs ShaderMaterial API?

[2016-12-20 15:56] donmccurdy commented on #2159
@LarkinArt Whether `registerShader()` will evolve or be deprecated is TBD, I think, but in either case I would work directly with THREE.ShaderMaterial within a component, yes. [Here's an example](https://github.com/donmccurdy/webvr-experiments/blob/master/1-portal/components/transient-material.js#L19-L48).

[2016-12-20 16:00] LarkinArt commented on #2159
Many thanks!

[2016-12-20 16:04] machenmusik commented on #2190
with your codepen, if I add debug to the scene
[code]

[2016-12-20 16:20] machenmusik commented on #2190
@dmarcos can you get #2194 into mainline?

@noerw can you confirm that this one works:
https://rawgit.com/chenzlabs/aframe/5feeec6f625013e3381a397ea0433efb0b4c4352/dist/aframe-master.js

[2016-12-20 18:20] machenmusik commented on #2159
I like the way that example just uses THREE values without worrying about types, maybe that passthrough type plus map (texture) should be the limit of what registerShader() is willing to do

[2016-12-20 20:11] ngokevin commented on #2083
On every commit to A-Frame (detecting changes to `src/` or `package.json`), the bot should run:

1. `git pull --rebase origin master`
2. `npm run dist`
3. Update the version in package.json to append the `-devX` (e.g., `version: "0.4.0-dev22"`)
4. `git commit -m "Update master build, 0.4.0-dev13 (https://rawgit.com/aframevr/aframe/<HASH>/dist/aframe-master.min.js)" && git push origin master`

This

[2016-12-20 21:26] ngokevin commented on #2187
I moved envify to dependencies.

I'm not sure how to fix husky

[2016-12-20 21:28] donmccurdy commented on #2187
Ok thanks, I'll give that a try. I don't think there's any need to change husky if the Browserify transform dependencies are there by default; running `npm i` inside of a dependency's folder isn't a normal situation at all, AFAIK.

[2016-12-20 21:33] ngokevin commented on #2187
OK. The envify issue probably justifies a follow up npm release of 0.4.1 or something, will try to plan that.

[2016-12-20 21:33] #2187 closed

[2016-12-21 04:42] mikebolt commented on #2136
The code looks good to me.

You may want to use window.performance.now for a more precise timestamp. We wrote [a polyfill](https://github.com/tweenjs/tween.js/blob/master/src/Tween.js#L72) for window.performance.now in tween.js.

Also, this could be useful for tween.js. I might borrow this code.

[2016-12-21 05:10] mikebolt commented on #2175
I suspect the issue is related to the errors that appear in Firefox but not in Chromium. requestAnimationFrame isn't guaranteed to be called 60 times per second. It looks like some computationally expensive code (resizing a texture) had a higher priority than requestAnimationFrame. Try delaying the code by a second or two and see if that fixes the problem.

I also strongly recommend resizing the t

[2016-12-21 05:53] mikebolt commented on #2139
Add this code:

    var mm = document.getElementById('metameta');
    console.log(mm.attributes);

The resulting NamedNodeMap only contains "namedcomponent". HTML ignores the capitalization of attributes. You can use the capitalized version and register a lower-case component, but not visa-versa.

There is no fix, but the code can and should produce a warning, and this should be documented.

[2016-12-21 07:28] alexcheninfo opened #2198 "Using embedded and vr-mode-ui="enabled: false throws cannot read property error"
**Description:**

- A-Frame Version: 0.4
- Platform/Device: Windows
- Reproducible Code Snippet or Demo URL [highly encouraged]: http://codepen.io/alexcheninfo/pen/YpgjQX

If you use `embedded` and  `vr-mode-ui="enabled: false"` simultaneously, you get:

`aframe.min.js:103Uncaught (in promise) TypeError: Cannot read property 'classList' of null(…)`

[2016-12-21 12:06] ngokevin commented on #2198
https://github.com/aframevr/aframe/pull/2193

[2016-12-21 12:06] #2198 closed

[2016-12-21 12:23] alexcheninfo commented on #2198
@ngokevin Got it. Thanks.

[2016-12-21 18:39] machenmusik commented on #2159
#2199

[2016-12-22 08:37] ngokevin commented on #2083
WIP https://github.com/ngokevin/afro

[2016-12-22 16:44] #2130 closed

[2016-12-22 17:19] mkungla commented on #379
@ngokevin I think this can be closed

[2016-12-22 18:14] dmarcos commented on #379
I believe so. I have not heard of anybody running into camera position issues with a Skybox.

[2016-12-22 18:14] #379 closed

[2016-12-22 21:03] ngokevin opened #2203 "screenshot docs need updating to reflect the two different keyboard shortcuts for perspective/equirectangular"

[2016-12-22 21:46] donmccurdy commented on #2083
+1 for reflecting unstable version in `AFRAME.version` and/or console printout.

[2016-12-23 01:30] tbalouet opened #2204 "Error in the primitive description doc"
In the docs, you declare function extendDeep and then use the function extend, which isn't declared yet, so the code wouldn't work
![image](https://cloud.githubusercontent.com/assets/5400381/21445323/d2ce0708-c8b7-11e6-9ec4-0e66d5edd415.png)

- A-Frame Version:
- Platform/Device:
- Reproducible Code Snippet or Demo URL [highly encouraged]:

[2016-12-23 07:14] machenmusik opened #2205 "Unlike normal entities, primitives do not have this.el.sceneEl"
**Description:**
Unlike normal entities, primitives do not have this.el.sceneEl

- A-Frame Version: 0.4.0
- Platform/Device: Windows Chrome browser
- Reproducible Code Snippet or Demo URL [highly encouraged]:

compare <a-plane src="..."> to <a-entity material="src:..."> in debugger; missing sceneEl causes texture load failure for example

[2016-12-23 09:53] Utopiah opened #2206 "no AFRAME.utils.device.checkHas6DoFControllers() method"
**Description:** Since there is a method AFRAME.utils.device.checkHasPositionalTracking() then the next step would be to check if 6 degrees of freedom controllers are available and if so, use them.

- A-Frame Version: any
- Platform/Device: PC

[2016-12-23 14:35] machenmusik commented on #2206
not sure whether it is currently possible to distinguish 3DOF from 6DOF in gamepad API, as I don't have Daydream?  also due to security concerns, gamepad API does not allow enumeration until controllers are used.  There may be a way to do something like this with tracked-controls utils function isControllerPresent

[2016-12-23 16:27] machenmusik opened #2207 "hand/tracked controls may freeze because sometimes invalid time is passed into the tick handler"
**Description:**
hand/tracked controls may freeze because sometimes invalid time is passed into the tick handler
in debugging, utils.throttleTick is showing that it sometimes receives nonsensical values for time and delta (negative time -86576060... , delta 9626...)
- A-Frame Version: 0.4.0
- Platform/Device: Windows Chromium
- Reproducible Code Snippet or Demo URL [highly encouraged]:
e.g. https:

[2016-12-23 16:57] machenmusik commented on #2190
see #2207

[2016-12-23 18:07] donmccurdy commented on #2206
That's a good point about the delay, @machenmusik.. I think it might confuse people to have a `checkHas6DoFControllers()` method that will always return false when the page loads. Helper method or no, people will need to understand the basics of the Gamepad API.

Maybe best option would be to post (in Stack Overflow or FAQ) an example of how to use the Gamepad API to detect this. Example:

[code]

[2016-12-23 18:39] machenmusik commented on #2206
working on a virtual gallery for my mom (shh it's a surprise) I am not trusting `gamepadconnected` to work (maybe it will at some point) and have an example using `AFRAME.utils.trackedControls.isControllerPresent(this.el.sceneEl, undefined, {})` which needed a scene reference to get at systems (and if you use `gearvr-controls`, then `|| AFRAME.utils.gearVRControls.isControllerPresent()` which does

[2016-12-25 03:49] takahirox opened #2212 "Bump to Three.js r83"
**Description:**

Please let me file "Bump to Three.js r83" because `a-mmd` component I'm working on requires r83.

https://github.com/takahirox/a-mmd

[2016-12-25 08:15] takahirox commented on #2212
It seems like we need to update sound component for r83

[2016-12-26 14:23] giordyb commented on #2008
I'm having the same issue on an iPhone 7plus with iOS 10.2

[2016-12-26 18:14] #2212 closed

[2016-12-26 18:50] machenmusik commented on #2212
Something seems wrong with this, I am getting complete failure running tests with npm run test:chrome --

[code]

[2016-12-26 22:38] hyperdo opened #2218 "Trigger re-render AFrame scene from DOM?"
Does AFrame support re-rendering from the DOM? In other words, if the DOM is modified (say with Socket.io), can AFrame be triggered to reload the scene with information taken from the DOM? Thanks very much.

[2016-12-26 23:30] dmarcos commented on #2218
I'm not sure if I understand the question. Short story: yes, changes in the DOM will affect the render of the scene. Long story: The scene is rendered at the refresh rate of the device is presented to (60fps on a normal display, 90 fps on a Vive or an Oculus Rift). Changes on component properties in the DOM will modify the underlying Three.js Object3Ds and will be picked up by the render loop.

[2016-12-26 23:31] hyperdo commented on #2218
You're right -- my mistake. I made an error in the program and that was the reason why the objects weren't showing up. Sorry for the trouble.

[2016-12-26 23:31] #2218 closed

[2016-12-27 05:25] takahirox opened #2220 "What should coordinate.parse(null) return?"
**Description:**

coordinates null parse test in `coordinates.test.js` expects return value is `null`,
but it returns `undefined`.

    test('parses null', function () {
        assert.equal(coordinates.parse(null), null);
    });

To be more specific, it returns `defaultVec` if input value is non-parsable
(neither `string` nor `object`).
In the above case, `defaultVec` isn't given then it returns

[2016-12-27 06:09] imgntn commented on #2207
I'm also experiencing this bug with my Vive on Chromium with the tracked controllers.

[2016-12-27 11:43] maissani opened #2221 "Bug(Camera): On camera zoom camera aspect has wrong values when Aframe is embeded #HighPriority"
**Description:**
I'm a développer working currently with Aframe library.
I have to handle zoom and fov with an Aframe camera.
My problem is when i use Aframe camera and when i set the zoom, the display aspect is strongly wrong.
I have see a PR this morning talking about that, this is a bug on camera, because when the developper set the camera aspect it's strongly wrong to take window.heigh and win

[2016-12-27 11:47] maissani commented on #2221
This is the PR that i highly recomend to merge: https://github.com/aframevr/aframe/pull/2216 .

[2016-12-27 14:39] dmarcos commented on #2221
Should aspect be part of the schema? Is there any case you want to have an aspect ratio other than the viewport?

[2016-12-27 21:09] ryanbetts commented on #2008
I'm pretty interested in helping with this. Would love iOS support to be fixed for all the projects I'm currently working on – nearly 50% of our customers' use cases require an iOS device + cardboard.

What can I do to help push this along? @ngokevin Is this confirmed to be a WebVR polyfill bug?

[2016-12-27 22:18] machenmusik commented on #2008
Sounds as though there are multiple popular models not accommodated;
perhaps we can accumulate affected models not present in
https://github.com/googlevr/webvr-polyfill/blob/master/src/dpdb/dpdb-cache.js
(and ideally correct values to be used as well)
?

[2016-12-27 22:32] machenmusik commented on #2008
e.g.
https://github.com/borismus/webvr-boilerplate/issues/146

https://github.com/googlevr/webvr-polyfill/issues/164
Galaxy S7 family is missing too

[2016-12-27 22:36] ryanbetts commented on #2008
Ah. I'm experiencing it on an iPhone 6. Didn't realize that it would be so device specific. I'll take a closer look. Thanks for pointing me in the right direction @machenmusik!

[2016-12-27 22:37] machenmusik commented on #2008
There appear to be two avenues to fix
(1) fork webvr-polyfill, modify cache values (or the generated js) and use them
(2) get them to update the DPDB values online and in cache

[2016-12-27 23:48] machenmusik commented on #2207
latest commit to master should have fixed this for controllers, but not for physics (that would have required #2217)

[2016-12-28 03:11] nikolas7892 opened #2222 "OBJ model won't load"
So I'm trying to simply load a obj model and a material to a basic <a-scene> ... It is a 3d model at the following dimension ( 19.2 MB (20,156,958 bytes)) ... Is it too big for the scene?

- A-Frame Version:
0.4.0

- Platform/Device:

web

- Reproducible Code Snippet or Demo URL [highly encouraged]:

<html>

<head>

<script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>

</head>
<b

[2016-12-28 14:21] seanlis opened #2223 "some parts of the image are lost when used as material"
**Description:**
When set as texture of a cylinder or sphere, some images lose a few parts of it at regular intervals.
[code]

- A-Frame Version: 0,3.2, 0.4.0
- Platform/Device: chrome Version 54.0.2840.99
- Reproducible Code Snippet or Demo URL [highly encouraged]:
http://codepen.io/anon/pen/LbKKoM?editors=1000

[2016-12-28 17:21] #2207 closed

[2016-12-29 01:19] machenmusik commented on #2205
IIRC, this was trying to use a-text primitive...

[2016-12-29 01:21] machenmusik commented on #2205
... although I may be wrong, definitely something I tried using in the holiday gallery I put together

[2016-12-29 02:16] hyperdo opened #2224 "<a-animation> doesn't animate on the Vive"
**Description:**
\<a-animation\> doesn't animate on the Vive. When an animation is triggered, the entity teleports to the end location and doesn't animate through.
- A-Frame Version: Master (bleeding edge)
- Platform/Device: HTC Vive
- Reproducible Code Snippet or Demo URL [highly encouraged]:

Suppose we have the following code:
[code]
You would expect that when we animate `#user`, the whole bit

[2016-12-29 02:22] ngokevin commented on #2224
This is a known browser issue with Chromium and passing wrong timestamps to requestAnimationFrame.

[2016-12-29 02:22] #2224 closed

[2016-12-29 02:32] machenmusik commented on #2205
looks like someone in Slack questions channel is having similar issue witj a-sky, maybe that was it...

[2016-12-29 02:43] seanlis commented on #2223
After upgrading to version 55.0.2883.87, the issue is solved.

[2016-12-29 03:31] machenmusik commented on #2158
does this still occur with latest master?

[2016-12-29 03:54] bryik commented on #2158
Nope, the master CodePen example no longer crashes. Seems this was fixed!

[2016-12-29 03:54] #2158 closed

[2016-12-29 04:58] takahirox commented on #651
@donmccurdy Yeah, I confirmed `aframe-extras.shadow` works now, thanks. But I found a bug and have a feature request so I'll send PR to it.

And it seems like shadow will get in 0.5.0, that sound p good to me :D

[2016-12-29 21:30] jsantell opened #2225 "add warning if entity is appended outside of a-scene"
**Description:**

It's not possible to add components programmatically to elements that are not yet mounted to the DOM. Discovered in ngokevin/aframe-react#52, if attempting to inject an element that contains components into the DOM, the `this.el.sceneEl` property in the component does not yet exist, causing an error in most components.

- A-Frame Version: 0.4.0
- Platform/Device: Chrome OSX
- Rep

[2016-12-29 21:33] ngokevin commented on #2225
You should be appending to the scene rather than the document.body. In the aframe-react bug, is that component mounted under the scene?

[2016-12-29 21:33] ngokevin commented on #2225
Also, yeah we should throw a warning for that

[2016-12-29 21:37] jsantell commented on #2225
Yes, in the aframe-react bug it is injected within the a-scene entity. Changing the STR to `document.querySelector('a-scene').appendChild(el)` does work in examples I just tried. Maybe it is aframe-react only, but not sure (yet) what in aframe-react could cause this

[2016-12-29 21:39] ngokevin commented on #2225
OK, repurposing the issue for the warning. Will try to investigate the react side later

[2016-12-29 21:39] jsantell commented on #2225
Thanks!

[2016-12-30 01:15] ngokevin commented on #2083
https://github.com/aframevr/aframe/commit/8ad5261ce62a0044bef648cdf1a01a86b8d979b2

https://github.com/ngokevin/a-frobot

I will update it to bump the package.json for the version + a daily update of the READMEs.

[2016-12-30 01:15] #2083 closed

[2016-12-30 02:40] donmccurdy commented on #651
@ngokevin +1 for that suggested syntax change, and having either a system or a scene-level component that configures the renderer. What do you think about aiming to include shadows in 0.5.0? Or would a registry package be best?

[2016-12-30 02:41] ngokevin commented on #651
I support shadows for core, the PR is already tagged for the 0.5.0 milestone

[2016-12-30 02:54] donmccurdy commented on #651
SG. Before I (or someone) opens a PR, here's a proposed structure:

[code]

Is this consistent with what you have in mind, @ngokevin @dmarcos @takahirox ? May be worth considering whether `shadow-light` should be a separate component or simply add some functionality into the `light` component. It [modifies the schema significantly](https://github.com/donmccurdy/aframe-extras/blob/master/src/shadow

[2016-12-30 03:05] ngokevin commented on #651
Slightly leaning towards putting the light's shadow parameters as a part of light since the shadow-light component needs a light, and the light component is very small so it doesn't hurt adding the shadow pieces.

[2016-12-30 03:15] #2223 closed

[2016-12-30 07:54] takahirox commented on #651
As for me(Three.js user/contributor and Web content creator),
adding the shadow stuffs into existing light is more natural than separating them.

[2016-12-30 13:12] ymcheung opened #2226 "Toggle the visibility of DOM with A-Frame"
**Description:**

- A-Frame Version: 0.4.0
- Platform/Device: iOS 10.2/Chrome, Safari

Hello,
I would like to hide and show some HTML blocks while toggling A-Frame's VR Mode:

[code]

It worked pretty well in Desktop browsers. However, it didn't always work in mobile devices. "Sometimes" it added .lightOff to .site-header and .featuredImage. Clicking X button in .a-orientation-modal never removed

[2016-12-30 17:28] donmccurdy commented on #2226
Just replied in stack overflow - will follow up with a full answer if that is helpful. :)

[2016-12-30 18:37] wmurphyrd opened #2227 "v.0.4.0 setAttribute(x, { object }) does not trigger update() when property type is Array"
Using the new setAttribute non-clobbering object update to replace an array property will update the schema data but will not trigger the update method.

- A-Frame Version: v.0.4.0
- Platform/Device: Chromium WebVR v.55
[code]

In this example, I expect to see 'receiver updated' logged two times (once on initialization and again on the `setAttribute` call from `update-test.send()`) and for the cub

[2016-12-30 19:35] ngokevin commented on #2226
Going to close this since this is more of a question, not an issue: http://stackoverflow.com/questions/41393812/toggle-the-visibility-of-dom-with-a-frame

[2016-12-30 19:35] #2226 closed

[2016-12-31 13:13] giordyb opened #2230 "controller stays at 0 0 0 when camera is set at another position"
**Description:**

- A-Frame Version: 4.0
- Platform/Device: Oculus Rift + Oculus Touch
 & http://www.pippistarace.it/aframe/helloworld2.html

The Oculus Touch controllers stay relative to 0 0 0 even though the camera has been set at a different position during loading of the scene.

this is a demo scene with the oculus touch enabled and the camera set to 0 0 0 http://www.pippistarace.it/aframe/hel

[2016-12-31 15:10] machenmusik commented on #2230
I didn't change any of the `tracked-controls` position logic in the recent refactor, so I expect this would have been true previously as well... but I think the issue with the second scene is that the camera is specifically offset from the controllers due to the non-shared parent entity, so I think it is working as expected... @dmarcos @fernandojsg thoughts?

[2016-12-31 15:32] giordyb commented on #2230
well the issue that I am having is that my scene is dynamically generated and the camera starts somewhere far from 0 0 0.
Is there a way to move the controllers or give them a starting location as well?

[2016-12-31 15:38] machenmusik commented on #2230
you should be able to give them a position, @fernandojsg added that before I got here IIRC

[2016-12-31 16:31] giordyb commented on #2230
you are correct, if I set a similar position as the camera then the controllers show up.
I did try it before  but I did not realize that if I set the SAME position as the camera the controllers end up a little behind and cannot be seen. Once I saw their position in the inspector I was able to correct it.

One issue that I found is that if I start with the camera rotated by a certain amount (i.e. 9

[2016-12-31 19:17] machenmusik commented on #2230
you can see how i am using teleport in my gallery example... yeah i don't think there is rotation offset support in `tracked-controls` - not sure how far we should go, feels like a better control of roomspace may be helpful rather than these one-offs

[2016-12-31 19:28] machenmusik commented on #2230
not sure if but if camera and controllers have shared parent that has rotation offset but position is done to each child individually, that may work for now including for teleport?  i think the teleport code needs to understand world to local conversion when computing position offset

[2017-01-01 02:38] mkungla commented on #2222
Can you describe your problem more precisely, are your `headers` accept loading this issue can we reproduce that? Perhaps you should post it to stackoverflow instead...

[2017-01-01 02:40] mkungla commented on #2221
cc @maissani

[2017-01-01 02:44] mkungla commented on #2205
@machenmusik can you provide reproducible code/?

[2017-01-01 02:50] mkungla commented on #2177
@ronit-kadwane #2129 is merged does that solve it for you?

[2017-01-01 02:54] mkungla commented on #2176
@Charton100774 you should ask that via stackoverflow http://stackoverflow.com/questions/ask/?tags=aframe

[2017-01-01 02:54] #2176 closed

[2017-01-01 03:04] mkungla commented on #46
What is the state of that issue

[2017-01-01 19:21] donmccurdy commented on #2222
20mb is not too large. The problem is likely something invalid in the model itself, or use of some feature that THREE.OBJLoader doesn't support yet. Usually it's the first. [Here](https://github.com/mrdoob/three.js/issues?utf8=%E2%9C%93&q=is%3Aissue%20objloader) are some examples of others' issues with the OBJ format.

To debug what's going on, you'll want to look at the JS Console and include tha

[2017-01-01 21:44] machenmusik commented on #2230
@giordyb sounds like the remaining issue you are having is really with teleport controls and not with tracked controllers anymore?  should we edit title and/or close this issue?

[2017-01-02 01:14] caseyyee commented on #2230
What browser are you using?  With Firefox Nightly, there is an issue with the Oculus Touch controllers positions being offset:  https://bugzilla.mozilla.org/show_bug.cgi?id=1324149   I suspect this is the issue you are seeing since i'm getting the same result.   Works fine with VIVE.

[2017-01-02 04:37] machenmusik commented on #2230
is the behavior from Nightly correct?  i would expect that if (direct) oculus support is enabled, openvr should not be used for oculus devices?

[2017-01-02 08:24] giordyb commented on #2230
@machenmusik yes, it looks like the issue is limited to the teleport controls, I believe we can close the issue.
@caseyyee I did all my tests with chromium for webvr.

[2017-01-02 13:54] thoragio opened #2232 "Sound component not triggered when collada model is loaded"
**Description:**

- A-Frame Version: 0.4.0
- Platform/Device: OS X 10.11.6, Chrome 55.0.2883.95
- Reproducible Code Snippet or Demo URL [highly encouraged]: https://github.com/zeekw/aFrameTests

For more background on this apparent bug, see the [SO post](https://stackoverflow.com/questions/41353368/play-sound-component-with-animation-using-a-frame).

When adding a sound component to an `a-collada-

[2017-01-02 20:07] caseyyee commented on #2230
@machenmusik Currently Oculus touch controllers in Nightly are only supported through OpenVR -- though that's going to be changing soon so that that the API works directly with Oculus instead.   If you disable openVR, you get headset support, but touch controllers won't work.

@giordyb ah interesting.  Could be something with A-Frame then.  Chromium should be fine.

[2017-01-03 09:09] imgntn commented on #2204
looks like this is fixed -- maybe there's an older version in cache?

https://github.com/aframevr/aframe/pull/2146
![capture](https://cloud.githubusercontent.com/assets/843228/21603277/c5cfa97a-d150-11e6-9a5e-30c620e2e785.JPG)

[2017-01-03 23:28] ngokevin commented on #2008
Can we do both at the same time?

[2017-01-04 04:55] wmurphyrd commented on #2227
Thanks for adding the array item comparison, but I still have the assignment by reference issue:

[code]

After calling `setAttribute`, update-test.data.arr and receiver.data.arr become the same object, so changes to update-test.data.arr appear in receiver.data.arr and the check for a difference between the two (to trigger `update()`) is always false

[2017-01-04 10:06] thoragio commented on #2008
I created a PR with some devices settings I found in various GH issue threads:
https://github.com/googlevr/webvr-polyfill/pull/183

@ngokevin shall we wait a couple of days to see if they implement this, or do you want me to create a new npm package? If the latter, what should I call it (aframe-webvr-polyfill)?

If I go the new package route, what should I do about the `ONLINE_DPDB_URL` URL?
https

[2017-01-04 10:12] ngokevin commented on #2008
Thanks! Yeah, we can give it a couple of days.

This issue is reported to also affect iPhone 6. Maybe because the VR effects (e.g., barrel) applied by the polyfill degrade the resolution?

[2017-01-04 10:48] thoragio commented on #2008
I am wondering if this issue and [2117](https://github.com/aframevr/aframe/issues/2117) are related or not. I don't know the xdpi and ydpi values for the iPhone 6 or 7+, but the Android phone above (HTC 10) is not in the DPDB cache. So it is not clear if updating the DPDB cache will solve this issue as well, or only the stereo rendering issue in 2117.

[2017-01-04 10:53] giordyb opened #2239 "scene reload() only shows a white page"
**the reload() method for a scene only shows a blank white page:**

- A-Frame Version: 4.0
- Platform / Device: tried on safari & chrome on macOS and windows
- Reproducible Code Snippet or URL:
with any scene open, just run document.querySelector('a-scene').reload(); in the developer console.

[2017-01-04 18:05] hawaiikaos commented on #916
@cvan what's the specific secret sauce for getting multiple a-scenes to work on a page? I've tried "embedded" but both of my scenes will not render (they each render if I include only one at a time). I am using v0.4.0.

[2017-01-04 18:14] dmarcos commented on #916
Multiple scenes on the same page are not still supported directly. You could embed multiple scenes within iframes. @hawaiikaos

[2017-01-04 18:57] hawaiikaos commented on #916
@dmarcos Thanks for the clarification :-)

[2017-01-04 19:23] imgntn commented on #2225
seems that the object3D error is related to trying to append the ```cursor``` component -- added the warning but will also open a pull to try to handle the cursor error.

[2017-01-04 19:46] ryanbetts commented on #2008
@ngokevin Yeah, iPhone 6 is affected. It's fine using Aframe v0.3.2 but not in 0.4.

[2017-01-04 20:55] machenmusik commented on #2230
I can't close this issue.  But... @giordyb I believe I have a fix in chenzlabs/aframe-teleport-controls

@caseyyee any way to try out the direct support in upcoming Nightly to make sure there aren't any discrepancies?

[2017-01-04 21:33] caseyyee commented on #2230
@machenmusik Oculus touch is not functional with Nightly right now because of the issues.   We'll want to wait till it's fixed before using it.

[2017-01-04 22:03] #2225 closed

[2017-01-05 00:14] ngokevin opened #2242 "Rather than calling `.extendSchema()`, have `.updateSchema()` return the new schema fragment"
**Description:**

Rather than having to know about and call `extendSchema`.

[code]

Just return the new schema fragment. This will reduce the public API by a bit:

[code]

[2017-01-05 19:03] caseyyee opened #2244 "Add in auto enter VR"
It would be nice to have the browser auto-enter VR when refreshed on changes.  This would make it so that as a developer, you won't have to re-enter VR on every change and simply have the change show up in the headset.

- A-Frame Version: 0.4
- Platform / Device: Windows, HTC VIVE

[2017-01-05 20:05] machenmusik commented on #2244
(that assumes the browser would allow it...)
there is already code in 0.4.0 that will auto-enter for Carmel;
the intent was to be able to provide empty string to auto-enter regardless of display,
but in practice I'm not sure that the parsing allows empty string to survive through to init

[2017-01-05 20:09] machenmusik commented on #2244
(at present, when auto-enter fails, the button to enter VR again later does not reappear for some reason, so there is a penalty for trying but failing)

[2017-01-05 20:15] machenmusik opened #2245 "race condition with reusing material.src"
When material.src is reused, possible race conditions may prevent the desired src from being visible.

- A-Frame Version: 0.4.0
- Platform / Device: multiple
- Reproducible Code Snippet or URL:

1. Find an image URL that takes a while to be loaded.
2. Set up a scene with an entity that loads material.src from that URL (directly via src, or indirectly via selector)
3. After material.src is set, but

[2017-01-05 20:19] machenmusik opened #2246 "reusing material.src with same selector does not work as expected"
When material.src is reused with the same selector, usage after the first may not result in texture updates.

- A-Frame Version: 0.4.0
- Platform / Device: multiple
- Reproducible Code Snippet or URL:

1. Set up a canvas with id, so it can be used as material.src via selector.
2. Set up a scene with an entity that loads material.src from that selector
3. Wait long enough to make sure the canvas is

[2017-01-05 21:09] caseyyee commented on #2244
@machenmusik chrome won't allow for it, but Firefox will.

Another alternative might be to have our own sync logic that would hot-reload the a-frame scene to make refreshing and auto-entering VR unnecessary.   Not sure if the work required to do that would be more difficult or not?

[2017-01-05 21:22] dmarcos commented on #2245
That's because of the asynchrony. If there's a pending request when `src` changes we should ignore the resullt. It should be an easy fix

[2017-01-05 21:26] machenmusik commented on #2244
so using the 0.4.0 auto-enter-vr, if you know the VR display name you want to auto-enter and can modify the display parameter for the auto-enter-vr component accordingly, that might work...

IMO not good to avoid page reload since scripts won't re-run etc.

[2017-01-05 23:17] ngokevin opened #2248 "Call scene.updateMatrixWorld() before component inits are called before the initial render"
**Description:**

Is there a better way to to update the global transform than `document.querySelector('a-scene').object3D.updateMatrixWorld()`?

[2:12]
I’m trying to get a entities global position and rotation. (edited)

mchen [2:23 PM]
isn't it supposed to auto update?

dmarcos [2:23 PM]
@caseyyee no need to touch the scene. example here: https://github.com/aframevr/aframe/blob/master/src/compon

[2017-01-06 00:27] machenmusik commented on #2246
#2247

[2017-01-06 00:31] ngokevin opened #2249 "Consider making `asset` property type do an actual XHR and return a promise"
**Description:**

[code]

[2017-01-06 02:17] ngokevin commented on #2150
Yeah, that's the issue. Fall back to the September 23rd builds for now.

[2017-01-06 02:17] #2150 closed

[2017-01-06 02:27] HAZARDU5 commented on #1473
The following code seems to work with v0.4.0 in Firefox Nightly when `auto-init-vr` component is attached to the scene. Unfortunately Chromium still requires user interaction before it can auto-trigger VR mode:

[code]
Note that I changed the component name since the original name collides with an internal component in v0.4.0. The `setTimeout` isn't exactly very elegant - is there a better way of

[2017-01-06 04:02] machenmusik commented on #1473
`auto-enter-vr` in 0.4.0 does what you want, but is configured by default to only enter if VR display is Gear VR (for Carmel browser which has no other way to enter VR)

[2017-01-06 04:06] machenmusik commented on #2150
see #2207 and #2217

[2017-01-06 14:04] thoragio commented on #2117
@ngokevin I'm trying to move this forward with the maintainers of the WebVR Polyfill repo:
https://github.com/googlevr/webvr-polyfill/issues/184

In the meantime, I took a snapshot of the 0.4.0.min release and changed the DPDB URL to mine, so you can test it out by loading A-Frame from here:
https://rawgit.com/thoragio/vr-aframe-dist/master/040/aframe-v0.4.0.min.js

Everyone else following this is

[2017-01-07 01:42] machenmusik opened #2252 "texture offset broken"
- A-Frame Version: 0.4.0
- Platform / Device: all
- Reproducible Code Snippet or URL:
create an entity with material src that is a texture, and offset.
note that texture offset is not applied.

[2017-01-07 16:24] giordyb commented on #2230
@machenmusik I tried the teleport control version that you mentioned but it doesn't work for me, even at 0 0 0.

[2017-01-07 22:47] machenmusik commented on #2230
@giordyb you should close this issue and we should move the discussion to teleport-controls projects...
were you using my version before, or @fernandojsg ?  mine changed to use hand gesture events, so if you were using @fernandojsg then you need to change some of the parameters

[2017-01-08 02:16] machenmusik commented on #2252
fixed by merge of #2253

[2017-01-08 02:16] #2252 closed

[2017-01-08 04:04] Apus21 commented on #1397
Businss address PRIVIEGED-LOKION1355
pong22077@gmail.vom

[2017-01-08 04:08] Apus21 commented on #1397
you display name is shown to buyers on your amazon listngs and on your Seller profile you van chanr didsplay name = Displayname

[2017-01-08 04:55] karanganesan opened #2256 "Is it possible to display dynamic data in A-Frame text component"
A-Frame Text component Dynamic Data needed help

If so examples and demos any pls ...

[2017-01-08 04:59] ngokevin commented on #2256
Please head to http://stackoverflow.com/questions/ask/?tags=aframe to ask a question

[2017-01-08 04:59] #2256 closed

[2017-01-08 10:07] giordyb commented on #2230
@machenmusik agreed, I will close the issue.

[2017-01-08 10:07] #2230 closed

[2017-01-08 21:53] sebi-b opened #2257 "evt.detail.intersection.point just shows the mousentered position"
Hey,

If I click on an intersected component, which fires a click event, the intersection point never shows the clicked point but just the position, where the cursor entered the component.

Any help?

my javascript:
[code]

my entity:

[code]

[2017-01-09 02:24] ngokevin opened #2258 "Try to make core components use only window globals rather than requires"
**Description:**

Core component source code currently use `require`s. If someone wants to copy/paste/fork a component to modify it to their needs, they'd have to change the `require`s to point to like `window.AFRAME` for utils.

If we make our components use the `AFRAME` global instead of `require`s, we ensure that our components aren't using any internal hidden API, and that they have same privi

[2017-01-09 03:33] donmccurdy commented on #2258
My vote would be to avoid this, and not determine project structure for the convenience of devs who are new to package managers. It also makes it impossible to preserve private APIs within A-Frame core. Some alternatives:

1. Document (on SO or official docs) "How to customize a component".
2. Write an `angle` utility to create a component by forking an official one.

But I recognize that neither

[2017-01-09 03:43] caseyyee opened #2259 "Cursor example in docs is not useable"
In the example provided in the cursor docs (https://aframe.io/docs/0.4.0/components/cursor.html) does not make a useable cursor:

[code]
![image](https://cloud.githubusercontent.com/assets/1560884/21756763/56dff48c-d5da-11e6-9de8-020e6fcf4d29.png)

The default primitive is too large for a useable cursor.

[code]

Would provide a more useable result:

![image](https://cloud.githubusercontent.com/as

[2017-01-09 03:43] machenmusik commented on #2258
Can someone explain why private APIs within A-Frame core are needed, preferably with examples?

Right, I think part of the idea here is to make utils and helpers exposed non-private, so that nontrivial new component functionality can be developed without having to be in core in order to depend upon private APIs.

[2017-01-09 03:46] machenmusik commented on #2258
To use a potentially flawed Windows analogy... do we see A-Frame core as Win32 API on which a variety of functionality and components can be developed?  Or as MFC where a framework and components are provided, and more can be created by following the paradigm?

[2017-01-09 03:48] ngokevin commented on #2258
This would only be for components, which I don't think should have access to private APIs. Using the global would be a way to enforce that, and sort of create separation/less coupling between the components and the core API.

Yeah, sorry the controls refactor got backlogged. It could be promoted to `aframevr/` org to get it along the way.

[2017-01-09 03:49] caseyyee commented on #2259
A possible solution would be to update the cursor component to include a default or configurable style for the reticule ie:

`cursor="fuse: true; fuseTimeout: 500; style: ring"`

Otherwise #2260 updates the docs so that the geometry would be appropriately sized.

[2017-01-09 03:51] machenmusik commented on #2258
@ngokevin so sounds like aframe non-component is like win32 API (private APIs may be required) and aframe components are like MFC atop public win32 API.  if so, gets my vote at present

[2017-01-09 04:02] donmccurdy commented on #2258
I don't follow the analogy, but in many projects it is necessary to have private helper methods that are used internally, but not exposed externally. Exposing a public API implies an agreement with developers: that method will not be changed in a backward-incompatible way without appropriate [SemVer](http://semver.org/) version increase, and the more public API surface you have, the harder your pu

[2017-01-09 05:01] dmarcos commented on #2258
If we remove all requires from the core components if forces us moving forward to make public any API, utility library or helper function used by more than one component. More API surface, more liability, harder to provide backwards compatibility, slower to change and innovate if we want... It's something we know pretty well at Mozilla with all the internal APIs that add-ons have been able to rely

[2017-01-09 05:03] donmccurdy commented on #2258
Aside: @ngokevin No problem on the PR, I'm not even convinced it should be in core at this point. Separate repo is worth discussing later though.

[2017-01-09 05:10] ngokevin commented on #2259
Thanks. Merged.

`<a-cursor>` provides suitable default shape, just that doc was off.

[2017-01-09 05:10] #2259 closed

[2017-01-09 16:19] giordyb commented on #2117
@thoragio looks the same way as the official release on iPhone 7+

[2017-01-09 16:35] donmccurdy opened #2261 "Consider putting gltf-model into core?"
Discussing how best to maintain `gltf-model` with @xirvr; perhaps either (1) merge it into aframe-extras.loaders, or (2) merge it into core.

Advantages of having `gltf-model` in core:

- glTF is (IMO) the most promising asset format for the web. If we want to see that gain traction, I think we need to be willing to treat it as a default early on (even if the popularity isn't there yet).

Disadvan

[2017-01-09 18:50] darkwing opened #2262 ""Merge Geometry Test" Console Warnings"
I'm seeing seemingly hundreds of "components:geometry:warn Geometry merge is only available for `THREE.Geometry` types. Check that both of the merging geometry and the target geometry have `buffer` set to false" errors within this demo, so two things:

1.  We should fix the demo's root issue, obviously
2.  We should consider implementing something like three.js whereby we cut off `console` stateme

[2017-01-09 20:40] thoragio commented on #2117
@giordyb can you go to the link below and copy/paste the output from it on your 7+?
http://btco-code.appspot.com/debug/screen_test.html

[2017-01-09 21:17] machenmusik commented on #2136
(@ngokevin this is done right?)

[2017-01-09 23:00] giordyb commented on #2117
Here you go:

UA: Mozilla/5.0 (iPhone; CPU iPhone OS 10_2 like Mac OS X) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0 Mobile/14C92 Safari/602.1
computed resolution: 2208 x 1242
screen.width: 414
screen.height: 736
screen.availWidth: 414
screen.availHeight: 736
window.devicePixelRatio: 3

[2017-01-09 23:28] ngokevin commented on #2261
Yeah, I'd agree with adding `gltf-model` to core. If we need to pull in a way of animating models, we can do that too.

[2017-01-09 23:35] xirvr commented on #2261
Nice.  I have pretty limited time this next few months, but do think this is super important for 3D web for all the reasons Don mentioned and we all already know :)

@ngokevin how do you suggest we do this?  There's very little in the component itself that's glTF specific, most of what's in the component I made is build tools and demo -- I would assume it's as easy as copy pasting the Collada comp

[2017-01-09 23:36] dmarcos commented on #2261
How is the adoption of `gltf` so far? What's the status of exporters from popular tools: Blender, Cinema 4D, 3D Studio, Maya... What's the status of the three.js loader? I know that when we tried to use it for our demos everything looked pretty immature @feiss What do you think?

[2017-01-09 23:39] ngokevin commented on #2261
The common argument is that we help drive the adoption.

[2017-01-10 00:10] donmccurdy commented on #2261
I'm fairly confident about THREE.GLTFLoader. It was fully re-written over the last 6 months, the code is relatively clean, and both @takahirox and I have been contributing to its maintenance. It's fairly close to supporting all of the official glTF sample models — perhaps by THREE.js r84 or r85.

There are some converters, I'm not sure how well they work. There's not much available for exporters.

[2017-01-10 01:00] xirvr commented on #2261
The command line Collada to glTF converter works quite well, but it's fairly tricky to set up.  There is an online converter that works for testing, but doesn't build to multiple files so binary data (even when not in binary mode) is baked in, making it giant / slow to parse.

Autodesk has an FBX to glTF converter, to my understanding coming out quite soon, which I expect to be pretty strong.  Aut

[2017-01-10 01:15] xirvr commented on #2261
Also, figured I'd point out that with Unity, you can make things like this:

[https://vimeo.com/181420338](https://vimeo.com/181420338)
[https://vimeo.com/192071365](https://vimeo.com/192071365)
[https://www.youtube.com/watch?v=tVHH3-bP-fE](https://www.youtube.com/watch?v=tVHH3-bP-fE)

It might be that a run-time focused library (i.e. ThreeJS + AFrame, Babylon, regl) won't catch up to what a compi

[2017-01-10 13:44] noerw commented on #2190
yeah, the version you linked works, as well as current master, thanks!
sorry for the late reply

[2017-01-10 15:17] machenmusik opened #2265 "consider player entity? handling roomscale, camera, controllers, teleport..."
donmccurdy [3:54 PM]
Ok, so, if you're on roomscale devices definitely avoid `kinematic-body`
if not, I think i would do something like this: https://github.com/donmccurdy/aframe-extras/blob/master/examples/walls/index.html
rather than putting height on the camera (edited)

[3:55]
since physics needs to know about that height

giordy [3:55 PM]
i’m using it for mobile

[3:56]
for roomscale i’m usin

[2017-01-10 18:25] machenmusik commented on #2265
somewhat related:
```Updated A-Frame Arcade http://chenz.org/aframe-arcade/ to use physics for handling movement and collisions... nontrivial to make teleport, roomscale w/controllers, and traditional arrow keys / mouse drag/ scroll all work.  if folks get a chance to try it and let me know if there are things that don't work well, I'd love the feedback (DM me)```
that uses a fork of @fernandojsg

[2017-01-10 19:22] donmccurdy commented on #2265
There's a lot here, so a couple starting points:

1. Let's exclude `kinematic-body` from discussion. It will never support roomscale VR, and that's primarily what we're talking about with tracked controllers.
2. In the `leap-hand` component I took this approach:

[code]

OTOH, `tracked-controls` assumes the controller is attached directly to the scene. I'm not sure how `teleport-controls` is able

[2017-01-10 19:31] machenmusik commented on #2265
chenz.org/aframe-arcade does (C) actually, although the `teleport-controls` string looks a little different to specify the player entity that should be moved (IMO that is actually better than having a hidden need for `tracked-controls` and moving anything it finds with that component, active or not).

[2017-01-10 19:32] machenmusik commented on #2265
(A) breaks tracked controllers badly at the moment.
(B) gets very ugly w.r.t. locomotion IMO especially if rotation is included

[2017-01-10 19:34] machenmusik commented on #2265
http://chenz.org/aframe-arcade/ is now using `aframe-physics-system` and `dynamic-body` / `static-body` for movement and collisions as of this morning.

[2017-01-10 20:17] mitchallen opened #2266 "a-scene stats are too dark to read"
**Description:**

Create an a-scene with stats (<a-scene stats ...). The text is black on dark gray. This is very difficult to read, especially on mobile devices where the font is smaller.

<img width="322" alt="screen shot 2017-01-10 at 1 10 47 pm" src="https://cloud.githubusercontent.com/assets/122875/21823120/13e86ab6-d737-11e6-810e-9c9eb7d01b0a.png">

- A-Frame Version: 0.4.0
- Platform / Devi

[2017-01-10 20:40] machenmusik commented on #2266
you can also try
https://github.com/chenzlabs/stats-in-vr

[2017-01-11 12:38] fernandojsg commented on #2265
FWIW I was doing some modifications in my latest test with hand controls and teleportation, and I've found the best way to go is to use the same camera rig that is typically used in engines like unity, the C described by @donmccurdy :
[code]

So you could move the camerarig instead of manually update the position of the camera and the controllers as I'm doing right now with the teleport-controls (

[2017-01-11 12:44] thoragio commented on #2117
@giordyb thanks. There is an entry for these screen dimension already in the DPDB cache:
`{"type":"ios","rules":[{"res":[1242,2208]}],"dpi":[453.6,458.4],"bw":4,"ac":1000}`

So it seems that the blur issue in [2008](https://github.com/aframevr/aframe/issues/2008) is separate from the stereo-effect issue in this thread.

[2017-01-11 13:05] thoragio commented on #2008
@ngokevin @ryanbetts See my recent post in issue [2117](https://github.com/aframevr/aframe/issues/2117#issuecomment-271859295). It seems that issue and this one are not related.

v0.3.2 was using v0.9.15 of the webvr-polyfill, while 0.4.0 is using 0.9.23 or higher. I checked the repo and quite a few changes were made since 0.9.15. Unfortunately my knowledge of the WebVR internals is not good enoug

[2017-01-11 13:37] ngokevin opened #2268 "[docs] getting started guide should add disclaimer about codepen that it won't work in VR"
Until they add the `allowvr` attribute to the iframes

[2017-01-11 20:19] giordyb commented on #2008
I can confirm that on iOS 10.2 with iPhone 7+ reverting back to aframe 0.3.2 fixes the issue.

[2017-01-12 00:38] #2203 closed

[2017-01-12 01:15] #2246 closed

[2017-01-12 01:15] #2245 closed

[2017-01-12 02:13] maissani commented on #2221
Sorry for the long time with no responses.
Aspect should be on schema as long as you store it with data.aspect:
- The first reason is because everyone can set aspect by using aspect attribute because you made it accessible, it will just trigger a warn. My opinion is that when you made it accessible, you should made it public, if you dont want to made it accessible you should do not use public vari

[2017-01-12 05:11] dmarcos commented on #2221
If the camera aspect ratio won't be different than the viewport (in the embedded case we still use the viewport size) we should then remove `aspectRatio` from the schema and change it internally on the component whenever the viewport size changes. I don't think we should rely on the aspect ratio to create any effects. It will be pretty jarring on VR mode

[2017-01-12 05:36] HeyDonny opened #2273 "Initiating A-Frame scrolls document to top"
When `<a-scene>` is created, it scrolls the document to the top of the page. Note that the `embedded` attribute is also set.

- A-Frame Version: 0.4.0
- Platform / Device: Chrome / Firefox
- Reproducible Code Snippet or URL:

The below will create the scene after a 5 second interval. If scrolled to the bottom, the page will jump back to the top on initiation.

[code]

[2017-01-12 08:44] machenmusik commented on #2265
@fernandojsg right, that is what i am doing as well, with some mods to your teleport controls... (1) allow other objects to block the teleport arcs (2) move player entity if specified (3) move physics body not object3d if present... chenzlabs/aframe-teleport-controls

found a physics combination that works ok with teleport for chenz.org/aframe-arcade (player as dynamic body) although i would rathe

[2017-01-12 10:56] ngokevin commented on #2273
You're adding an element at runtime which will cause a reflow of the page. I don't think there's anything to be done on the A-Frame side. `<a-scene>` has some CSS rules that come with it, you can override as you need or add styles to your page to prevent it.

[2017-01-12 10:56] #2273 closed

[2017-01-12 11:08] yjkimjunior commented on #2268
I can add the following disclaimer:

To get started playing now, open this CodePen example scene.

**Note:** You need to add the **allow-vr** attribute to a-frames to use the Codepen example with WebVR or on your VR device.

[2017-01-12 11:13] yjkimjunior commented on #2268
I can add the following disclaimer in the Getting Started Guide under Play With CodePen:

CodePen is a playground for front-end web development. We can edit HTML and JavaScript directly in the browser with its text editor, see changes live, and share code snippets. This is a fast way to dive in without having to download or install anything. Check out the official MozVR CodePens and the A-Frame He

[2017-01-12 11:15] ngokevin commented on #2268
It's actually CodePen that needs to add that attribute. We just need to say VR mode won't work right now until they add it to their I-Frames.

[2017-01-12 11:21] yjkimjunior commented on #2268
Oh I see,

**Disclaimer:** VR mode won't work right now until the`allow-vr` attribute is added to CodePen's I-Frames.

How's that?

[2017-01-12 11:24] ngokevin commented on #2268
That's great. Some tweaks:

**Note:** VR mode currently won't work until the `allowvr` attribute is added to CodePen's I-Frames.

[2017-01-12 11:33] ngokevin opened #2274 "[docs] Write guide for "Adding Interactions in VR""
**Description:**

We need a guide focused around adding interactions, primarily with tracked controllers in Vive and Touch. This guide will make heavy use of community components including: [aframe-physics-system](https://github.com/donmccurdy/aframe-physics-system) by @donmccurdy and [aframe-super-hands-component](https://github.com/wmurphyrd/aframe-super-hands-component) by @wmurphyrd

Possible

[2017-01-12 12:26] #2268 closed

[2017-01-12 15:18] HFrifelt opened #2277 "Android Black screen in VR mode"
When clicking the "Enter VR" icon (the goggle icon), to enter in VR mode, the screen periodically turns black. The issue seems to occur at random times.

We have tried using both A-Frame version 0.3.0 and 0.3.2., but with no difference in behavior.

Whether it fails (renders black or is successful) I recieve the following errors:

aframe.min.js:281 Uncaught TypeError: Cannot read property 'length'

[2017-01-12 15:19] HFrifelt commented on #2277
Inside:
<a-scene vr-mode-ui="" fog="type: exponential; color: #AAA; density: 0.00009;">

</a-scene>

Text editor won't make it appear for some reason.

[2017-01-12 15:20] dmarcos commented on #2277
Have you tried a-frame 0.4.0?

[2017-01-12 15:22] HFrifelt commented on #2277
For information: it's inside an a-scene, editor just wont allow it for some reason.

@dmarcos: Yes, I've also tried updating to 0.4.0, same problem.

[2017-01-12 15:23] dmarcos commented on #2277
Do the examples on aframe.io work for you?

[2017-01-12 15:29] HFrifelt commented on #2277
I just tried to run the showcase HelloWorld on the phone, works perfectly.

[2017-01-12 15:37] dmarcos commented on #2277
Then there's something wrong with your setup. You have to share your whole document and not only the `a-scene`

[2017-01-12 15:55] HFrifelt commented on #2277
It's built with Ionic / Angular.js, the scene can run independently, at least the VR mode can. Clicking VR-Mode works 50% of the times, and it's possible to use the Android back button and spam untill it is successful.

The scene I provided is a lobby scene which is a view for itself, I can provide the controller and service it uses, but as far as I can tell, it doesn't actually have anything to d

[2017-01-12 16:55] nick-ye opened #2278 "Why is the 0.4.0 version's resolution so bad in VR mode?"
Why is the 0.4.0 version's resolution so bad in VR mode?
I did not change any rendering parameters!
**version 0.3.2 is good!**
Running on iOS 9.2.1 Cordova 4.3.1

 screenshot:
![img_3661](https://cloud.githubusercontent.com/assets/25084319/21899269/9f5a8f08-d92a-11e6-85bb-dea232510a8b.PNG)
![img_3662](https://cloud.githubusercontent.com/assets/25084319/21899270/a05ae330-d92a-11e6-865f-5d608264d7e2

[2017-01-12 17:10] dmarcos commented on #2277
I don't know much a bout Ionic/Angular.js but it seems this is not an aframe bug (since the aframe examples work for you) but something with your integration. I recommend asking the question on stackoverflow  http://stackoverflow.com/tags/aframe/ or use the a-frame slack (some people use angular.js there) https://aframe.io/community/#slack

I close this but please reopen if this ends up being an a

[2017-01-12 17:10] #2277 closed

[2017-01-12 17:13] dmarcos commented on #2278
I think this is a dup https://github.com/aframevr/aframe/issues/2008#issuecomment-257905203

[2017-01-12 17:13] #2278 closed

[2017-01-12 23:36] ngokevin opened #2279 "Consider allowing catching invalid values from property types, and then don't run lifecycle handlers"
**Description:**

If an error is thrown from a property type, don't run lifecycle handler method?

[code]

[2017-01-12 23:37] #2258 closed

[2017-01-13 02:16] ngokevin opened #2280 "`this.el.setAttribute('mixin' , '');` should clear mixins. Currently tries to do queryselector on empty string"
**Description:**

I want to clear out the mixins component on an entity

[6:08]
this.el.setAttribute('mixin' , '');

[6:08]
is throwing an error "'querySelector' on 'Element': 'a-mixin#' is not a valid selector."

[6:09]
any ideas?

[2017-01-13 02:18] ngokevin commented on #2280
`removeAttribute('mixin')` doesn't also work.

We should also allow `.removeAttribute('mixin', mixinName)`

[2017-01-13 02:22] ngokevin opened #2281 "[docs] Write guide for "Building User Interfaces in VR""
**Description:**

For A-Frame, this is uncharted territory for a lot of us. But let's get a start on it, and build from there.
People with experience include:

- @feiss - [A-Painter Interface](https://github.com/aframevr/a-painter)
- @kfarr - [City Builder Interface](https://github.com/kfarr/aframe-city-builder/)
- @mflux - [dat.GUI VR](https://github.com/dataarts/dat.guiVR)

Throwing up a layout

[2017-01-13 03:09] mflux commented on #2281
Is this about building an interface-builder in VR? Or assembling an interface in HTML, then have it show up as a VR interface?

This is definitely hard because there are no user guidelines and best practices for what a user interface should be like in VR. A lot of UI is trending towards laser-pointer based because we're so used to 2d surfaces and mouse.

Is the focus on data-display? Or about butt

[2017-01-13 03:19] ngokevin commented on #2281
I'm thinking more 2D interfaces that can be interacted with controllers. True, there's no one way to do VR interfaces, but it's better to have a guide showing a few implementations than nothing at all. That way, at least the community can build off of it.

For levels, knobs, dials, buttons, I have an issue for "Adding Interactions in VR" guide https://github.com/aframevr/aframe/issues/2274

[2017-01-13 05:54] machenmusik commented on #2281
It was very difficult to find one set of movement/interaction code to accommodate mobile, typical desktop/laptop web, phone VR, PC VR, and roomscale, controllers / gamepad / remote.  Even just the VR subset of that was challenging.

[2017-01-13 05:55] mflux commented on #2281
Boris' Ray-Input will help tremendously https://github.com/borismus/ray-input as it adapts to Daydream, Cardboard, Vive/Oculus, as well as mouse input types.

[2017-01-13 05:57] machenmusik commented on #2281
... touchscreen for non-VR mobile?  touchpad on laptops as well as mouse?  what if you want movement not just gaze selection?

[2017-01-13 06:02] machenmusik commented on #2281
feels almost like a topic with blog posts from various folks on what worked well and didn't -- here, with an eye on implementing with A-Frame...

[2017-01-13 06:03] ngokevin commented on #2281
The guide will be targeted towards VR where you have positional tracking and 6DoF controllers.

[2017-01-13 06:16] machenmusik commented on #2281
ok great that makes it much more straightforward, although perhaps less widely applicable (thinking of Daydream 3DOF, if not GearVR)

[2017-01-13 06:18] ngokevin commented on #2281
Yeah. The future of VR's lowest common denominator at some point will be positional tracking + 6DOF controllers, so that's what we're aiming for.

[2017-01-13 12:07] feiss commented on #2281
With all my respect (and at least regarding A-Painter), I wouldn't call our projects as examples of 'best practices', but 'first practices'.. We had a problem or goal, and we solved it in the best way we could using the time we had. But that does not mean that was the **best** way of doing it, or that other UIs should be done that way..

I'm talking about the technical implementation of a certain

[2017-01-13 12:25] ngokevin commented on #2281
Yup, pretty much wanted a "first practices" guide on some existing implementations to get a start, not a Bible. We can speed up experimentation if we provide a foundation rather than leaving it at "no one knows".

[2017-01-13 14:02] Utopiah commented on #2281
I confirm this is a recurrent need for newcomers.

[2017-01-13 15:03] mn-martin commented on #1940
This is still broken in v0.4.0 and on the master branch. In v0.2.0 it was working perfectly.

[2017-01-13 18:31] kfarr commented on #2281
Hey all, great conversation sorry for being late to jump in. I like the
idea of breaking this up into a series of blog posts about "VR UI First
Practices" that includes both the UI challenge scenario and then the
code-based solution with a link to a repo or component at the end. I'm
happy to take one on with regards to city builder. My topic could be
something like - "creating interface for previe

[2017-01-13 23:08] ngokevin commented on #2281
That'd be great! Yeah, if anyone wants to volunteer a case study, that'd be useful for people. Else at some point, someone or me can read through some of the implementations and regurgitate it.

[2017-01-14 20:53] donmccurdy commented on #2261
@ngokevin @dmarcos thoughts y/n? glad to put together a PR if we want to see how much is involved, should be comparable to other formats though.

[2017-01-14 20:56] donmccurdy opened #2285 "Consider adding rotation to tracked-controls demo"
The `grab` component currently only handles position. Rotation would be a nice addition here, and solves some common use cases without requiring users to drop in CannonJS.

Another, somewhat related, idea would be a `snapped-grab` component that does the same thing but snaps object position to some interval and rotation to 45º or 90º after the object is released.

[2017-01-14 21:29] ngokevin commented on #2285
Maybe we could just use the super-hands component

[2017-01-14 22:46] dmarcos commented on #2261
Yes, please go ahead.

[2017-01-15 01:27] donmccurdy commented on #2285
That'd work too. I think the 'stretch' and 'drag-and-drop' functions are a bit less universal but otherwise it looks good.

[2017-01-15 02:42] dmarcos commented on #2285
Adding rotation means also switching from aabb collider to something else. The demo is not the ultimate tutorial of VR object manipulation. I wanted to keep the complexity to a minimum while still being compelling so it can be used as a base for more advanced stuff. I would not use third party components for the core examples.

[2017-01-15 02:48] machenmusik commented on #2285
maybe related links to registry demos then

[2017-01-15 02:57] donmccurdy commented on #2285
@dmarcos Just switching to `sphere-collider` would do the trick, right? Aside from the nuisance of figuring out relative rotations for nested objects..

**Goal for filing this issue** — it'd be great if there were minimal-as-possible component(s) for positioning and rotating objects with tracked controllers. If that can be done simply enough, we should include it in core. I don't think `super-hand

[2017-01-16 09:31] thoragio commented on #2204
This issue should be closed. `extendDeep()` is shown correctly in the example (like in the screenshot above from @imgntn).

[2017-01-16 09:58] thoragio commented on #2008
@ngokevin wrote on 4 Jan:

Well, they merged my [PR](https://github.com/googlevr/webvr-polyfill/pull/183), but it has not been released into a new distribution (remaining at 0.9.25 in NPM). Also, still no reply from the WebVR guys to my offer maintain the DPDB list: https://github.com/googlevr/webvr-polyfill/issues/184

Does it make sense to take the drastic step to fork the WebVR polyfill repo an

[2017-01-16 13:01] evvvritt opened #2286 "`look-controls` as cloned component breaks with `reverse-mouse-drag` — 0.4.0"
Hi, I wanted to have a limited view in my app so I cloned the `look-controls` component according to this [SO answer](https://stackoverflow.com/questions/41038973/how-can-i-constrain-rotation-of-an-a-camera-aframe/41150640#41150640) by @ngokevin. But it breaks if `reverse-mouse-drag="true"`

0.4.0
Web / Desktop
[jsfiddle](https://jsfiddle.net/cuebtvLm/3/)

Any thoughts?

[2017-01-16 16:33] donmccurdy opened #2287 "Consider exposing panner options on `sound` component."
Documentation for [THREE.PositionalAudio](https://threejs.org/docs/index.html?q=positional#Reference/Audio/PositionalAudio).

Specifically, these options might be useful:

| property | default | description |
|---------|-------|----------|
| distanceModel | ~linear~ inverse | `linear`, `inverse`, `exponential` |
| refDistance | 1 | Reference distance for reducing volume as the audio source moves f

[2017-01-16 21:40] andymartinwork commented on #1940
0.4.0 has a nicer message: `Uncaught (in promise) Error: Failed to enter VR mode (requestPresent): No VR hardware found.`

[2017-01-16 22:05] andymartinwork commented on #1940
It didn't work because the calls to go into fullscreen failed, and then orientation lock. You can't control these things with javascript because they are app settings.
Both of them are in the correct settings of course. The fix here is to disable the fullscreen and orientation checks when in a webview. The same will apply to iOS.

[2017-01-17 18:44] 7dir opened #2290 "octahedron instead isoacahedron two times"
[https://aframe.io/docs/0.4.0/primitives/a-isocahedron.html](https://aframe.io/docs/0.4.0/primitives/a-isocahedron.html)

Menu:
octahedron instead isoacahedron two times

[code]

[2017-01-17 19:22] 7dir commented on #493
[https://threejs.org/docs/#Examples/Loaders/SVGLoader](https://threejs.org/docs/#Examples/Loaders/SVGLoader)

[2017-01-18 05:59] gbrian commented on #1899
In my case got strange behavior using jQuery

`mouseenter` `mouseleave` have to be added using `addEventLister` ...weird!
but `stateadded`and `stateremoved` are working fine.

I tested v2 and v3 of (google hosted) jQuery

[code]

[2017-01-18 06:41] 7dir commented on #493
### Welcome aframe-svgpath-component

[aframe-svgpath-component](https://github.com/7dir/aframe-svgpath-component)

[demo](http://7dir.ru/aframe-svgpath-component/)

[2017-01-18 06:43] ngokevin commented on #493
Awesome thanks, will look to get it for the Registry! I've also done this before, but haven't released.

[2017-01-18 06:43] #493 closed

[2017-01-18 09:57] AndresCuervo opened #2295 "Broken .wav link in guide"
In the [**Adding Audio**](https://github.com/aframevr/aframe/blob/master/docs/guides/index.md#adding-audio) section of the official docs, the following source file link seems to be dead:

https://cdn.aframe.io/basis-guide/backgroundnoise.wav

If this isn't the correct repo for this issue, let me know where it should migrate to!

[2017-01-18 18:10] ufon commented on #2152
up

[2017-01-18 19:14] 7dir commented on #493
@ngokevin maybe later

thanks to a-frame )

[2017-01-18 20:37] ngokevin opened #2296 "Double-deeply nested dependency not set on DOM (hand-controls -> vive-controls -> tracked-controls)"
**Description:**

1. Go to an example with `hand-controls`.
2. Do `document.querySelector('[tracked-controls]')` in console.
3. Says `null`, but should return entities with `hand-controls`.

Dependency synchronization with DOM works for the first dependency, but not further dependencies.

- A-Frame Version: 0.4.0
- Platform / Device: Desktop
- Reproducible Code Snippet or URL: https://ngokevin.git

[2017-01-18 20:49] dmarcos commented on #2296
`tracked-controls` is not a dependency of `vive-controls`. It is set only if there's a vive connected:
https://github.com/aframevr/aframe/blob/master/src/components/vive-controls.js#L138

[2017-01-18 20:50] dmarcos commented on #2296
If the vive controllers are present you should get something from `document.querySelector('[tracked-controls]')`

[2017-01-18 21:03] ngokevin commented on #2296
OK, thanks.

[2017-01-18 21:03] #2296 closed

[2017-01-18 21:05] machenmusik commented on #2296
(same with `oculus-touch-controls`)

[2017-01-18 21:38] 7dir commented on #493
` look to get it for the Registry` size (KB) seems too big now
IMHO

[2017-01-18 21:40] 7dir commented on #493
I finished  load from SVG files
will publishing it later

[2017-01-18 21:48] ngokevin commented on #493
You're including A-Frame in your bundle. I recommend using `angle` for a component template.

```npm install -g angle && angle initcomponent```

[2017-01-19 00:38] mkeblx commented on #2262
And, the geometries aren't getting merged, possibly because of a wrong property check (in merging demo the both have buffer=false).

[2017-01-19 17:35] imgntn commented on #2274
@ngokevin i'm interested in helping out on this.  is there a reference/example guide to base it off of?  thanks!

[2017-01-19 21:51] rapoulson commented on #2281
Are we definitely looking for all original content here or would a page with curated links with a blurb about what they're good for also be helpful?

[2017-01-19 22:07] ngokevin commented on #2281
I think both. Some original content with describing a couple implementations that we have so far, with links out for further reading. As we evolve our knowledge and prototype more in VR UI, we add and update content.

[2017-01-19 22:21] ngokevin commented on #2286
Try: `<a-entity camera cloned-look-controls="reverseMouseDrag: true">` rather than `<a-camera>` which has `look-controls` attached.

[2017-01-19 22:21] #2286 closed

[2017-01-20 02:42] Silver-Seagull commented on #1473
Is there any way for `auto-enter-vr` to have the GearVR be over-ridden? We are trying to jump through multiple small scenes, but we have to enter VR manually each time, which is inconvenient on Cardboard!

None of the "old" methods of calling a script of setting a `setTimeout` or 'loaded` work on 0.4.0, so this is extra-frustrating.

[2017-01-20 02:49] cvan commented on #1473
@Silver-Seagull yep, there is - I'm working on it right now. out of curiosity, are you working with only Cardboard? or are you using Chromium/Firefox w/ Vive/Rift? I'm just curious which platforms A-Frame devs are using.

[2017-01-20 02:51] wildaces215 commented on #2287
I am interested in the writing for the documentation for it.

[2017-01-20 03:11] Silver-Seagull commented on #1473
@cvan Do you have an ETA, or a hint? I'm sorta stuck and it's driving me bonkers.

Our main platform will be cardboard and cardboard-like devices. Vive and Rift aren't really on the map for now :)

[2017-01-20 04:30] cvan commented on #1473
@Silver-Seagull there are a couple bugs in that code. I'm fixing them right now. but if you're trying to do it right now, just set "<a-scene auto-enter-vr="display: all">`; that's a temporary workaround though.

[2017-01-20 05:11] dmarcos commented on #1473
Just for the record. `auto-enter-vr` will go away in next version in favor of the `link` component and system

[2017-01-20 05:16] machenmusik commented on #1473
sorry about the bugs :-/

[2017-01-20 05:43] machenmusik commented on #1473
@cvan not sure `display: all` works correctly at the moment, https://github.com/aframevr/aframe/blob/master/src/components/scene/auto-enter-vr.js#L50 ...
the original intent was to leave blank for all, but unfortunately the parsing just fills in the default... which is unfortunately still GearVR.  if you've got fixes forthcoming, they haven't appeared in master yet

[2017-01-20 05:51] machenmusik commented on #1473
we will presumably still want the `vrdisplayactivate` and `vrdisplaydeactivate` enter/exit behaviors (assuming that browsers fire the events)

[2017-01-20 05:54] machenmusik commented on #1473
@Silver-Seagull try:
https://rawgit.com/chenzlabs/aframe/fix-auto-enter-vr-dist/dist/aframe-master.js
https://rawgit.com/chenzlabs/aframe/fix-auto-enter-vr-dist/dist/aframe-master.min.js
with
`<a-scene auto-enter-vr="display:all">`

[2017-01-20 06:13] kfarr opened #2299 "vive-controls component raising console errors for rotation and material of undefined"
**Description:**
Upon scene init, vive-controls component raises `Uncaught TypeError: Cannot read property 'rotation' of undefined`. Upon button press, vive-controls raises `Uncaught TypeError: Cannot read property 'material' of undefined`

Q are you using the built-in vive controller model?
A yes no change

Q do you inject controls / hands, or declare them a priori in your scene?  are tracked-con

[2017-01-20 11:37] nullcode commented on #2008
@thoragio
I've tried to use a custom aframe v0.4.0 with webvr-polyfill v0.9.15, but unfortunately all I get is a white screen when entering VR. The same app works with 0.3.2 though.

[2017-01-20 12:09] thoragio commented on #2008
@nullcode I ran into the exact same problem. I'm glad to hear the problem is reproducible; I thought I was going crazy.

My assumption is that there is an issue with the dependencies. I think when the 0.3.2 distribution was compiled, the dependency versions for webvr-polyfill were different than what are currently being pulled through now when we compile our custom 0.4.0 builds.

[2017-01-20 12:38] nullcode commented on #2008
@thoragio have you found any working combination? I tried webvr-polyfill 0.9.16, master, v1.0.0 (from github tag). The last two does not split the screen in VR mode, very weird.

[2017-01-20 12:41] JakePatterson opened #2300 "Mixins not working with animation component (v0.4.0)"
In v0.4.0, using a mixin doesn't work with [aframe-animation-component](https://github.com/ngokevin/kframe/tree/master/components/animation)

[code]

[2017-01-20 12:49] thoragio commented on #2008
@nullcode no, not yet. I haven't had much time to work on it. What I was planning to try next was to build 0.9.15 with the older versions of its dependencies. IIRC, there were only 2 or 3 and they had not seen too many changes since the release of 0.9.15 so mix-and-matching them to get the original combination will probably not take too many iterations.

I don't want to try building anything after

[2017-01-20 13:02] Silver-Seagull commented on #1473
@cvan & @machenmusik Thank you for the help and tips - however the app isn't entering the split-view as it should.

I feel a little out of my depth (to say the least) and I may have posted out of turn. Looking at our code, I think the view is not Cardboard, but an a-frame page in a Cordova app using the Crosswalk browser. I assume the WebKit-based browser is why this is not working?

[2017-01-20 15:14] cvan commented on #1473
I got [this patch](https://gist.github.com/cvan/c9351d20223e7824041557a94c414ced) working to auto-enter VR, but I still have to fix up the tests (and write new ones).

As Diego mentions above, the code in A-Frame (and three.js) is going to have to be reimplemented soon anyway (to support all the variations in Oculus Carmel, Google Daydream, Google Cardboard, Firefox Nightly, and Chromium Desktop),

[2017-01-20 16:49] rapoulson commented on #2281
Cool, I haven't built anything with 6DoF (yet!) but I'd be happy to get a further reading list started.

[2017-01-20 21:32] tinchoforever commented on #1562
+1 On Nexus 7, en Chrome I see not only the Vr Mode but also I'm not able to move using gyroscope :(
I have a patch to detect Tablet, but is not enough for using the gyroscope, any Ideas?

[2017-01-20 21:44] ngokevin commented on #2281
**@imgntn is now working on this.**

@rapoulson Would love to see a further reading list if it's not too much work. Not sure what would be useful, they'd mostly be for inspiration? Not much content right now describing building room scale interactions for WebVR.

[2017-01-20 22:12] ngokevin commented on #2281
Sorry, wrong issue. The comment above was for the Interaction Guide. No one is working on this currently.

[2017-01-20 22:12] ngokevin commented on #2274
**@imgntn is now working on this.**

[2017-01-20 22:25] Silver-Seagull commented on #1473
@cvan It looks like it's a WebVR block, as browsers (save Carmel?) won't allow that sort of action unless it comes from a human.

Thank you for the help and suggestions - hopefully `link` comes along in the January roadmap as planned ^_^

[2017-01-21 01:50] gurumukhi opened #2301 "Adding aframe to Rails Girls Summer of Code"
To add A-Frame to RGSoC, we need following info:

* Select Tasks or Features on which students can work within 3 months (github issue links).
* Skills required for each the issue.
* Mentors for each issue.

More info - http://railsgirlssummerofcode.org/guide/projects/

Deadline to apply - Jan 31st, 2017.

[2017-01-21 05:12] dmarcos commented on #2301
Thanks for filing this. @ngokevin @fernandojsg I'm going to put some thought on this. Any ideas? Maybe some features for the inspector or a-painter?

[2017-01-22 01:03] donmccurdy opened #2303 "Components added to primitives before appending to DOM are ignored."
- A-Frame Version: v0.4.0
- Reproducible Code Snippet or URL:

This fails:

[code]

But this works:

[code]

Preferably both would work. Seems like a strange edge case that new users could easily be surprised by; I know the primitive init cycle is a bit troublesome but hopefully we can fix this case.

[2017-01-22 03:57] dmarcos commented on #2303
Yep, both cases should work

[2017-01-22 04:00] takahirox commented on #2303
On my environment, both works.

At Hello world example https://aframe.io/aframe/examples/boilerplate/hello-world/

I ran this on console

    var scene = document.querySelector('a-scene')

    var cylinder = document.createElement('a-cylinder');
    cylinder.setAttribute('color', '#888888');
    cylinder.setAttribute('height', '1.5');
    cylinder.setAttribute('position', '3 1 0');
    scene.appen

[2017-01-22 04:17] donmccurdy commented on #2303
Hm I filed based on [this conversation](https://aframevr.slack.com/archives/questions/p1485046322874497).

<img width="902" alt="screen shot 2017-01-21 at 11 15 40 pm" src="https://cloud.githubusercontent.com/assets/1848368/22179948/90cba0e2-e02f-11e6-8ce3-f685e2322921.png">

But I can't reproduce the problem either. There were websockets involved, so probably the elements were added after scene i

[2017-01-22 06:31] kfarr commented on #2177
As long as media source extensions are supported it is possible to build a component that could support adaptive streaming. I would not suggest this be part of A-Frame core. So the answer would be no, A-Frame video elements do not support adaptive bitrate streaming out of the box but it would be possible for a third-party component to provide that functionality.

[2017-01-22 21:38] tinchoforever commented on #1562
Actually this happens on a Nexus 9 too.

[2017-01-22 22:14] chriscar opened #2304 "Using WASD controls not working when scene is embedded"
**Description:**

The scene is embedded inside a bootstrap modal dialog and the shouldCaptureKeyEvent method ( https://github.com/aframevr/aframe/blob/master/src/utils/index.js#L176 ) returns false because, in my case document.activeElement is the modal dialog div which does not equal to the document.body.

What is the reason why it must equal?

- A-Frame Version: 0.4.0
- Platform / Device: Chrome

[2017-01-22 23:38] schaer opened #2305 "Low framerate in Firefox nighly with stats UI active"
If the stats UI element is active, the Framerate in Firefox Nighly drops below 10 fps, while Chrome maintains arround 47 fps.

Here is a side by side comparison:

![image](https://cloud.githubusercontent.com/assets/708137/22187166/c55eb8e4-e101-11e6-829f-a6876343cea1.png)

In addition, if the "w" key is pressed in Firefox Nighly, the camera starts to "jump":

![f616df35-f30e-403f-ac1d-babfe13dda7a

[2017-01-23 01:25] donmccurdy commented on #2304
That check is in place so that WASD controls won't move when the player is typing into an `<input/>` or `<textarea/>` — say, a chatbox or signup form. Other ideas? How are you using the modal dialog?

[2017-01-23 01:46] chriscar commented on #2304
I see. In my case the modal-body contains the scene and I show the modal dialog when the users clicks a button (http://getbootstrap.com/javascript/#modals). The console shows that document.activeElement  is `<div class="modal fade" tabindex="-1" role="dialog">`

[2017-01-23 12:00] tinchoforever commented on #1562
http://codepen.io/tinchoforever/pen/ZLyEbj  This on a tablet (nexus 7 or 9) or Ipad should be 1) Enabling by default devicemotion camera 2) on vr mode, go full screen. On Aframe 2.0, 1) works and 2) says your device doesn't support webvr mode.  I have been checking Google WebVr Poly and it works there perfectly. My guess is that this is something inside how Aframe decides to use VR Mode and Gyrosc

[2017-01-23 12:07] goltra opened #2306 "Tilt does´t work in ios touching screen"
I have an ionic2 app with videosphere and in ios  touching vertically the screen I can´t get tilt effect (If I move my device it work). It doesn´t work in android neither. I try it in browser and works ok.

- A-Frame Version: 0.4.0
- Platform / Device: Ios 10 / Iphone 6S
- Reproducible Code Snippet or URL:

[2017-01-23 12:09] tinchoforever commented on #1562
And here with Aframe 2
http://codepen.io/tinchoforever/pen/ggROwL

[2017-01-23 12:11] tinchoforever commented on #1562
Aframe 4
![aframe-4](https://cloud.githubusercontent.com/assets/719504/22203403/acb54944-e14b-11e6-81d3-f91fe1efd0aa.gif)
Aframe 2
![aframe-2](https://cloud.githubusercontent.com/assets/719504/22203404/acb68f66-e14b-11e6-977a-a68580f60e8f.gif)

[2017-01-23 12:12] tinchoforever commented on #1562
In Aframe 4, I'm only enable to move the camera using touch but no movement.

[2017-01-23 12:15] tinchoforever commented on #1562
The expected behavior should be
1) Vr Mode should go to full screen on tablets.
2) Moving camera with Device Motion should be default on tablets too.

[2017-01-23 15:38] chriscar commented on #2304
I will play with it, either we leave the impl. as it is, or I propose a change. I just saw that I can manually set the focus to an element so I could force the focus to the body, even if the modal is open. Let's see how it goes.

[2017-01-23 18:00] chriscar commented on #2304
I had no success in setting the focus on body manually, after opening the bootstrap modal dialog. My personal solution would be to patch aframe.js and override the method in utils.js unless you say that WASD navigation must work for embedded scenes, no matter where they are embedded.

[2017-01-23 19:54] chriscar commented on #2304
One possible solution would be to add `tabindex="1"` ( http://stackoverflow.com/questions/29992688/how-to-keep-the-focus-on-a-canvas-always ) to each injected canvas which forces the focus on the canvas and not on the body. If I could reference the current canvas in https://github.com/aframevr/aframe/blob/master/src/utils/index.js#L176 we could do `return document.activeElement === canvas`

How do

[2017-01-23 20:19] ngokevin commented on #2300
You have to specify the properties on the animation component, not bare attributes.

`<a-mixin id="anim-mixin" animation="property: rotation; dur: 500"></a-mixin>`

[2017-01-23 20:19] #2300 closed

[2017-01-24 02:27] #2290 closed

[2017-01-24 02:28] ngokevin commented on #2266
Help wanted to change that text color to white.

[2017-01-24 02:29] ngokevin commented on #2174
Make a button that calls requestFullScreen. https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API

[2017-01-24 02:29] #2174 closed

[2017-01-24 02:36] ngokevin commented on #1432
The text is gone for now.

[2017-01-24 02:36] #1432 closed

[2017-01-24 02:40] ngokevin commented on #1650
Don't think there's much to do here. A-Frame is focused on WebVR, which will be responsible for normalizing all the devices. At least, we won't be maintaining and documenting cases across versions of mobile browsers and smartphones.

[2017-01-24 02:40] #1650 closed

[2017-01-24 02:56] ngokevin commented on #2257
That's expected. 3D raycaster returns 3D point. If you want mouse click event, you can just listen to click on the window.

[2017-01-24 02:56] #2257 closed

[2017-01-24 02:58] ngokevin commented on #2303
I guess she was on 0.3.2

[2017-01-24 02:58] #2303 closed

[2017-01-24 02:59] #2204 closed

[2017-01-24 03:01] ngokevin commented on #2156
Server side issue, the server did not allow CORS on the resource

[2017-01-24 03:05] ngokevin commented on #349
AR cameras and utilities: https://github.com/argonjs/argon-aframe for A-Frame

[2017-01-24 03:05] #349 closed

[2017-01-24 03:08] ngokevin commented on #1335
Fixed, setAttribute has since been updated to not clobber by default

[2017-01-24 03:08] #1335 closed

[2017-01-24 03:08] cvan commented on #349
There's also https://github.com/jeromeetienne/aframe-artoolkit that's worth checking out

[2017-01-24 03:09] ngokevin commented on #1271
This can be application behavior. Use a video element in `<a-assets>`, listen to its events, and show an image texture on an entity in the meantime

[2017-01-24 03:10] ngokevin commented on #1165
You can listen to window click in parallel, the entity's "click" can mean different things, but not necessarily associated to a hardware mouse

[2017-01-24 03:10] #1165 closed

[2017-01-24 03:11] ngokevin commented on #1152
We won't go for this due to the potential complications.

We do have warnings now for when components are registered after a scene.

[2017-01-24 03:11] #1152 closed

[2017-01-24 03:13] ngokevin commented on #792
Will just leave this up to components for now. Less API surface

[2017-01-24 03:13] #792 closed

[2017-01-24 03:13] ngokevin commented on #2139
Warning added.

[2017-01-24 03:13] #2139 closed

[2017-01-24 03:15] ngokevin opened #2307 "Add warning when a component is statically registered in the HTML *after* <a-scene>"
**Description:**

Throw a warning if a developer does this. Saying components should be registered before <a-scene> is declared. Suggest to put component script tags in the <head>

[code]

[code]

[2017-01-24 03:15] ngokevin commented on #2136
Added

[2017-01-24 03:15] #2136 closed

[2017-01-24 03:16] ngokevin commented on #2114
Widgets and interactions can be accomplished through application-level or community components, does not need to be part of the core.

[2017-01-24 03:16] #2114 closed

[2017-01-24 03:17] ngokevin commented on #2047
Will pass on this for now. registerShader does help in handling updates.

[2017-01-24 03:17] #2047 closed

[2017-01-24 03:19] ngokevin commented on #1905
Most stuff is good on the docs (e.g., FAQ). I added Release Process to the Wiki, we can add stuff as we need (e.g., currently don't have Meeting Minutes, but perhaps later on)

[2017-01-24 03:19] #1905 closed

[2017-01-24 03:38] blairmacintyre commented on #349
I suspect that aframe-artoolkit just uses the artoolkit, not device orientation, so it doesn't matter to them.  I would agree that we should definitely use the absolute real-world device orientation of the device if we have it.

[2017-01-24 04:07] ngokevin commented on #1763
Embedded scenes work, don't like to rely on a service.

[2017-01-24 04:07] #1763 closed

[2017-01-24 04:29] ngokevin commented on #806
Don't think this is an issue anymore.

[2017-01-24 04:29] #806 closed

[2017-01-24 04:32] ngokevin commented on #947
Don't think we need to maintain community scenes within the core repo. Scenes are versioned on an A-Frame so there's no issue of hot-regressing. This idea could potentially catch issues, but there's work in migrating each scene over API breaking patches. I think since we have the bleeding edge master releases, people try out new builds and catch issues often.

[2017-01-24 04:32] #947 closed

[2017-01-24 04:44] ngokevin commented on #979
Set the material to visible for raycaster to ignore

`material="visible: false"`

[2017-01-24 04:44] #979 closed

[2017-01-24 05:11] donmccurdy commented on #2257
@ngokevin I think the question/problem was that the intersection data was cached from the first intersection event, and not updated on each frame after that. We fixed that a while back though (by v0.3.2 at least) and I can't reproduce the problem now in v0.3.2 or v0.4.0.

Here's another script I'm using to test it:

[code]

^Note that the point reported is different depending on where we click the

[2017-01-24 09:12] AdrienPoupa commented on #2174
Thanks!

[2017-01-24 14:00] machenmusik commented on #2299
From Slack 2017/01/22
[code]

[2017-01-24 14:06] machenmusik commented on #2299
@kfarr doesn't seem to happen in normal operation.

are other inadvertent invocations of onButtonUp/Down/TouchStart/TouchEnd/Event providing invalid button names?

what button name is appearing in
https://github.com/aframevr/aframe/blob/master/src/components/vive-controls.js#L216
in your situation?

[2017-01-24 14:29] dmarcos commented on #2304
@chriscar you should have access to the canvas by doing `sceneEl.canvas`. We can maybe create a specific method in `wasd-controls` instead of using the utils one to test the solution

[2017-01-24 14:30] dmarcos commented on #2304
@cvan might have some ideas.

[2017-01-24 14:34] dmarcos commented on #2306
What do you mean by `tilt` efect? You say if you move the device it works?

[2017-01-24 14:36] dmarcos commented on #2295
@ngokevin has the asset moved?

[2017-01-24 14:37] dmarcos commented on #2287
@wildaces215 you are more than welcome to help

[2017-01-24 14:38] Drewwit commented on #1231
Cvan, have you published with WIP build that adds the padding to the bottom of the html? I'm having the same issue on a build that we are about to go public, and while not ideal, at least being able to "swipe" to remove the URL bar is better than the offset (low) stereoscopic rendering due to the URL bar

[2017-01-24 14:39] dmarcos commented on #2279
What would be a more specific example of this? Do not properties have default values?

[2017-01-24 14:40] goltra commented on #2306
I mean, you can move videosphere touching your screen, can you? ... well, if you move right and left the vide move but if you move your finger up and down the video doesn´t move (tilt effect)... I hope I have explaind

[2017-01-24 14:40] dmarcos commented on #2266
@mitchallen would you like to help to tweak the colors?

[2017-01-24 15:11] dmarcos commented on #2306
Is there any error in console? does ionic expose the device motion APIs?

[2017-01-24 15:52] giordyb commented on #2265
I'm using a similar approach in my project, my player object looks like this:

[code]

Unfortunately this approach breaks whatever component uses the controller's position because in this case it becomes relative to the parent object instead of the scene.

As you can see I'm using both teleport-controls (the ones forked by @machenmusik, which allows me to have the player start at a different locat

[2017-01-24 15:56] machenmusik commented on #2265
yeah there was/is a habit where everything is assumed to be a direct descendant of scene (without saying so)

almost wonder if it would be better to have current usage of position be called localPosition... but that would likely break everything

[2017-01-24 17:00] wmurphyrd commented on #2265
Seems like this is going to be an ongoing point of confusion for creators.
While digging into the THREE.js API works, it's not in line with the spirit
of A-Frame.

One option would be flag parameter in getAttribute to specify relative v.
absolute. Probably not ideal, though, since it would have inconsistent
effects depending on the attribute (I think only position, rotation, and
scale would benefi

[2017-01-24 17:11] Maxisoft2 opened #2308 "Screenshot function creates bad quality on Desktop, does not work on iOS"
**Description: When the screenshot function is called, it creates an image without any anti-aliasing and in a poor resolution, no matter which resolution parameter (width/height) is passed. Also, taking screenshots on iOS 10 is not possible inside Safari / Chrome or Firefox.**

- A-Frame Version: 4.0
- Platform / Device: Any
- Reproducible Code Snippet or URL: http://www.abnahme.mxo.cc/milon/index

[2017-01-24 18:12] goltra commented on #2306
In the screenshot I have attached you can see warnings and error I have. In fact, last warning appear just when I touch the screen..
If I move the device vertical and horizontal movement works ...

![aframe-error](https://cloud.githubusercontent.com/assets/1634767/22260149/5a538fc6-e268-11e6-8894-ed311266a40f.jpg)

[2017-01-24 19:04] tinchoforever opened #2309 "Nexus 9 (and other tablets) entering in VR Mode and not using Gyroscope for movement by default"
**Description:**

- A-Frame Version: V4
- Platform / Device: Nexus 9
- Reproducible Code Snippet or URL: http://codepen.io/tinchoforever/pen/ZLyEbj
This on a tablet (nexus 7 or 9) or Ipad should be
1) Enabling by default devicemotion camera
2) on vr mode, go full screen.
On Aframe 2.0, 1) works and 2) says your device doesn't support webvr mode. I have been checking Google WebVr Poly and it works

[2017-01-24 19:04] tinchoforever commented on #2309
here with Aframe 2
http://codepen.io/tinchoforever/pen/ggROwL

[2017-01-24 19:04] tinchoforever commented on #1562
I've opened a proper ticket for this.
https://github.com/aframevr/aframe/issues/2309

[2017-01-24 19:05] tinchoforever commented on #2309
Aframe 4
![aframe-4](https://cloud.githubusercontent.com/assets/719504/22203403/acb54944-e14b-11e6-81d3-f91fe1efd0aa.gif)
Aframe 2
![aframe-2](https://cloud.githubusercontent.com/assets/719504/22203404/acb68f66-e14b-11e6-977a-a68580f60e8f.gif)

[2017-01-24 19:06] tinchoforever commented on #2309
In Aframe 4, I'm only enable to move the camera using touch but no movement.

The expected behavior should be

1. Vr Mode should go to full screen on tablets.
2. Moving camera with Device Motion should be default on tablets too.

[2017-01-24 19:08] tinchoforever commented on #2309
I've discussed over Aframe Slack about this, we checked over Google WebVr Polyfill and there is no restriction for this on their lastest version.
Our guess is that there is something where we ask ismobile but on a tablet is not.

An

[2017-01-24 19:08] tinchoforever commented on #2309
Any help is welcome we are happy to help to create the fix for this issue

[2017-01-24 19:54] ngokevin commented on #2309
1. If developers want full screen only, and not VR, I would create a fullscreen button that calls requestFullScreen, but I wouldn't put it to A-Frame.
2. Sounds good, if anyone wants to investigate tablet.

[2017-01-24 20:42] ngokevin commented on #2308
Try `<a-scene antialias="true">`?

screenshot won't be supporting the mobile case. Take it from a desktop.

[2017-01-24 20:45] ngokevin commented on #2244
So Firefox doesn't need user interaction? Will that change? Maybe just add a one-line JS in your app to click the button.

If it's for development purposes, there is a WebVR recording tool coming out that will help with this so you don't even need to enter VR to test.

But it might be possible to do something similar to React hot loading of components. A server can send a message to the scene whic

[2017-01-24 21:13] machenmusik commented on #2265
I don't think modifying getAttribute would match (sounds like getComputedAttribute, which I presume went away for a reason) - maybe just standard API for these like AFRAME.utils.___ (which can actually be implemented via THREE, and replaced with alternatives if someone wanted to use A-Frame over a different backend)

[2017-01-24 21:35] goltra commented on #2306
@dmarcos you can try accessing with your mobile browser to https://aframe.io/examples/. You can check what I meaning

[2017-01-24 21:46] ngokevin commented on #2306
`look-controls` does not support vertical panning because it'll throw off the orientation axis. If you want to design for non-VR, you'd need to create your own controls to modify the camera.

[2017-01-24 21:46] #2306 closed

[2017-01-24 21:49] mitchallen commented on #2266
@dmarcos, @ngokevin okay, I'll review the contrib guide and do that tomorrow.

[2017-01-24 21:51] goltra commented on #2306
@ngokevin I understand if you are in vr mode tilt doesn't work but if you aren't , in my opinion, it should work ... however could you make me an example about "play" with camera and vertical panning?

Thanks

[2017-01-24 22:13] ngokevin commented on #2279
Like if we pass a string to the `number` type, we should ensure handlers don't get called if we do `setAttribute('foo', 'numProp', 'sdasfa')`.

[2017-01-25 01:38] ngokevin commented on #2299
Does this reproduce with latest master? I remember model file names and stuff getting shuffled around and being temporarily broken.

[2017-01-25 07:18] kfarr commented on #2299
Yes using master. The culprit seems to be things related to vive trackpad. `onButtonTouchStart` and `onButtonTouchEnd` for example

[2017-01-25 10:57] RSpace opened #2312 "Image asset is downloaded 3 times from Cloudfront"
**Description:**

I'm loading an OBJ model with a single color map/texture. I use the `<a-assets>` tag to load both the obj-file and the texture file.

For some reason, the texture is downloaded 3 times. It doesn't hit the cache any of those times:

![aframe_texture_download](https://cloud.githubusercontent.com/assets/5872/22287801/7801dc94-e2f4-11e6-8464-233bd3231774.png)

An additional problem,

[2017-01-25 11:06] renhyl commented on #2008
I am experiencing same blurry/low res textures when browsing page on my Samsung Gear VR in Samsung Browser (webvr-enabled). Did try multiple aframe versions without any luck.
Desktop/Cardboard look nice and sharp. I am using draw component with text-wrap for displaying text. The text is so blurry its unreadable.

[2017-01-25 12:30] cvan commented on #2304
@chriscar: @dmarcos: @donmccurdy: if the iframe is on the *same origin*, then you should be able to do this:

[code]

Or, ideally, if you're dynamically creating an `<iframe>` from JS:

[code]

Let me know if that solves your problems.

[2017-01-25 17:09] #2266 closed

[2017-01-25 17:26] machenmusik commented on #2244
also see #2298

[2017-01-25 19:09] caseyyee commented on #2244
@ngokevin WebVR recording tool doesn't help here.   Just being able to see changes reflected in the headset without having to reach over to click _Enter VR_ is all i'm asking for.

Enter VR is still being specced, but it looks like user gesture will be required to enter VR for the first time, then any subsequent navigation and refreshes will be allowed to enter VR.

[2017-01-26 00:41] msj121 commented on #2156
I actually DO have CORS setup on my amazon server. It works correctly when the file is added as part of the <a-assets> with crossorigin attribute.

`<img id="alibrary" src="https://s3.amazonaws.com/..." crossorigin="anonymous">`

The problem is when I try to set the url on the object itself not in a-assets:

`<a-image src="url(...)" position="0 0 -2" width="2" height="2"></a-image>`

I get the fol

[2017-01-26 00:42] msj121 commented on #2156
Personally I don't care too much as I use the <a-assets> as a workaround, but I have experienced CORS issues when using the url on the object directly.

[2017-01-26 00:43] ngokevin commented on #2156
You should double check CORS is not set up as referenced by:

[2017-01-26 00:45] ngokevin commented on #2156
OK, will need to double check the XHR has CORS set. I believe it should, we set it on the XHRLoader (soon to be named FileLoader).

[2017-01-26 00:47] msj121 commented on #2156
If your request doesn't specify an Origin header, S3 won't include the CORS headers in the response.

[2017-01-26 07:58] thoragio commented on #2117
@dmarcos As discussed in Slack, I've submitted the PR to update the DPDB URL to my cache: https://github.com/googlevr/webvr-polyfill/pull/190

[2017-01-26 08:28] dmarcos commented on #2117
@thoragio Thank you! 🏆

[2017-01-26 12:49] tinchoforever commented on #2309
@ngokevin do you have any idea why 2. was working on Aframe 2.0 but not on Aframe 4.0? Any ideas where to check?

[2017-01-26 15:30] goltra commented on #2306
I have implemented this and created a pr here
https://github.com/aframevr/aframe/pull/2315

Please take a look at this.

[2017-01-26 20:44] chriscar commented on #2304
@cvan Thank you for your code examples, I am sure it works that way. In my case I am dynamically loading a template partial from an REST endpoint depending on a certain type of content (photo sphere, video sphere, models, etc.) and I append the loaded template code (a-frame scene) to an element within the bootstrap modal dialog. I don't like the idea of loading a template which represents an html

[2017-01-26 20:45] ngokevin opened #2317 "[docs] Write guide on "Deploying and Publishing""
**Description:**

Introduction should give a quick context on deploying on the Web. It's free, it's instant, no gatekeepers. Contrast that with native app stores that go through lengthy review processes that may end up in rejections. Publishing a VR experience with A-Frame is the exact same as publishing a web page. Note we want to deploy with `https://` due to WebVR SSL restrictions.

1. Publishi

[2017-01-26 20:55] ngokevin opened #2318 "[docs] When introducing CodePen, make sure to note that A-Frame script tag should be above the scene rather than in JS tab."
**Description:**

CodePen's JS tab will append to bottom of body which doesn't work for A-Frame.

[2017-01-26 21:22] noerw opened #2319 "raycaster crashes scene with a-collada-model"
**Description:**
When a scene contains both an entity with `raycaster` and a `<a-collada-model>` there's an error thrown: `attributes.position is undefined`.

Waiting for the model to be loaded before attaching the raycaster fixes the issue.
https://github.com/aframevr/aframe/pull/1497 might be related

- A-Frame Version: 0.4.0 & latest master
- Platform / Device: FF 50.1
- Reproducible Code Snipp

[2017-01-26 22:17] thoragio commented on #2318
Done: https://github.com/aframevr/aframe/pull/2320

Please ask someone with access to the mozvr account on CodePen to change the example to my fork: http://codepen.io/thoragio/pen/jyGeEJ

With the `<script>` tag in the HTML panel, it is abundantly clear. Newbies to CodePen won't know about adding script tags in the gear menu.

[2017-01-26 23:21] ngokevin commented on #2008
I believe the step is to target when in the WebVR Polyfill the blur was introduced. This is made difficult due to WebVR API migrations. My guess is it was when the barrel distortion and VR effects were added to the polyfill. The solution may be to introduce a way to toggle off those effects to preserve resolution.

https://github.com/googlevr/webvr-polyfill

[2017-01-27 00:40] ngokevin commented on #2318
@thoragio can you change the example to your fork? thanks!

[2017-01-27 00:47] ngokevin commented on #2318
Done!

[2017-01-27 00:47] #2318 closed

[2017-01-27 00:49] ngokevin opened #2321 "[docs] flesh out `embedded` component documentation"
**Description:**

Right now it's only one paragraph.

- We should embed an actual scene within that page to show it off.
- Add some CSS to the example of styling the scene (e.g, height + width).
- Note that only one scene can exist on a page at a time.
- Also mention I-Frames as an alternative as long as `allowvr` attribute is set, and preferably same origin.

[2017-01-27 05:14] ngokevin commented on #2295
I forgot whether or not I added it. I'll get around to updating it.

[2017-01-27 06:56] toychicken commented on #926
@RSpace - I did a little fix so you can now get a canvas object with the rendered screengrab, by doing `sceneEl.components.screenshot.getCanvas()` - from where you should be able to do a .toBlob() and send off to a server or whatever. :)
https://github.com/aframevr/aframe/pull/2316

[2017-01-27 07:54] RSpace commented on #926
@toychicken Thanks, I did something along those lines in my local copy of the component to get it working - will be great have it in core.

However, I still have the WebGL shader compilation error in my webpack-based build, so for now the screenshot component is still not useable for me.

[2017-01-27 16:55] i3games opened #2322 "Rotation component continuously updated on stillstanding camera entity"
The rotation component is continuously updated on a static camera entity (possible performance implications?).

- A-Frame Version: 0.4.0
- Platform / Device: Mac / Firefox 51.0.1
- Reproducible Code Snippet or URL:

[https://gist.github.com/i3games/80636bb3bf2b2aa7d09569013d1df123](https://gist.github.com/i3games/80636bb3bf2b2aa7d09569013d1df123)

check console.log

The new values for pitch, yaw a

[2017-01-27 19:55] naugtur opened #2323 "consider adding aframe-point-component to core"
Hi,

Point is a basic primitive of THREE.js but it's not available as `a-point` in core. I suggest putting it in core.

I'm the author of aframe-point-component
https://github.com/naugtur/aframe-point-component

Let me know if you're interested and I'll make a PR

[2017-01-27 22:21] dmarcos commented on #2323
Are you thinking about sharing your component in the registry? https://github.com/aframevr/aframe-registry

[2017-01-27 22:50] machenmusik commented on #2244
@caseyyee my current working pattern is to use experimental Chromium and Rift; since that sends vrdisplayactivate, all you need to do is lift the headset up far enough for it to trigger deactivate, then let it drop back down to reactivate and bam! you are back in VR

[2017-01-27 22:52] machenmusik commented on #2244
@ngokevin the reload should be detected as a "subsequent navigation / refresh", I would think...

[2017-01-28 09:05] naugtur commented on #2323
Yes, sure I am. I'll publish this to registryif you say no. Just wanted to check if you'd consider including it in core, because it seems to me it belongs with sphere, box, circle etc.

I have another component in the making and I'll publish it soon.

[2017-01-28 14:39] andymartinwork commented on #1940
This is because the WebView doesn't support vrDisplay, and aframe doesn't support browsers that don't support vrDisplay.

A potential fix is to use a-frame 0.2.0 code for presenting as a fallback.

[2017-01-28 15:16] wmurphyrd commented on #2265
I had an idea the other day for another solution that more is consistent with the API: new default components world-position, world-rotation, & world-scale.

* Use the same `getAttribute` and `setAttribute` API, handling the appropriate transformations and updates
* Essentially invisible to creators unless they need the interface, but also easier to discover when they do need it than a utils metho

[2017-01-28 17:50] dmarcos commented on #1940
Sorry, I don't understand the problem. Chrome (not the Chromium WebVR builds), Firefox (not Nightly), Edge or Safari don't support VRDisplay and a-frame works fine. The polyfill should kick in in all those cases. What's different in a webview?

[2017-01-28 17:52] dmarcos commented on #1940
We don't do Android development in the a-frame team so we cannot test webviews easily. If someone can investigate and provide a fix we will take it

[2017-01-28 21:37] andymartinwork commented on #1940
Sorry, I'm not very familiar with the codebase. Where is the polyfill located?

[2017-01-28 22:13] andymartinwork commented on #1940
OK, looks like a simple fix for the webvr-polyfill project. I will submit a pull request with them and keep this bug open to make sure we update the dependency on a-frame.

[2017-01-28 22:30] andymartinwork commented on #1940
Hmm, it looks like the changes were submitted and denied. WTF.

https://github.com/googlevr/webvr-polyfill/pull/175

[2017-01-29 14:20] ngokevin commented on #2322
Thanks for filing. I do expect the component to update on each frame, *but* the `componentchanged` event shouldn't fire if the data hasn't actually changed. Marked as `help wanted (easy)` to investigate if we are indeed checking that data has been changed.

[2017-01-29 14:24] #2295 closed

[2017-01-29 14:25] ngokevin commented on #2295
Fixed, thanks! Typo in the guide.

It's at `https://cdn.aframe.io/basic-guide/audio/background-noise.wav`

[2017-01-29 21:38] codechikbhoka commented on #2156
is the issue solved ? I am facing the same problem

[2017-01-29 21:41] jhsu opened #2326 "0.4.1 missing on github?"
I see that 0.4.1 is published on [npm](https://www.npmjs.com/package/aframe) but I don't see it in the releases page her nor do I see the 0.4.1 tag.

Has the tag just not been pushed? I see that master's [package.json](https://github.com/aframevr/aframe/blob/652f23f3862c2b6622ed03fe0e2b1450ee49c4ab/package.json#L3) states 0.4.0.

Thanks!

[2017-01-29 22:00] ngokevin commented on #2326
It has an npm specific fix

[2017-01-29 22:00] #2326 closed

[2017-01-29 23:06] ngokevin commented on #2148
Alternatively, pass a selector for the camera

[2017-01-29 23:11] dmarcos commented on #2148
The screenshot component should always operate on the active camera. There's maybe oportunity for a `point-and-shoot` component

[2017-01-29 23:29] ngokevin commented on #2148
Yeah, probably a different feature. Like a literal camera component that you can hold and see a preview.

[2017-01-29 23:29] #2148 closed

[2017-01-30 04:55] i3games commented on #2322
`isSinglePropSchema` in line 202  of `aframe/src/core/component.js` for rotation is true which shortcuts the and-expression, so equality is not tested and the statement never returns. Then in 217 `el.emit('componentchanged', {` happens.

`isSinglePropSchema` is true, because in line 13 of `aframe/src/core/schema.js`

[code]
`schema.type` is "vec3" so `typeof schema.type` is "string".

Maybe that p

[2017-01-30 10:28] AnandiY opened #2327 "3D Maps example using AFrame"
Has drawing 3D maps using AFrame been tried before ?
If its been done before, can you provide an example code snippet ?

Thanks for your help!

[2017-01-30 14:49] donmccurdy commented on #2327
[Here's an example using Mapbox](https://github.com/jesstelford/aframe-map) to render the map, and then using that `<canvas/>` element to create a texture. I also recommend the [A-Frame Slack](https://aframe.io/community/#slack) to see what others are working on. :)

[2017-01-30 14:49] #2327 closed

[2017-01-30 14:59] maissani opened #2329 "feat(raycaster): Raycaster doesn't trigger objects when recursive is set to false (refs: v0.4.0)"
### Description:
#### Raycaster doesn't trigger objects when recursive is set to false
### Environment:
- A-Frame Version: 0.4.0 (refs: 87c934aae6c85ac05af48e3c569db584197fb946)
- Platform / Device: Tested on Chrome
- Reproducible Code Snippet or URL:
### Editor :
https://ide.c9.io/maissani/testvr
### Application:
https://testvr-maissani.c9users.io
### Files:
https://preview.c9users.io/maissani/te

[2017-01-30 16:56] donmccurdy commented on #2329
Understand the confusion, but this is how THREE.Raycaster works. `THREE.Object`s do not have geometry: if recursive:false is set the children are ignored, so there's nothing for the raycaster to hit. Neither A-Frame nor Three.js will be able to change this behavior, in all likelihood.

Your workaround is a good one, though, and perhaps a community component (`shallow-raycaster`?) should be created

[2017-01-30 17:28] donmccurdy commented on #2329
Ok, looking at this a bit more, here's a simpler [Codepen demo](http://codepen.io/donmccurdy/pen/EZoLRr). With no nesting whatsoever, and `{recursive:false}`, clicks on the box still don't go through because there's a wrapping THREE.Group around the mesh.

So, there is something to be fixed here. Either:

1. We remove the `recursive` property from the raycaster, because it should basically always

[2017-01-30 17:54] machenmusik commented on #2329
(is the wrapping that is done always only one level deep?)

[2017-01-30 19:09] donmccurdy commented on #2329
For stock geometries, yes. If there's a `collada-model` or something involved, there's also a good chance that the model introduces its own wrappers.

[2017-01-30 21:39] ngokevin opened #2332 "Prioritize camera initialization"
**Description:**

While the scene is loading, the camera component and system will set `sceneEl.camera` and make it active. But the camera entity will be loaded in the same priority as all the other entities. Any components wishing to make use of the camera have to wait for `camera-set-active` event like we do in the motion capture project

If we have the scene initialize the camera before all the

[2017-01-31 07:56] kfarr commented on #2281
Okay did a first draft here, comments enabled and welcomed: https://docs.google.com/document/d/1RvmQ-ExpLIQFr8kK4d67jndI070dCtz3AI2BeJYYJjY/edit

[2017-01-31 10:04] ngokevin commented on #1966
https://github.com/aframevr/aframe/pull/2200

[2017-01-31 10:04] #1966 closed

[2017-01-31 10:06] ngokevin commented on #1048
I'll close this for now. One way to do things keeps things simpler. The helper is above pretty simple.

[2017-01-31 10:06] #1048 closed

[2017-01-31 15:40] renhyl commented on #2008
I noticed that aframe 2.0.0 displays my images sharp on iphone/android while 3.2.0/4.0.0 display fine on android but very blurry on iphone (safari/chrome).

[2017-02-01 00:58] donmccurdy commented on #651
Cool, this sounds good to me (i just haven't had time to start yet).

I'll re-assign to myself and remove the 'help wanted' tag if my schedule frees up before someone else takes it. So this issue is still up-for-grabs now.

[2017-02-01 07:37] LelouchLight opened #2337 "Renderstart Event triggers before actually visuals."
A-scene renderstart event triggers when canvas is still white.

- A-Frame Version: CDN
- Platform / Device: All

[2017-02-01 09:09] fernandojsg commented on #651
I agree also that looks more convenient to add it to `light` instead of another component, it's typically how it works on 3d software, you add a light, click shadows and you're ready to go.

[2017-02-01 14:42] jonikorpi opened #2339 "Custom-specified SDF fonts get inverted"
Every SDF font specified with a URL gets inverted. http://codepen.io/jonikorpi/pen/JELjgM

`font="sourcecodepro"` works normally
`font="https://cdn.aframe.io/fonts/SourceCodePro.fnt"` gets inverted

- A-Frame Version: [master @ 2ac766a95454467566cc001d700857daa4bfcb11](https://github.com/aframevr/aframe/tree/2ac766a95454467566cc001d700857daa4bfcb11)
- Platform / Device: Chrome/macOS
- Reproducible

[2017-02-01 14:46] jonikorpi commented on #2339
Looks like setting `shader="sdf"` fixes it. (via mchen in Slack)
Updated the example: http://codepen.io/jonikorpi/pen/JELjgM

[2017-02-01 14:48] machenmusik commented on #2339
this is due to late breaking changes in msdf support changing default shader to msdf, @ngokevin we should consider changing default shader back to sdf with msdf stock font / url convention detection and override

[2017-02-02 01:44] #2339 closed

[2017-02-02 05:10] chriscar opened #2344 "Entity event 'componentchanged' fires constantly for evt.detail.name === 'rotation'"
**Description:**
Position change is only firing when position actually changes. The rotation is firing constantly.

- A-Frame Version: 0.4.0
- Platform / Device: Chrome
- Reproducible Code Snippet or URL:

var entity = document.querySelector('a-camera');
entity.addEventListener('componentchanged', function (evt) {
  if (evt.detail.name === 'rotation') {
    console.log('rotation');
  }
});

[2017-02-02 05:22] ngokevin commented on #2344
dupe https://github.com/aframevr/aframe/issues/2322

[2017-02-02 05:22] #2344 closed

[2017-02-02 11:24] #2261 closed

[2017-02-02 12:40] ngokevin commented on #1446
Going to close in favor of supporting glTF animations. If COLLADA benefits from that then great. Otherwise, see the three.js code for playing COLLADA animations (use the `model-loaded` event to grab the collada scene):

1. Import animation code

https://github.com/mrdoob/three.js/blob/dev/examples/webgl_loader_collada.html#L36

2. Traverse the model and play animations

https://github.com/mrdoob/t

[2017-02-02 12:40] #1446 closed

[2017-02-02 13:25] ngokevin commented on #1614
@dmarcos Feedback?

[2017-02-02 13:29] dmarcos commented on #1614
It looks reasonable. should we overload `removeAttribute` or make a new method `resetAttribute`  e.g: `el.resetAttribute('material');` `el.resetAttribute('material','color')`

[2017-02-02 13:31] ngokevin commented on #1614
OK. I'd overload to reduce API surface, and it matches the overloading of `setAttribute`.

[2017-02-03 00:17] ngokevin opened #2346 "Possible to make `appendChild` (and `removeChild`) synchronous for entities?"
**Description:**

[code]

When we append an entity, we don't necessarily care if its in the actual DOM. We can override `HTMLElement.appendChild` to grab the entity's components and immediately create an `THREE.Object3D` out of it. We have access to the entity so the `this.el` reference can still be maintained.

[code]

[2017-02-03 00:18] ngokevin commented on #2346
Hmm, actually might not be possible, because we rely on `attachedCallback` to do a lot of the initialization.

[2017-02-03 00:18] #2346 closed

[2017-02-03 02:34] donmccurdy opened #2347 "WebVR emulator triggers fullscreen, not VR presentation."
Based on the screenshots and example video, the WebVR emulator ought to emulate both eyes. Clicking the toggle VR button in an A-Frame scene goes fullscreen, instead.

Not sure if that's something about how A-Frame detects the HMD, or if Jaume's examples were using the polyfill instead, but it would certainly be helpful for debugging if the extension were A-Frame compatible.

[2017-02-03 03:33] donmccurdy commented on #1446
For posterity, is an example implementation of animation with COLLADA:

https://github.com/donmccurdy/aframe-extras/issues/101#issuecomment-257197602

[2017-02-03 06:27] AmadeusW opened #2348 "A-Frame breaks browser's extension popup"
**Description:**

When developing a web extension, presence of A-Frame's `<a-scene></a-scene>` causes Chrome to make the popup very narrow. It causes Firefox to crash. I've attached a link to minimal repro.

In my extension I attempted to set the popup's width by setting `width`, `position` and other css styles on `body`, `a-scene` and other elements. In all cases, **Chrome sets width of the popup

[2017-02-03 08:20] ngokevin commented on #2348
Can't you override the styles A-Frame sets?

[2017-02-03 15:04] jonikorpi opened #2349 "Using mergeTo causes uncaught error"
Using mergeTo seems to always cause this error. The merging itself seems to work, but the error breaks other things in my app.
`Uncaught (in promise) TypeError: Cannot read property 'isPlaying' of null`

http://codepen.io/jonikorpi/pen/EZLQoG
[code]

- A-Frame Version: 0.4.0
- Platform / Device: Chrome/macOS latest
- Reproducible Code Snippet or URL: http://codepen.io/jonikorpi/pen/EZLQoG

[2017-02-03 23:37] bhibi commented on #2156
still on problem

[2017-02-04 05:35] codechikbhoka commented on #2156
@bhibi I solved the problem I was facing. Can you elaborate your case ?

[2017-02-04 06:06] bhibi commented on #2156
thx @codechikbhoka i had some problem with adding image, .jpg file work flawless but i cant add my .png image with transparent background.

[2017-02-04 08:41] ltfschoen commented on #2031
@ngokevin @impronunciable I have created a repo [https://github.com/ltfschoen/react-fluxible-test](https://github.com/ltfschoen/react-fluxible-test) that shows how to incorporate A-Frame React into a Fluxible app (i.e. uses isomorphic architecture with server-side rendering)

[2017-02-04 11:05] cvan commented on #2347
At the very least, I don't think clicking the *VR goggles* icons shoulder enter Fullscreen mode. There were a couple issues filed about adding a separate `Fullscreen` button, tweaking the `Enter VR` button. But, now I see that the tooltip text (even `alt`/`title`) text is now gone (per #1432) - even further misleading folks. Without context, upon loading an A-Frame, it's completely unclear that:

[2017-02-04 19:08] AmadeusW commented on #2348
Thanks for pointing me in this direction. It turns out that A-Frame sets `html`'s `display: fixed;` which breaks the Chrome popup.

I'm curious why A-Frame needs to change `html` display style. Does it have to do with `iframe` scenarios?

![image](https://cloud.githubusercontent.com/assets/1673956/22620885/2534ba12-eaca-11e6-80d3-26e62934ac0a.png)

[2017-02-04 21:34] ngokevin commented on #2348
If's for fullscreen purposes. If you want to allow `embedded` scenes `<a-scene embedded>`

[2017-02-04 21:34] #2348 closed

[2017-02-06 01:47] 7ammer opened #2351 "Shaky and stuttery head tracking with 100+ boxes on Android"
On my phone (nexus 6x), as I add more geometry to my scene I've noticed that head tracking becomes slow, stuttery or shaky. However using touch to look around is as smooth as butter. This seems a bit odd to me.

I've created a scene to help explain the issue: https://jsfiddle.net/xkzbwh3u/
On my phone when head tracking:
001 - 100 boxes  = is fine
100 - 200 boxes  = some noticeable shakiness after

[2017-02-06 13:48] renhyl commented on #1231
For those interested, the temp/crude solution as described is to create scrolling and that gets rid of address bar.

for example

`var html = document.getElementsByTagName('HTML');
html[0].style.position = 'initial';
                        html[0].style.overflow = 'scroll';
                        var canvas = document.querySelector('.a-canvas');
                        canvas.style.top = '1000px

[2017-02-06 14:18] nullcode commented on #2008
I figured this out guys, it was actually a bug in aframe, not webvr-polyfill, check #2352

[2017-02-06 20:26] ngokevin commented on #2351
Android throttles or provides high-latency access to the accelerometer/gyroscope sensors. This is probably pronounced as performance drops. If you are using lots of boxes, there are techniques to improve performance:

The performance doc mentions [geometry merging](https://aframe.io/docs/0.4.0/introduction/best-practices.html#performance)

Or use three.js geometry instancing (there are some WIP co

[2017-02-06 20:26] #2351 closed

[2017-02-06 22:05] ngokevin commented on #2117
Can people confirm that https://github.com/aframevr/aframe/pull/2345 fixes this issue?

[2017-02-06 22:24] ngokevin commented on #2008
The PR is up. Need help testing, use this link: https://rawgit.com/ngokevin/aframe/polyfilldist/dist/aframe-master.min.js

[2017-02-07 00:24] #2008 closed

[2017-02-07 00:29] ngokevin commented on #2117
https://github.com/aframevr/aframe/pull/2345

[2017-02-07 00:29] #2117 closed

[2017-02-07 00:48] #2322 closed

[2017-02-07 01:42] ngokevin commented on #1940
https://github.com/aframevr/aframe/pull/2345

[2017-02-07 01:42] #1940 closed

[2017-02-07 09:58] maissani opened #2354 "feat(component/a-assets): W3C compliance & Improvment in video tags"
**Description:**
For the component a-assets your video expect to be
[code]
Wich is not W3C compliant.
The best implementation should be:
[code]
But you dont let in aframe master the possibility of using sources inside video tag.
If people use the source tag instead of scr directly inside video tag you send a warn about no src or srcObject but it's wrong.
The video contain an src object in source c

[2017-02-07 11:49] maissani opened #2355 "feat(component/a-assets/a-mixin): Sould be able to dataset passthrough."
**Description:**
Currently dataset is not pass through mixin component.
document.querySelector('#my-first-cat').dataset (See example ) will result to contain only data-name.

It will be powerfull to pass dataset through mixin (In a lot of case this is helpfull )
[code]
- A-Frame Version:
v0.4.0
- Platform / Device:
ALL
- Reproducible Code Snippet or URL:
NONE

[2017-02-07 12:07] ngokevin commented on #2355
Mixins are just for components. You can have a component set whatever you need. The template component also accepts component names that act as data contaners.

[2017-02-07 12:07] #2355 closed

[2017-02-07 12:10] delapuente opened #2356 "Missed types in core components."
Some core components are missing their types which lead to incorrect representations, parsers and stringifiers. This is causing aframevr/aframe-inspector#409

- A-Frame Version: 0.4.0
- Platform / Device: All versions.
- Reproducible Code Snippet or URL: see aframe-inspector issue aframevr/aframe-inspector#409

[2017-02-07 12:16] #2356 closed

[2017-02-07 12:49] delapuente commented on #2227
@wmurphyrd that makes sense to me. If you modify the internal representation directly and then try to update via `setAttribute()` without actually update, it does not make sense to trigger an update.

[2017-02-07 12:54] delapuente commented on #2227
Sorry, @wmurphyrd. Now I realise. You are expecting a copy of the attribute because that is the way regular attributes work. Avoiding memory sharing is delicate since it can incur in performance penalties. @ngokevin @dmarcos @fernandojsg thoughts?

[2017-02-07 13:02] gauzila opened #2358 "A-painter doesn't work neither in FF nightly or Chromium VR with my Occulus touch but threejs examples do..."
I tried many threejs examples both which use the touch controller on FF Nightly and Chromium VR

- https://threejs.org/examples/webvr_vive_dragging.html
- https://threejs.org/examples/webvr_vive_paint.html
- https://threejs.org/examples/webvr_vive_sculpt.html

But when I launch these aframe examples my controllers Stay locked at the first position where they show up when toggling the VR mode...

-

[2017-02-07 13:17] delapuente commented on #2055
A-frame API is quite explicit rather than implicit so I would make it an attribute of `<a-sky>` primitive. But given the `<a-sky>` primitive is just a sphere I don't know if something like this can be expressed by the primitive API. Does it make sense, @ngokevin?

[2017-02-07 13:23] sebi-b commented on #2257
Hey! Thank you. I had a wrong/old version of a-frame.

[2017-02-07 13:29] dmarcos commented on #2354
the intent was not to make `a-video` a 1:1 mapping of the `video` tag. `a-video` creates a quad with a video texture applied to it. There are no controls and not sure if attributes like `playsinline` make even sense in the context of VR

[2017-02-07 13:29] Utopiah commented on #2358
It's a known Apainter issue, not Aframe, with an open PR cf https://github.com/aframevr/a-painter/issues/183

[2017-02-07 13:42] machenmusik commented on #2354
i do think the complaint about the warning is legitimate - as a compromise to get the video regression fix committed, i left in the warning, but to the author's point, src and srcObject on video element are not the only ways to attach valid sources to video objects.

[2017-02-07 13:44] machenmusik commented on #2354
@maissani per discussion, when you mention the reference in `a-assets`, you mean `video` not `a-video` correct?  as a compromise to get regression fix in, i left in a warning, but to the point, src and srcObject on the video element are not the only ways to provide sources to the video, so perhaps we should remove the warning

[2017-02-07 13:48] machenmusik commented on #2358
you can try https://a-painter.herokuapp.com to see if that works for you with Touch in the interim?

[2017-02-07 14:18] maissani commented on #2354
yes, i mean video

[2017-02-07 14:33] maissani commented on #2354
@dmarcos , you check the ```video``` tag not the ```a-video``` tag, in ```a-asset```.
Playinline take no sence to VR context and controlls too but first:
Playinline => Make able to play video on IOS
Controlls => The same + with video you should play and pause video  after loaded to make it playable in VR without mouse cotrols on CHROME on Android and on IOS.

Do you want me to send you IOS and Chr

[2017-02-07 14:35] maissani commented on #2354
This issue is only related to W3C compliance,
console.warn that hasn't to be there
or at least made aframe component a-asset able to read the source src from video source child ellement as the src of the video.

[2017-02-07 15:30] machenmusik commented on #2354
my preference, as per discussion on the original PR, is to let media elements do what they do and get A-Frame out of the validation business here by nixing the check and warning, rather than taking on the burden of reflecting changes throughout the evolution of media element usage in HTML5.  specifically, if using video element by selector reference, assume they know what they are doing and omit c

[2017-02-07 17:03] 7ammer commented on #2351
Hi @ngokevin thanks for your performance suggestions. Do you have any advice for collada models? Can you `mergeTo` a collada model?

[2017-02-07 19:28] ngokevin commented on #2227
I see, I think for now, it's OK to not clone and leave it up to the developer to do (`AFRAME.utils.clone`, pass in a string, or `JSON.parse(JSON.stringify())`

[2017-02-07 19:28] #2227 closed

[2017-02-07 23:25] ngokevin commented on #2281
@kfarr Thanks, will take a look right after this A-Frame release.

[2017-02-08 00:47] ngokevin commented on #2008
![img_3332](https://cloud.githubusercontent.com/assets/39342/22672380/644ce8cc-ec88-11e6-8990-8f774e602803.PNG)

![img_3331](https://cloud.githubusercontent.com/assets/39342/22672379/644c7a40-ec88-11e6-816d-9cded0680d13.PNG)

[2017-02-08 01:16] clavis-magna opened #2359 "div.a-enter-vr is blocking cursor clicks and grabbing on desktop"
div.a-enter-vr is extending across the width of the window and blocking cursor clicks / cursor grabbing events passing to the scene

- A-Frame Version: 0.4.0 (and also tested on master: 0.4.0 (Date 27-01-2017, Commit #dd9e073))
- Platform / Device: desktop mac/pc Chrome and firefox
- Reproducible Code Snippet or URL: reproducible on https://aframe.io/examples/

![div-a-enter-vr](https://cloud.gith

[2017-02-08 04:58] bethqiang opened #2360 "Entering then exiting VR mode removes icon on Chromium/Pixel"
**Description:**
Entering VR mode, then exiting VR mode (via the small x in the top left corner), causes the enter VR icon to disappear, with the inability to enter VR mode again. Tested with a variety of apps, from our own to A-Frame's examples, with the same result each time.

When testing with [https://aframe.io/examples/](https://aframe.io/examples/), the following errors result when entering

[2017-02-08 05:32] clavis-magna commented on #2359
overriding the style with an auto width has fixed it in the projects I am working on, but with limited testing across browsers thus far.

`<style>.a-enter-vr {width: auto !important}></style>`

[2017-02-08 20:24] kfarr commented on #2281
I've revised (edited down) and prepared a Medium post. It's ready to publish, but I'm in no hurry as I'm hoping that we'll have a stable Chromium build soon so people can actually use this: https://medium.com/@kfarr/38b0c86ed7b7

[2017-02-08 22:40] #1614 closed

[2017-02-09 00:00] donmccurdy opened #2365 "System schema bleeds into component schema."
When a system and component are registered with the same name, the schemas are merged. Additionally, an instance of the component is created on the scene (as well as an instance of the system). Is my understanding correct, that systems are intended to support configuration on the scene element?

([JSFiddle](https://jsfiddle.net/donmccurdy/wnL5g1ux/))

[code]

[code]

Result:
![screen shot 2017-02-

[2017-02-09 00:02] ngokevin commented on #2365
Thanks for the detailed issue. There's also https://github.com/aframevr/aframe/issues/1945

[2017-02-09 00:03] ngokevin commented on #2365
Scene should discern system vs. schema.

[2017-02-09 00:05] machenmusik commented on #2365
when you say `a-scene transmogrifier=...` you are creating a scene component.  systems are afaik not configurable in that manner...

[2017-02-09 00:09] donmccurdy commented on #2071
The minimum level of extra sauce, IMO, would be that system-components' `tick()` handlers are invoked after all components on scene descendants. Or, alternatively, one of the various tick ordering proposals.

[2017-02-09 00:12] donmccurdy commented on #2365
It is intended/documented to configure the system and not create a component (https://aframe.io/docs/0.4.0/core/systems.html#properties) but clearly a component has been created here :)

[2017-02-09 00:14] ngokevin commented on #2365
Yeah, systems actually are configurable on the scene (although updates currently don't work, needs a bit of a refactor). I'm going to keep poking at shadows if someone wants to look at this.

I think we have the scene wrap `initComponent` (https://github.com/aframevr/aframe/blob/master/src/core/a-entity.js#L339) to do a check to return if it's a component and a system is registered. If everything

[2017-02-09 00:29] caseyyee opened #2366 "document Entity.appendChild asyncrony in "Using JavaScript and DOM APIs""
- A-Frame Version: 4.1
- Platform / Device: windows
- Reproducible Code Snippet or URL:

[code]

Here's the pen http://codepen.io/caseyyee/pen/MJPamO

[2017-02-09 00:34] machenmusik commented on #2365
nowhere on that doc page do I see any example of syntax that would allow for configuring a system in the same manner one would configure. scene component.  so it is not at all clear to me, as a relative newcomer, that there is any expectation to be able to declare `a-scene systemName="systemProps: propValues"`

[2017-02-09 00:34] ngokevin commented on #2366
`appendChild` is async so we need to wait for the entity to attach and load.

This is not an issue if code is executed using components as recommended: https://aframe.io/docs/0.4.0/guides/using-javascript-and-dom-apis.html#where-to-place-javascript-code-for-a-frame

A note about this can be added here: https://aframe.io/docs/0.4.0/guides/using-javascript-and-dom-apis.html#adding-an-entity-with-app

[2017-02-09 00:36] ngokevin commented on #2365
Yeah, the documentation is out of date on that part. We can add a section about that.

[2017-02-09 00:43] dmarcos commented on #2366
You could also do:
[code]

[2017-02-09 01:01] machenmusik commented on #2365
so if you are saying you want that behavior, i would strongly suggest namespace prefix e.g. `a-scene system:name="propNames: propValues"` to specify and disambiguate.

[2017-02-09 01:05] dmarcos commented on #2365
Should we say that components that have a system are not applicable to `a-scene`?

[2017-02-09 01:10] ngokevin commented on #2365
Yeah. If there's a system, then the scene can't have the component form. There won't be a case where you want both the system and component on the scene because in ECS, the components apply to entities and systems are global like the scene.

[2017-02-09 01:22] ngokevin commented on #1945
Forward duping https://github.com/aframevr/aframe/issues/2365

[2017-02-09 01:22] #1945 closed

[2017-02-09 01:41] machenmusik commented on #2365
so what is the intended difference (if any) between system and scene component, except that systems get a reference injected into non-scene component instances, and do not need to be explicitly declared?

[2017-02-09 01:49] ngokevin commented on #2365
They might get extra features later on like lifecycle methods to manage subscribed entities. They are global singletons. They get initialized first. But the API itself is mostly the same as a component.

[2017-02-09 01:51] caseyyee commented on #2366
@dmarcos @ngokevin As a note, I was setting up entities in a component and none of the attributes were available in `init` or `play` callbacks either.

So you would have to listen for the loaded event within the component itself to avoid this in the same way?

[2017-02-09 01:52] ngokevin commented on #2365
I'll take this.

[2017-02-09 01:58] ngokevin commented on #2366
If the component depends on other components, you can set a dependency. Although we should maybe prioritize pos/rot/scale components. Try:

[code]

[2017-02-09 02:05] caseyyee commented on #2366
Alright thanks.   Last thing I will say is that this makes it quite inconvenient when dealing with collections of entities and have to work with them immediately.   Especially for cases where your generating content procedurally.

[2017-02-09 02:15] dmarcos commented on #2366
position, rotation and scale are `defaultComponents`. They should already initialize before than any other component.

[2017-02-09 02:24] ngokevin commented on #2366
Such is life when dealing with the DOM. Though the concept of systems is for exactly this, managing collections of entities. Possibly:

[code]

Those handlers don't exist yet. But right now, you can manually have entities subscribe to systems:

[code]

[2017-02-09 02:33] caseyyee commented on #2366
Oh cool.   Alright, that could be a solution.  Thanks!

[2017-02-09 02:50] #2365 closed

[2017-02-09 05:19] micdijkstra opened #2368 "Video autoplays even without attribute"
The following code will autoplay the video when it shouldn't:

[code]

- A-Frame Version: 0.4.0
- Platform / Device: Chrome / OSX
- Reproducible Code Snippet or URL: See above

[2017-02-09 21:04] ngokevin opened #2371 "Switch tracked-controls to use specific ID rather than idPrefix once browsers/SteamVR stabilize `OpenVR Gamepad` vs `OpenVR Controllers`"
**Description:**

https://github.com/aframevr/aframe/pull/2370

[2017-02-09 21:06] machenmusik commented on #2371
I do wonder whether there will actually be only one specific string, vs. "OpenVR Controller" "OpenVR Gamepad" "OpenVR Flight Stick" "OpenVR Tracker" -- it may be that we end up needing prefix support

[2017-02-10 00:22] #2307 closed

[2017-02-10 00:27] ngokevin commented on #1933
#1940 fixed

[2017-02-10 00:27] #1933 closed

[2017-02-10 09:46] fuleinist commented on #2165
@ngokevin, I am closing this ticket now since this is actually a react issue and here is the workaround : )

http://stackoverflow.com/questions/41557940/aframe-with-reactjs-playsinline-inject-for-ios10

[2017-02-10 10:47] dmarcos commented on #2371
Firefox is going to check the string to be consistent with Chrome

[2017-02-10 10:49] dmarcos commented on #2371
Using the string to identify controllers cannot be a long term solution. We have to come up with a better way. It might require changes in the Gamepad / WebVR APIs

[2017-02-10 21:53] #2165 closed

[2017-02-12 13:53] lennerd opened #2373 "Wrong placement of scene in embedded mode on mobile"
**How to reproduce:**
Visit [the example page](http://lennerd.taurus.uberspace.de/temp/webvr/mobile-embedded-bug.html) on a mobile device (I used an iPhone). Turn on the VR mode and tilt the phone to landscape mode. The VR mode is started, but instead of having a fullscreen filled with the canvas, the scene stucks at the position it was embedded at.

- A-Frame Version: 0.5.0
- Platform / Device: i

[2017-02-12 14:09] lennerd commented on #2373
Played around a little bit more. This problem can be easily fixed with a `position` set to `fixed`. Not sure where to add this changes without adding BC breaks. If you maybe have more insights for me, I can try to make a PR to fix this.

https://github.com/aframevr/aframe/blob/master/src/style/aframe.css#L49

Maybe we can add and remove the fullscreen class when the VR mode is entered ore exited w

[2017-02-12 16:57] 7dir commented on #1902
@blairmacintyre working code?
please

[2017-02-12 21:44] takahirox commented on #2287
I'm working on this except for documentation.

@donmccurdy
Why do you think default distanceModel should be linear though
default PannerNode.distanceModel (= THREE.PositionalAudio.distanceModel) is inverse?
https://developer.mozilla.org/en-US/docs/Web/API/PannerNode/distanceModel

[2017-02-13 00:53] donmccurdy commented on #2287
Oh, good point! `inverse` it is then.

[2017-02-13 01:02] takahirox commented on #2287
I see, thanks!

[2017-02-13 04:12] machenmusik commented on #2371
agree.  may be a challenge to get consistent values across OS, as not all controllers have same ID namespaces like USB PID/VID

[2017-02-13 04:19] LithodomosVR opened #2375 "Object.Assign causing error in React Native"
Use of Object.Assign causes React-Native to throw this error:

I see the error itself inside the android emulator upon launch.

- A-Frame Version: 0.5.0
- Platform / Device: OSX / Android Emulator Samsung Galazy S7

[code]

AppRegistry.registerComponent('test2', () => test2);

Apparently the only solution is to revert to earlier versions of React Native. Is there another alternative? Can the same

[2017-02-13 06:28] donmccurdy opened #2376 "Allow default lights to be disabled."
It would be nice to have the option of disabling default lights, without providing my own. For example, lighting and shadows can be baked into textures.

Proposed syntax:

[code]

[2017-02-13 06:36] ngokevin commented on #2376
`defaultLightsEnabled: false` sounds good (`*enabled` for consistency)

[2017-02-13 07:15] takahirox opened #2378 "Future problem of a-asset-item and gltf-model combination"
**Description:**

I've run into this problem while I was trying to bump Three.js to r84.

In r84 `THREE.GLTFLoader` expects that glTF file is loaded as arraybuffer.
(In r83 it loads as text)

https://github.com/mrdoob/three.js/blob/r84/examples/js/loaders/GLTFLoader.js#L28

But `a-asset-item` loads data as DOMString(text) in advance and keeps it in `THREE.Cache`.

`THREE.FileLoader` returns cached

[2017-02-13 07:53] ngokevin commented on #2378
3. sounds good to me.

[2017-02-13 07:55] ngokevin opened #2379 "Controller events being emitted double (e.g., vive-controls `gripup`)"
**Description:**

1. Add an event listener to a controller (`gripup`) in the `showcase/tracked-controls` example.
2. Add a console.log in the event listener.
3. Open the scene and press the button.

See the log shows up twice.

- A-Frame Version: 0.5.0
- Platform / Device: Vive / Windows / FF Nightly

[2017-02-13 12:50] donmccurdy commented on #2378
[Context for the change in r84](https://github.com/mrdoob/three.js/pull/10500#issuecomment-270354703).

I also like (3). Should responseType be set automatically, or do we just document that it needs to be done for glTF?

GLTFLoader has an internal cache, sort of, so disabling THREE.Cache for `gltf-model` only might be a 5th option.

[2017-02-13 13:29] machenmusik commented on #2379
is this due to https://github.com/aframevr/aframe/pull/2314#issuecomment-275812279 ?
specifically, if the event listeners for both `oculus-touch-controls` and `vive-controls` are active regardless of whether they are present...

[2017-02-13 14:18] donmccurdy commented on #2309
@tinchoforever can you tell if `AFRAME.utils.device.isMobile()` is returning `true` on your Nexus 9?

[2017-02-13 16:11] tinchoforever commented on #2309
Both return **false**
For some reason Aframe 2.0 let us use the accelerometer.

[2017-02-13 16:12] tinchoforever commented on #2309
Check the examples, now both have the alert with the result.
Aframe 4 : AFRAME.utils.device.isMobile()
Aframe 2 AFRAME.utils.isMobile()

[2017-02-13 16:30] tinchoforever commented on #2309
What do you think ? @donmccurdy

[2017-02-13 16:33] dmarcos commented on #2309
@tinchoforever What do you get when you do `navigator.userAgent` on console?

[2017-02-13 16:43] tinchoforever commented on #2309
Mozilla.50 Linux Android 6.0.1 Nexus 9, Apple WebKit, Chrome 49

[2017-02-13 16:44] tinchoforever commented on #2309
Mozilla/5.0 (Linux; Android 6.0; Nexus 9 Build/MRA58K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.105 Safari/537.36

[2017-02-13 18:01] sressler opened #2381 "Firefox Nightly versus Chrome behavior difference"
The idea here is to click over a part (it's a CAD system looking complicated object made of many pieces) and have the piece clicked move to the side (kind of like an exploded parts diagram).
Works fine on Chrome, on Nightly it jumps instantly to new position, and what it's supposed to do is animate to new position (which works with Chrome).

JS code to have parts listen for click and emit a "move"

[2017-02-13 19:21] dmarcos commented on #2309
That's the problem. Your userAgent string does not include the `Mobile` keyword. Apparently not all the Android tablets report the browser as mobile. I found some references to the problem:

https://meta.discourse.org/t/my-android-tablet-was-not-detected-as-a-mobile-device/26734/14

http://stackoverflow.com/questions/5341637/how-do-detect-android-tablets-in-general-useragent

[2017-02-13 20:32] dmarcos commented on #2309
@tinchoforever Can you try if https://github.com/aframevr/aframe/issues/2382 fixes your issue?

[2017-02-14 04:31] ngokevin commented on #2379
Probably. Need to poke around to think of the best solution. @dmarcos would know best. Maybe introduce a property to force event listening that will be disabled by default, but enabled by replayers.

What I don't think will work is trying to detect whether a different controller exists, that might be messy.

[2017-02-14 05:01] takahirox commented on #2378
IMO, it'd be nice to have 3. and 4.

We provide a way to set responseType in `a-asset-item` like this

    <a-asset-item id="model" responseType="arraybuffer" src="model.gltf"></a-asset-item>

It'd be worth for A-Frame non-core components which need to load data as non-text.
(`a-mmd` I've making is actually one of them)
They document the data type.

And also `a-asset-item` automatically sets appro

[2017-02-14 05:11] takahirox commented on #2287
@wildaces215
Panner options has been added.
Do you wanna update the documentation for it? :D

https://aframe.io/docs/0.5.0/components/sound.html

[2017-02-14 05:53] machenmusik commented on #2379
i think if you're not going to emulate the gamepad api (which would naturally emulate presence) then you need to inject something into the appropriate isControllerPresent to only attach when actively emulating, rather than leaving multiple instances of controls components with active listeners.  brings back to mind some of the earlier debates LOL.  note that if you have real vive and emulate touch